Repository openstack/kolla: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-mariadb, kolla-ansible-centos8-source-masakari, kolla-ansible-centos8-source-ovn, kolla-ansible-centos8-source-prometheus-efk, kolla-ansible-centos8-source-kvm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ceph, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Path conditions:
  kolla-base: (unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$) or (unless all of: ^.*\.rst$, ^doc/.*)
  kolla-ansible-centos8-source-bifrost: any of: ^docker\/(base|bifrost|openstack-base)\/.*
  kolla-ansible-centos8-source-ceph-ansible: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-centos8-source-upgrade-ceph-ansible: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-centos8-source-zun: any of: ^docker\/(base|cinder|etcd|iscsid|kuryr|openstack-base|zun)\/.*
  kolla-ansible-centos8-source-scenario-nfv: any of: ^docker\/(base|barbican|heat|mistral|openstack-base|redis|tacker)\/.*
  kolla-ansible-centos8-source-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-centos8-source-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-centos8-source-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-centos8-source-masakari: any of: ^docker/(base|masakari)/
  kolla-ansible-centos8-source-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-centos8-source-prometheus-efk: any of: ^docker/(base|elasticsearch|grafana|kibana|prometheus)/
  kolla-ansible-centos8-source-kvm: any of: ^docker/nova/
  kolla-ansible-ubuntu-source-zun: any of: ^docker\/(zun|kuryr)\/.*
  kolla-ansible-ubuntu-source-ceph: any of: ^docker\/(ceph|cinder)\/.*
  kolla-build-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*

ironic-neutron-agent: enable for Debuntu binary
  doc/source/matrix_aarch64.csv
  doc/source/matrix_x86.csv
  docker/networking-baremetal/ironic-neutron-agent/Dockerfile.j2
  docker/neutron/neutron-server/Dockerfile.j2
  kolla/image/build.py
  releasenotes/notes/debuntu-ironic-neutron-agent-6534d616b37643a8.yaml
Due: kolla-base, kolla-ansible-centos8-source-ovn, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Allow build debian/ubuntu-binary cloudkitty images
  docker/cloudkitty/cloudkitty-api/Dockerfile.j2
  docker/cloudkitty/cloudkitty-base/Dockerfile.j2
  docker/cloudkitty/cloudkitty-processor/Dockerfile.j2
  kolla/image/build.py
  releasenotes/notes/cloudkitty-debuntu-binary-09b182fc672b7d77.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Debian/Ubuntu: handle APT keys in proper way
  docker/base/Dockerfile.j2
  kolla/template/methods.py
  kolla/template/repos.yaml
  kolla/tests/test_methods.py
  releasenotes/notes/apt-keys-bb7c8678fc6d908b.yaml
Due: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-mariadb, kolla-ansible-centos8-source-masakari, kolla-ansible-centos8-source-ovn, kolla-ansible-centos8-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Unify curl options
  docker/base/Dockerfile.j2
  docker/base/curlrc
  docker/fluentd/Dockerfile.j2
  docker/kafka/Dockerfile.j2
  docker/kolla-toolbox/Dockerfile.j2
  docker/mariadb/mariadb-clustercheck/Dockerfile.j2
  docker/monasca/monasca-grafana/Dockerfile.j2
  docker/prometheus/prometheus-alertmanager/Dockerfile.j2
  docker/prometheus/prometheus-blackbox-exporter/Dockerfile.j2
  docker/prometheus/prometheus-cadvisor/Dockerfile.j2
  docker/prometheus/prometheus-elasticsearch-exporter/Dockerfile.j2
  docker/prometheus/prometheus-haproxy-exporter/Dockerfile.j2
  docker/prometheus/prometheus-memcached-exporter/Dockerfile.j2
  docker/prometheus/prometheus-mtail/Dockerfile.j2
  docker/prometheus/prometheus-mysqld-exporter/Dockerfile.j2
  docker/prometheus/prometheus-node-exporter/Dockerfile.j2
  docker/prometheus/prometheus-openstack-exporter/Dockerfile.j2
  docker/prometheus/prometheus-server/Dockerfile.j2
  docker/skydive/skydive-base/Dockerfile.j2
  docker/storm/storm-base/Dockerfile.j2
  docker/zookeeper/Dockerfile.j2
  docker/zun/zun-cni-daemon/Dockerfile.j2
Due: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-mariadb, kolla-ansible-centos8-source-masakari, kolla-ansible-centos8-source-ovn, kolla-ansible-centos8-source-prometheus-efk, kolla-ansible-ubuntu-source-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Revert "Update code to Jinja 3.0 style"
  kolla/template/filters.py
  kolla/template/methods.py
  requirements.txt
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

docs: add feature freeze to release management
  doc/source/contributor/release-management.rst
Due: none

Revert "Config: Set default home to /var/lib/{user}"
  docker/base/Dockerfile.j2
Due: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-mariadb, kolla-ansible-centos8-source-masakari, kolla-ansible-centos8-source-ovn, kolla-ansible-centos8-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

haproxy: Use haproxy 2.2.x
  docker/base/Dockerfile.j2
  docker/haproxy/Dockerfile.j2
  kolla/template/repos.yaml
  releasenotes/notes/haproxy-22-aeac8a3fa330f972.yaml
Due: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-mariadb, kolla-ansible-centos8-source-masakari, kolla-ansible-centos8-source-ovn, kolla-ansible-centos8-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Install UCA GPG key
  docker/base/Dockerfile.j2
Due: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-mariadb, kolla-ansible-centos8-source-masakari, kolla-ansible-centos8-source-ovn, kolla-ansible-centos8-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Fix Elasticsearch Curator
  docker/elasticsearch/elasticsearch-curator/Dockerfile.j2
  releasenotes/notes/fix-elasticsearch-curator-7876896ebbd41ad3.yaml
Due: kolla-base, kolla-ansible-centos8-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Move clustercheck script to mariadb-base
  docker/mariadb/mariadb-base/Dockerfile.j2
  docker/mariadb/mariadb-clustercheck/Dockerfile.j2
Due: kolla-base, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-mariadb, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

[doc] Ubuntu has Ceph Pacific in Wallaby+
  doc/source/ceph_versions.csv
Due: none

[doc] Fix Ceph sources
  doc/source/ceph_versions.csv
Due: none

[CI] Fix periodic publish of centos8 images
  tests/playbooks/run.yml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

ceph: Update CentOS packages to Pacific
  doc/source/ceph_versions.csv
  docker/base/Dockerfile.j2
  kolla/template/methods.py
  kolla/template/repos.yaml
  kolla/tests/test_methods.py
  releasenotes/notes/centos-ceph-pacific-40c55be6721cb1ac.yaml
Due: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-mariadb, kolla-ansible-centos8-source-masakari, kolla-ansible-centos8-source-ovn, kolla-ansible-centos8-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Pin td-agent to 4.0.* also on Debian
  docker/base/apt_preferences.debian
  releasenotes/notes/bug-1930867-debian-c01f2cd22d8c10f0.yaml
Due: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-mariadb, kolla-ansible-centos8-source-masakari, kolla-ansible-centos8-source-ovn, kolla-ansible-centos8-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

debian: Change influxdb, rabbitmq and td-agent repos to bullseye
  kolla/template/repos.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

toolbox: Move custom Ansible config to global location
  docker/kolla-toolbox/Dockerfile.j2
  docker/kolla-toolbox/extend_start.sh
  releasenotes/notes/bug-1942846-1216faacacba94be.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

[CI] Drop support for publishing versioned image tags
  tests/playbooks/run.yml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

toolbox: Move to ansible-core 2.11 and collections
  docker/kolla-toolbox/Dockerfile.j2
  docker/kolla-toolbox/ansible.cfg
  docker/kolla-toolbox/requirements.yml
  releasenotes/notes/ansible-core-toolbox-e34b31422474684b.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Do not use distro_python_version for interpreter
  docker/macros.j2
  docker/storm/storm-base/Dockerfile.j2
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Add proxysql image
  docker/base/Dockerfile.j2
  docker/base/proxysql.repo
  docker/proxysql/Dockerfile.j2
  docker/proxysql/kolla_extend_start
  docker/proxysql/kolla_proxysql_config_sync
  docker/proxysql/kolla_proxysql_start
  kolla/common/config.py
  kolla/template/repos.yaml
  releasenotes/notes/proxysql-001027572dcec118.yaml
Due: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-mariadb, kolla-ansible-centos8-source-masakari, kolla-ansible-centos8-source-ovn, kolla-ansible-centos8-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Fix stale commented-out repo entry
  docker/base/sources.list.ubuntu
Due: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-mariadb, kolla-ansible-centos8-source-masakari, kolla-ansible-centos8-source-ovn, kolla-ansible-centos8-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

[debian] Use upstream MariaDB
  kolla/template/repos.yaml
  releasenotes/notes/debian-mariadb-upstream-75e05cbdaa013abe.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

[debian] Use upstream MariaDB
  docker/base/Dockerfile.j2
  kolla/template/repos.yaml
  releasenotes/notes/debian-mariadb-upstream-75e05cbdaa013abe.yaml
Due: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-mariadb, kolla-ansible-centos8-source-masakari, kolla-ansible-centos8-source-ovn, kolla-ansible-centos8-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Debian: use Xena binary packages
  docker/base/Dockerfile.j2
Due: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-mariadb, kolla-ansible-centos8-source-masakari, kolla-ansible-centos8-source-ovn, kolla-ansible-centos8-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Avoid the use of --force in groupadd
  docker/base/Dockerfile.j2
  kolla/common/config.py
Due: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-mariadb, kolla-ansible-centos8-source-masakari, kolla-ansible-centos8-source-ovn, kolla-ansible-centos8-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Move all distros to upstream MariaDB 10.5
  docker/base/Dockerfile.j2
  docker/base/mariadb-aarch64.repo
  docker/base/mariadb.repo
  docker/mariadb/mariadb-server/Dockerfile.j2
  docker/mariadb/mariadb-server/security_reset.expect
  docker/mariadb/mariadb-server/security_reset.expect.debian
  kolla/template/repos.yaml
  releasenotes/notes/centos-mariadb-upstream-971216b820ee1f1a.yaml
  releasenotes/notes/ubuntu-mariadb-10.5-38631eae76f6d091.yaml
Due: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-mariadb, kolla-ansible-centos8-source-masakari, kolla-ansible-centos8-source-ovn, kolla-ansible-centos8-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Build source type images by default
  doc/source/admin/image-building.rst
  kolla/common/config.py
  releasenotes/notes/default-type-source-f0c5cf1d97e2f345.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

logstash: pin to 7.9.* for Elasticsearch OSS compatibility
  docker/base/apt_preferences.debian
  docker/base/apt_preferences.ubuntu
  docker/logstash/Dockerfile.j2
  releasenotes/notes/logstash-7.9-30fd90e921037a8a.yaml
Due: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-mariadb, kolla-ansible-centos8-source-masakari, kolla-ansible-centos8-source-ovn, kolla-ansible-centos8-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source
