Repository openstack/kolla: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-rocky9-kvm, kolla-ansible-ubuntu-source-ceph-ansible, kolla-ansible-ubuntu-source-upgrade-ceph-ansible, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-ansible-ubuntu-source-kvm, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

kolla-base:
  parent: base
  timeout: 10800
  post-timeout: 10800
  pre-run: tests/playbooks/pre.yml
  run: tests/playbooks/run.yml
  post-run: tests/playbooks/post.yml
  attempts: 5
  vars:
    publisher: false
  extra-vars:
    kolla_logs_dir: '{{ zuul_output_dir }}/logs/kolla'
    kolla_build_logs_dir: '{{ kolla_logs_dir }}/build'
  ...

kolla-build-no-infra-wheels-base:
  parent: kolla-base
  vars:
    use_infra_wheels_mirror: false

kolla-ansible-ubuntu-source-ceph-ansible:
  vars:
    kolla_python_version: 3.8

kolla-ansible-ubuntu-source-upgrade-ceph-ansible:
  vars:
    kolla_python_version: 3.8

kolla-ansible-ubuntu-source-zun:
  vars:
    kolla_python_version: 3.8

kolla-ansible-ubuntu-source-ironic:
  vars:
    kolla_python_version: 3.8

kolla-ansible-ubuntu-source-swift:
  vars:
    kolla_python_version: 3.8

kolla-ansible-ubuntu-source-mariadb:
  vars:
    kolla_python_version: 3.8

kolla-ansible-ubuntu-source-masakari:
  vars:
    kolla_python_version: 3.8

kolla-ansible-ubuntu-source-linuxbridge:
  vars:
    kolla_python_version: 3.8

kolla-ansible-ubuntu-source-ovn:
  vars:
    kolla_python_version: 3.8

kolla-ansible-ubuntu-source-prometheus-efk:
  vars:
    kolla_python_version: 3.8

kolla-ansible-ubuntu-source-kvm:
  vars:
    kolla_python_version: 3.8

kolla-build-centos-binary:
  parent: kolla-base
  nodeset: kolla-centos
  voting: false
  vars:
    action: build
    base_distro: centos
    install_type: binary

kolla-publish-centos-binary:
  parent: kolla-build-centos-binary
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-centos-source:
  parent: kolla-base
  nodeset: kolla-centos
  vars:
    action: build
    base_distro: centos
    install_type: source

kolla-publish-centos-source:
  parent: kolla-build-centos-source
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-ubuntu-binary:
  parent: kolla-base
  nodeset: kolla-ubuntu
  voting: false
  vars:
    action: build
    base_distro: ubuntu
    install_type: binary

kolla-publish-ubuntu-binary:
  parent: kolla-build-ubuntu-binary
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-ubuntu-source:
  parent: kolla-base
  nodeset: kolla-ubuntu
  vars:
    action: build
    base_distro: ubuntu
    install_type: source

kolla-publish-ubuntu-source:
  parent: kolla-build-ubuntu-source
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-oraclelinux-binary:
  parent: kolla-base
  nodeset: kolla-centos
  voting: false
  vars:
    action: build
    base_distro: oraclelinux
    install_type: binary

kolla-publish-oraclelinux-binary:
  parent: kolla-build-oraclelinux-binary
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

[follow-up] Use full binary path when invoking ip
  docker/letsencrypt/letsencrypt-lego/sync-and-update-certificate.sh
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Rework horizon image to support local_settings.d
  docker/horizon/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Update .gitreview for unmaintained/yoga
  .gitreview
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

reno: Update master for unmaintained/yoga
  releasenotes/source/yoga.rst
Due: none

stable-only: Drop upgrade testing
  .zuul.d/debian.yaml
  .zuul.d/ubuntu.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Drop publishing and periodic jobs
  .zuul.d/base.yaml
  .zuul.d/centos.yaml
  .zuul.d/debian.yaml
  .zuul.d/project.yaml
  .zuul.d/rocky.yaml
  .zuul.d/ubuntu.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

add: cross-compile support
  doc/source/admin/image-building.rst
  kolla/common/config.py
  kolla/image/tasks.py
  kolla/tests/test_build.py
  releasenotes/notes/support-image-cross-compile-3b1dc348d742e96d.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

ceph: Update EL9 version to Reef, adapt docs
  doc/source/ceph_versions.csv
  docker/base/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-ceph-ansible, kolla-ansible-ubuntu-source-upgrade-ceph-ansible, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

docs: update monthly stable releases loop
  doc/source/contributor/release-management.rst
Due: none

Remove the Prometheus HAProxy exporter image
  docker/prometheus/prometheus-haproxy-exporter/Dockerfile.j2
  releasenotes/notes/remove-prometheus-haproxy-exporter-22d5af88af7e4a9d.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Move curl sources to sources.py
  docker/etcd/Dockerfile.j2
  docker/letsencrypt/letsencrypt-lego/Dockerfile.j2
  docker/prometheus/prometheus-alertmanager/Dockerfile.j2
  docker/prometheus/prometheus-blackbox-exporter/Dockerfile.j2
  docker/prometheus/prometheus-cadvisor/Dockerfile.j2
  docker/prometheus/prometheus-elasticsearch-exporter/Dockerfile.j2
  docker/prometheus/prometheus-memcached-exporter/Dockerfile.j2
  docker/prometheus/prometheus-msteams/Dockerfile.j2
  docker/prometheus/prometheus-mtail/Dockerfile.j2
  docker/prometheus/prometheus-mysqld-exporter/Dockerfile.j2
  docker/prometheus/prometheus-node-exporter/Dockerfile.j2
  docker/prometheus/prometheus-openstack-exporter/Dockerfile.j2
  docker/prometheus/prometheus-ovn-exporter/Dockerfile.j2
  docker/prometheus/prometheus-v2-server/Dockerfile.j2
  kolla/common/config.py
  kolla/common/sources.py
  kolla/image/kolla_worker.py
  kolla/image/tasks.py
  kolla/tests/test_build.py
  releasenotes/notes/move-curl-sources-d8fac9c8c57445cf.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

opensearch: set OPENSEARCH_INITIAL_ADMIN_PASSWORD
  docker/opensearch/opensearch/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-prometheus-opensearch, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Install ironic-inspector in bifrost
  docker/bifrost/bifrost-base/Dockerfile.j2
  releasenotes/notes/reenable-ironic-inspector-in-bifrost.yml-5e01af1e96528c62.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

opensearch: set OPENSEARCH_INITIAL_ADMIN_PASSWORD
  docker/opensearch/opensearch-dashboards/Dockerfile.j2
  docker/opensearch/opensearch/Dockerfile.j2
  kolla/image/build.py
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-prometheus-opensearch, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Use openstack-exporter 1.7.0
  kolla/common/sources.py
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

toolbox: Improve retry loop for ansible-galaxy
  docker/kolla-toolbox/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Remove calls to libvirt repo
  docker/ceilometer/ceilometer-compute/Dockerfile.j2
  docker/masakari/masakari-monitors/Dockerfile.j2
  docker/neutron/neutron-mlnx-agent/Dockerfile.j2
  docker/nova/nova-base/Dockerfile.j2
  docker/nova/nova-compute/Dockerfile.j2
  docker/nova/nova-libvirt/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-kvm, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-kvm, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

opensearch: drop unnecessary workarounds
  docker/opensearch/opensearch-dashboards/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-prometheus-opensearch, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Mark bifrost as buildable and build containers from correct tarballs
  kolla/common/config.py
  kolla/image/build.py
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

toolbox: Bump ansible-core to 2.15
  docker/kolla-toolbox/Dockerfile.j2
  releasenotes/notes/ansible-core-2-15-toolbox-6317578773bea1c5.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

openstack-base: Pin tooz to 5.0.0
  docker/openstack-base/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-source-ceph-ansible, kolla-ansible-ubuntu-source-upgrade-ceph-ansible, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-ovn, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Fix aarch64 builds
  kolla/common/config.py
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Bump rabbitmq to 3.13
  docker/base/apt_preferences.debian
  docker/base/apt_preferences.ubuntu
  docker/kolla-toolbox/Dockerfile.j2
  docker/rabbitmq/Dockerfile.j2
  releasenotes/notes/rabbitmq-3-13-56852b220fd50bc0.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-ceph-ansible, kolla-ansible-ubuntu-source-upgrade-ceph-ansible, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Revert "openstack-base: Pin tooz to 5.0.0"
  docker/openstack-base/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-source-ceph-ansible, kolla-ansible-ubuntu-source-upgrade-ceph-ansible, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-ovn, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Upgraded prometheus-alertmanager to version 0.27.0.
  kolla/common/sources.py
  releasenotes/notes/prometheus-alertmanager-0.27.0-6ac10d29c6911d80.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Update prometheus-elasticsearch-exporter to version 1.7.0.
  kolla/common/sources.py
  releasenotes/notes/prometheus-elasticsearch-exporter-1.7.0-d53ba37689820cc9.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Update prometheus-memcached-exporter to version 0.14.2.
  kolla/common/sources.py
  releasenotes/notes/prometheus-memcached-exporter-0.14.2-1e017c7d392feff5.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Update prometheus-mtail to version 3.0.0-rc54.
  kolla/common/sources.py
  releasenotes/notes/prometheus-mtail-3.0.0-rc54-eda9c10283d9fc61.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Update prometheus-mysqld-exporter to version 0.15.1.
  kolla/common/sources.py
  releasenotes/notes/prometheus-mysqld-exporter-0.15.1-d716e8d3dc1d3ba1.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Update prometheus-cadvisor to version 0.49.1.
  kolla/common/sources.py
  releasenotes/notes/prometheus-cadvisor-0.49.1-63d9bc4cd1be8a82.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Update prometheus-v2-server to version 2.50.1.
  kolla/common/sources.py
  releasenotes/notes/prometheus-v2-server-2.50.1-119bdb84a9c25266.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Bump proxysql to 2.6.x
  doc/source/contributor/versions.rst
  docker/base/Dockerfile.j2
  docker/base/proxysql.repo
  kolla/template/repos.yaml
  releasenotes/notes/bump-proxysql-version-9e646a32db57a451.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-ceph-ansible, kolla-ansible-ubuntu-source-upgrade-ceph-ansible, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

[release] Use UCA Caracal
  docker/base/sources.list.ubuntu
  docker/base/sources.list.ubuntu.aarch64
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-source-ceph-ansible, kolla-ansible-ubuntu-source-upgrade-ceph-ansible, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

openvswitch: Move db conversion from kolla-ansible
  docker/openvswitch/openvswitch-db-server/extend_start.sh
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-source-ovn, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Path conditions:
  kolla-base: (unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$) or (unless all of: ^.*\.rst$, ^doc/.*)
  kolla-build-no-infra-wheels-base: unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$
  kolla-ansible-debian-source-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-rocky9-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-rocky9-zun: any of: ^docker\/(base|cinder|etcd|iscsid|kuryr|openstack-base|zun)\/.*
  kolla-ansible-rocky9-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-rocky9-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-rocky9-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-rocky9-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-rocky9-octavia: any of: ^docker/(base|neutron|octavia|openstack-base|openvswitch|ovn)/
  kolla-ansible-rocky9-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-rocky9-prometheus-opensearch: any of: ^docker/(base|opensearch|fluentd|grafana|prometheus)/
  kolla-ansible-rocky9-kvm: any of: ^docker/nova/
  kolla-ansible-ubuntu-source-ceph-ansible: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-ubuntu-source-upgrade-ceph-ansible: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-ubuntu-source-zun: any of: ^docker\/(base|cinder|etcd|iscsid|kuryr|openstack-base|zun)\/.*
  kolla-ansible-ubuntu-source-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-ubuntu-source-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-ubuntu-source-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-ubuntu-source-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-ubuntu-source-linuxbridge: any of: ^docker/(base|neutron|openstack-base)/
  kolla-ansible-ubuntu-source-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-source-prometheus-efk: any of: ^docker/(base|elasticsearch|grafana|kibana|prometheus)/
  kolla-ansible-ubuntu-source-kvm: any of: ^docker/nova/
  kolla-build-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
