Repository openstack/kolla: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-mariadb, kolla-ansible-centos8-source-masakari, kolla-ansible-centos8-source-ovn, kolla-ansible-centos8-source-prometheus-efk, kolla-ansible-centos8-source-kvm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ceph, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

kolla-base:
  parent: base
  timeout: 10800
  post-timeout: 10800
  pre-run: tests/playbooks/pre.yml
  run: tests/playbooks/run.yml
  post-run: tests/playbooks/post.yml
  attempts: 5
  vars:
    publisher: false
  extra-vars:
    kolla_logs_dir: '{{ zuul_output_dir }}/logs/kolla'
    kolla_build_logs_dir: '{{ kolla_logs_dir }}/build'

kolla-build-centos-binary:
  parent: kolla-base
  nodeset: kolla-centos
  voting: false
  vars:
    action: build
    base_distro: centos
    install_type: binary

kolla-publish-centos-binary:
  parent: kolla-build-centos-binary
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-centos-source:
  parent: kolla-base
  nodeset: kolla-centos
  vars:
    action: build
    base_distro: centos
    install_type: source

kolla-publish-centos-source:
  parent: kolla-build-centos-source
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-ubuntu-binary:
  parent: kolla-base
  nodeset: kolla-ubuntu
  voting: false
  vars:
    action: build
    base_distro: ubuntu
    install_type: binary

kolla-publish-ubuntu-binary:
  parent: kolla-build-ubuntu-binary
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-ubuntu-source:
  parent: kolla-base
  nodeset: kolla-ubuntu
  vars:
    action: build
    base_distro: ubuntu
    install_type: source

kolla-publish-ubuntu-source:
  parent: kolla-build-ubuntu-source
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-oraclelinux-binary:
  parent: kolla-base
  nodeset: kolla-centos
  voting: false
  vars:
    action: build
    base_distro: oraclelinux
    install_type: binary

kolla-publish-oraclelinux-binary:
  parent: kolla-build-oraclelinux-binary
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-oraclelinux-source:
  parent: kolla-base
  nodeset: kolla-centos
  vars:
    action: build
    base_distro: oraclelinux
    install_type: source

kolla-publish-oraclelinux-source:
  parent: kolla-build-oraclelinux-source
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

neutron-openvswitch-agent: openvswitch is already installed
  docker/neutron/neutron-openvswitch-agent/Dockerfile.j2
Due: kolla-base, kolla-ansible-centos8-source-ovn, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Debian: enable OVN images for AArch64
  doc/source/matrix_aarch64.csv
  kolla/image/build.py
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

gnocchi: do not install cradox
  docker/gnocchi/gnocchi-base/Dockerfile.j2
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Debian: we want Openvswitch and ovn from backports
  docker/base/apt_preferences.debian
Due: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-mariadb, kolla-ansible-centos8-source-masakari, kolla-ansible-centos8-source-ovn, kolla-ansible-centos8-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Use MariaDB 10.6
  docker/base/mariadb-aarch64.repo
  docker/base/mariadb.repo
  kolla/template/repos.yaml
  releasenotes/notes/mariadb-10.6-c79b0ad5791256ad.yaml
Due: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-mariadb, kolla-ansible-centos8-source-masakari, kolla-ansible-centos8-source-ovn, kolla-ansible-centos8-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Make cron's logrotate schedule configurable
  docker/cron/Dockerfile.j2
  docker/cron/extend_start.sh
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CentOS: do not use advanced-virtualization repo
  docker/base/Dockerfile.j2
  kolla/template/repos.yaml
Due: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-mariadb, kolla-ansible-centos8-source-masakari, kolla-ansible-centos8-source-ovn, kolla-ansible-centos8-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

reno: polish release notes for Xena
  releasenotes/notes/add-masakari-dashboard-eae5f216888e5fe0.yaml
  releasenotes/notes/bug-1933770-c08c6804aa5d9e61.yaml
  releasenotes/notes/bug-1934753-98ec4951a0f7373b.yaml
  releasenotes/notes/debian-bullseye-4fedf3b3638783de.yaml
  releasenotes/notes/deprecate-ppc64le-2b7b642e79bddd66.yaml
  releasenotes/notes/deprecate-tempest-and-rally-0647efa7209cf03a.yaml
  releasenotes/notes/ovn-debian-x86-d584f88b9e94b226.yaml
  releasenotes/notes/ubuntu-mariadb-10.5-38631eae76f6d091.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Add Swift lock path in Swift containers
  docker/swift/swift-base/Dockerfile.j2
  releasenotes/notes/fix-lock-swift-path-9b743367e4014f92.yaml
Due: kolla-base, kolla-ansible-centos8-source-swift, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

horizon: add various dashboard plugins for ubuntu/binary
  docker/horizon/Dockerfile.j2
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

docs: weekly meetings page
  README.rst
  doc/source/conf.py
  doc/source/contributor/contributing.rst
  doc/source/contributor/index.rst
  doc/source/contributor/meeting.rst
Due: none

nova-compute: trim image a bit on CentOS
  docker/nova/nova-compute/Dockerfile.j2
  releasenotes/notes/bug-1946801-5f3af3c44e567fcf.yaml
Due: kolla-base, kolla-ansible-centos8-source-kvm, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Upgrade pip and friends in source images
  docker/kolla-toolbox/Dockerfile.j2
  docker/openstack-base/Dockerfile.j2
  releasenotes/notes/upgrade-pip-44352805d60bbf7f.yaml
Due: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-ovn, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

document that binary images are now deprecated
  doc/source/admin/image-building.rst
  releasenotes/notes/yoga-prelude-4773bac540443b41.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

nova: drop pypowervm dependency
  docker/nova/nova-base/Dockerfile.j2
  releasenotes/notes/nova-drop-pypowervm-256048c2a9cd594d.yaml
Due: kolla-base, kolla-ansible-centos8-source-kvm, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

build: 5s delay + note when binary images are used
  kolla/image/build.py
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

switch source images to follow master branches
  kolla/common/config.py
  kolla/image/build.py
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Debian: enable building Bifrost images on x86-64
  doc/source/matrix_aarch64.csv
  doc/source/matrix_x86.csv
  kolla/image/build.py
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

qdrouterd: add release note with deprecation notice
  releasenotes/notes/deprecate-qdrouterd-b0dc549833e6d7a6.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Ensure nvme-cli is present in nova-compute images
  docker/nova/nova-compute-ironic/Dockerfile.j2
  docker/nova/nova-compute/Dockerfile.j2
  releasenotes/notes/nova-nvme-cli-bf940ad0005cac80.yaml
Due: kolla-base, kolla-ansible-centos8-source-kvm, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Add HTTP proxy support for fetching APT keys
  docker/base/Dockerfile.j2
Due: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-mariadb, kolla-ansible-centos8-source-masakari, kolla-ansible-centos8-source-ovn, kolla-ansible-centos8-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

monasca-grafana: Fix build errors
  docker/monasca/monasca-grafana/Dockerfile.j2
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Bump up Alertmanager version
  docker/prometheus/prometheus-alertmanager/Dockerfile.j2
  releasenotes/notes/bump-alertmanager-to-0.23-42e3e3894158d7d0.yaml
Due: kolla-base, kolla-ansible-centos8-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Workaround setuptools==60.0.0 breakages
  docker/base/Dockerfile.j2
Due: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-mariadb, kolla-ansible-centos8-source-masakari, kolla-ansible-centos8-source-ovn, kolla-ansible-centos8-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Drop vmtp
  README.rst
  doc/source/matrix_aarch64.csv
  doc/source/matrix_x86.csv
  docker/vmtp/Dockerfile.j2
  docker/vmtp/vmtp_sudoers
  kolla/common/config.py
  kolla/image/build.py
  releasenotes/notes/drop-vmtp-3a889e0fa7a7f8ee.yaml
  roles/kolla-build-config/defaults/main.yml
  tools/version-check.py
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Revert "Workaround setuptools==60.0.0 breakages"
  docker/base/Dockerfile.j2
Due: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-mariadb, kolla-ansible-centos8-source-masakari, kolla-ansible-centos8-source-ovn, kolla-ansible-centos8-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Path conditions:
  kolla-base: (unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$) or (unless all of: ^.*\.rst$, ^doc/.*)
  kolla-ansible-centos8-source-bifrost: any of: ^docker\/(base|bifrost|openstack-base)\/.*
  kolla-ansible-centos8-source-ceph-ansible: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-centos8-source-upgrade-ceph-ansible: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-centos8-source-zun: any of: ^docker\/(base|cinder|etcd|iscsid|kuryr|openstack-base|zun)\/.*
  kolla-ansible-centos8-source-scenario-nfv: any of: ^docker\/(base|barbican|heat|mistral|openstack-base|redis|tacker)\/.*
  kolla-ansible-centos8-source-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-centos8-source-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-centos8-source-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-centos8-source-masakari: any of: ^docker/(base|masakari)/
  kolla-ansible-centos8-source-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-centos8-source-prometheus-efk: any of: ^docker/(base|elasticsearch|grafana|kibana|prometheus)/
  kolla-ansible-centos8-source-kvm: any of: ^docker/nova/
  kolla-ansible-ubuntu-source-zun: any of: ^docker\/(zun|kuryr)\/.*
  kolla-ansible-ubuntu-source-ceph: any of: ^docker\/(ceph|cinder)\/.*
  kolla-build-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
