Repository openstack/kolla: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-base, tripleo-build-containers-centos-7, kolla-ansible-bifrost-centos-source, kolla-ansible-centos-source-ceph, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ceph, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

kolla-base:
  parent: base
  timeout: 10800
  post-timeout: 10800
  pre-run: tests/playbooks/pre.yml
  run: tests/playbooks/run.yml
  post-run: tests/playbooks/post.yml
  attempts: 5
  vars:
    publisher: false
  extra-vars:
    kolla_logs_dir: '{{ zuul_output_dir }}/logs/kolla'
    kolla_build_logs_dir: '{{ kolla_logs_dir }}/build'

tripleo-build-containers-centos-7:
  voting: false

kolla-build-centos-binary:
  parent: kolla-base
  nodeset: kolla-centos
  voting: false
  vars:
    action: build
    base_distro: centos
    install_type: binary

kolla-publish-centos-binary:
  parent: kolla-build-centos-binary
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-centos-source:
  parent: kolla-base
  nodeset: kolla-centos
  vars:
    action: build
    base_distro: centos
    install_type: source

kolla-publish-centos-source:
  parent: kolla-build-centos-source
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-ubuntu-binary:
  parent: kolla-base
  nodeset: kolla-ubuntu
  voting: false
  vars:
    action: build
    base_distro: ubuntu
    install_type: binary

kolla-publish-ubuntu-binary:
  parent: kolla-build-ubuntu-binary
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-ubuntu-source:
  parent: kolla-base
  nodeset: kolla-ubuntu
  vars:
    action: build
    base_distro: ubuntu
    install_type: source

kolla-publish-ubuntu-source:
  parent: kolla-build-ubuntu-source
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-oraclelinux-binary:
  parent: kolla-base
  nodeset: kolla-centos
  voting: false
  vars:
    action: build
    base_distro: oraclelinux
    install_type: binary

kolla-publish-oraclelinux-binary:
  parent: kolla-build-oraclelinux-binary
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-oraclelinux-source:
  parent: kolla-base
  nodeset: kolla-centos
  vars:
    action: build
    base_distro: oraclelinux
    install_type: source

kolla-publish-oraclelinux-source:
  parent: kolla-build-oraclelinux-source
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

rally: use Python 3 on Debian/Ubuntu
  docker/rally/Dockerfile.j2
Due: kolla-base, tripleo-build-containers-centos-7, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

deprecate use of GnuPG ids for APT keys
  releasenotes/notes/deprecate-apt-keys-eff6e68272923b6b.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

base: we already install sudo for Debian/Ubuntu
  docker/base/Dockerfile.j2
Due: kolla-base, tripleo-build-containers-centos-7, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

mariadb: use Focal repo for Ubuntu/AArch64
  kolla/template/repos.yaml
Due: kolla-base, tripleo-build-containers-centos-7, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

rabbitmq: use Focal repo
  kolla/template/repos.yaml
Due: kolla-base, tripleo-build-containers-centos-7, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

base: configure curl before first use
  docker/base/Dockerfile.j2
Due: kolla-base, tripleo-build-containers-centos-7, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Add the healthcheck_rabbitmq script to rabbitmq images
  docker/rabbitmq/Dockerfile.j2
  docker/rabbitmq/healthcheck_rabbitmq
Due: kolla-base, tripleo-build-containers-centos-7, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Bump OpenStack versions for Train
  kolla/common/config.py
Due: kolla-base, tripleo-build-containers-centos-7, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

[CI] Publish images to quay.io on a daily basis
  .zuul.d/base.yaml
  .zuul.d/centos.yaml
  .zuul.d/debian.yaml
  .zuul.d/ubuntu.yaml
  tests/playbooks/publish.yml
  tests/playbooks/run.yml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

[CI] Publish images to quay.io on a daily basis
  .zuul.d/base.yaml
  .zuul.d/centos.yaml
  .zuul.d/debian.yaml
  .zuul.d/ubuntu.yaml
  tests/playbooks/publish.yml
  tests/templates/kolla-build.conf.j2
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Remove mariadb image
  docker/mariadb/mariadb/Dockerfile.j2
  docker/mariadb/mariadb/backup.sh
  docker/mariadb/mariadb/extend_start.sh
  docker/mariadb/mariadb/healthcheck_mariadb
  docker/mariadb/mariadb/mariadb_sudoers
  docker/mariadb/mariadb/security_reset.expect
  releasenotes/notes/remove-mariadb-image-fbcb1401899a1c04.yaml
Due: kolla-base, tripleo-build-containers-centos-7, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

centos: enable repos where needed
  docker/base/Dockerfile.j2
  docker/heat/heat-base/Dockerfile.j2
  docker/kolla-toolbox/Dockerfile.j2
  docker/kuryr/kuryr-libnetwork/Dockerfile.j2
  docker/manila/manila-base/Dockerfile.j2
  docker/neutron/neutron-base/Dockerfile.j2
  docker/nova/nova-base/Dockerfile.j2
  docker/nova/nova-libvirt/Dockerfile.j2
  docker/octavia/octavia-base/Dockerfile.j2
  docker/openstack-base/Dockerfile.j2
  docker/openvswitch/openvswitch-base/Dockerfile.j2
  docker/rabbitmq/Dockerfile.j2
  docker/skydive/skydive-base/Dockerfile.j2
  docker/tacker/tacker-base/Dockerfile.j2
  docker/tempest/Dockerfile.j2
  docker/zun/zun-base/Dockerfile.j2
  kolla/template/repos.yaml
Due: kolla-base, tripleo-build-containers-centos-7, kolla-ansible-ubuntu-source-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

storm: no need to check is it Python 3
  docker/storm/storm-base/Dockerfile.j2
Due: kolla-base, tripleo-build-containers-centos-7, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

releasenotes: we move to Debian bullseye
  releasenotes/notes/debian-bullseye-4fedf3b3638783de.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Stop publishing on release
  .zuul.d/centos.yaml
  .zuul.d/debian.yaml
  .zuul.d/ubuntu.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Tidy up Wallaby renos
  releasenotes/notes/add-prometheus-v2-6f62ed3702d465a0.yaml
  releasenotes/notes/allowed-to-fail-e2ff5bf61c857b55.yaml
  releasenotes/notes/remove-certmonger-image-20f7049e4da91898.yaml
  releasenotes/notes/remove-ec2-api-image-97937bc84dfa6c18.yaml
  releasenotes/notes/remove-heat-all-c71e9deaffadb3e9.yaml
  releasenotes/notes/remove-nova-mksproxy-image-bcfa231c8530771d.yaml
  releasenotes/notes/remove-novajoin-image-64b14b468c3f59d2.yaml
  releasenotes/notes/remove-ptp-image-0611c1d2da5d440f.yaml
  releasenotes/notes/remove-rsyslog-image-c5ab6cade15e478e.yaml
  releasenotes/notes/remove-wallaby-images-20f7049e4da91898.yaml
  releasenotes/releasenotes/notes/remove-radvd-image-602985238165c391.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

deprecate RHEL as base of images
  releasenotes/notes/deprecate-rhel-ee57f1f03aaac42d.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

[release] Use Wallaby sources by default
  contrib/neutron-plugins/README.rst
  contrib/neutron-plugins/networking-ansible.ini
  contrib/neutron-plugins/networking-mlnx.ini
  contrib/neutron-plugins/vmware-nsx.ini
  kolla/common/config.py
  releasenotes/notes/wallaby-neutron-plugins-excluded-b72220a2ea8c1a40.yaml
  roles/kolla-build-config/defaults/main.yml
  tools/version-check.py
Due: kolla-base, tripleo-build-containers-centos-7, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CentOS Stream: update kolla-ansible Zuul jobs
  .zuul.d/centos.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

[release] Use RDO's Wallaby Delorean packages
  kolla/common/config.py
Due: kolla-base, tripleo-build-containers-centos-7, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

[release] Add docs on Neutron plugins
  doc/source/admin/image-building.rst
  releasenotes/notes/wallaby-neutron-plugins-excluded-b72220a2ea8c1a40.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CI: temporarily disable CentOS/AArch64 testing
  .zuul.d/centos.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

rabbitmq: Move to packagecloud
  docker/base/Dockerfile.j2
  docker/base/rabbitmq_rabbitmq-erlang.repo
  docker/base/rabbitmq_rabbitmq-server.repo
  docker/base/sources.list.ubuntu
  kolla/template/repos.yaml
  releasenotes/notes/rabbitmq-packagecloud-c009ff6d0d2bd02d.yaml
Due: kolla-base, tripleo-build-containers-centos-7, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

[release] Add explicit source version pins (Wallaby)
  kolla/common/config.py
Due: kolla-base, tripleo-build-containers-centos-7, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

[CI] Remove an invalid entry
  roles/kolla-build-config/defaults/main.yml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

rabbitmq: Move to packagecloud
  docker/base/Dockerfile.j2
  docker/base/rabbitmq_rabbitmq-erlang.repo
  docker/base/rabbitmq_rabbitmq-server.repo
  docker/base/sources.list.debian
  docker/base/sources.list.ubuntu
  kolla/template/repos.yaml
  releasenotes/notes/rabbitmq-packagecloud-c009ff6d0d2bd02d.yaml
Due: kolla-base, tripleo-build-containers-centos-7, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

[TrivialFix] Remove unused aarch64 repo mentions
  docker/base/sources.list.debian
  docker/base/sources.list.ubuntu
Due: kolla-base, tripleo-build-containers-centos-7, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Update .gitreview for stable/wallaby
  .gitreview
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Update TOX_CONSTRAINTS_FILE for stable/wallaby
  tox.ini
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Update master for stable/wallaby
  releasenotes/source/index.rst
  releasenotes/source/wallaby.rst
Due: none

Add Python3 xena unit tests
  .zuul.d/project.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

docs: deprecate ppc64le in Wallaby
  releasenotes/notes/deprecate-ppc64le-2b7b642e79bddd66.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Disable trove for Debian/binary
  kolla/image/build.py
Due: kolla-base, tripleo-build-containers-centos-7, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Modify healthcheck_mariadb
  docker/mariadb/mariadb-server/healthcheck_mariadb
Due: kolla-base, tripleo-build-containers-centos-7, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Pin erlang
  docker/base/apt_preferences.ubuntu
  docker/kolla-toolbox/Dockerfile.j2
  docker/rabbitmq/Dockerfile.j2
Due: kolla-base, tripleo-build-containers-centos-7, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Path conditions:
  kolla-base: (unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$) or (unless all of: ^.*\.rst$, ^doc/.*)
  tripleo-build-containers-centos-7: any of: ^docker/.*$, ^kolla/.*$, ^requirements.txt$, ^setup.cfg$, ^setup.py$
  kolla-ansible-bifrost-centos-source: any of: ^docker\/bifrost\/.*
  kolla-ansible-centos-source-ceph: any of: ^docker\/(ceph|cinder)\/.*
  kolla-ansible-ubuntu-source-zun: any of: ^docker\/(zun|kuryr)\/.*
  kolla-ansible-ubuntu-source-ceph: any of: ^docker\/(ceph|cinder)\/.*
  kolla-build-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
