Repository openstack/kolla: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-base, kolla-ansible-centos8s-source-bifrost, kolla-ansible-centos8s-source-cephadm, kolla-ansible-centos8s-source-upgrade-cephadm, kolla-ansible-centos8s-source-zun, kolla-ansible-centos8s-source-scenario-nfv, kolla-ansible-centos8s-source-ironic, kolla-ansible-centos8s-source-swift, kolla-ansible-centos8s-source-mariadb, kolla-ansible-centos8s-source-masakari, kolla-ansible-centos8s-source-octavia, kolla-ansible-centos8s-source-ovn, kolla-ansible-centos8s-source-prometheus-efk, kolla-ansible-centos8s-source-kvm, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-upgrade-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-ansible-ubuntu-source-kvm, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

kolla-base:
  parent: base
  timeout: 10800
  post-timeout: 10800
  pre-run: tests/playbooks/pre.yml
  run: tests/playbooks/run.yml
  post-run: tests/playbooks/post.yml
  attempts: 5
  vars:
    publisher: false
  extra-vars:
    kolla_logs_dir: '{{ zuul_output_dir }}/logs/kolla'
    kolla_build_logs_dir: '{{ kolla_logs_dir }}/build'

kolla-build-centos-binary:
  parent: kolla-base
  nodeset: kolla-centos
  voting: false
  vars:
    action: build
    base_distro: centos
    install_type: binary

kolla-publish-centos-binary:
  parent: kolla-build-centos-binary
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-centos-source:
  parent: kolla-base
  nodeset: kolla-centos
  vars:
    action: build
    base_distro: centos
    install_type: source

kolla-publish-centos-source:
  parent: kolla-build-centos-source
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-ubuntu-binary:
  parent: kolla-base
  nodeset: kolla-ubuntu
  voting: false
  vars:
    action: build
    base_distro: ubuntu
    install_type: binary

kolla-publish-ubuntu-binary:
  parent: kolla-build-ubuntu-binary
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-ubuntu-source:
  parent: kolla-base
  nodeset: kolla-ubuntu
  vars:
    action: build
    base_distro: ubuntu
    install_type: source

kolla-publish-ubuntu-source:
  parent: kolla-build-ubuntu-source
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-oraclelinux-binary:
  parent: kolla-base
  nodeset: kolla-centos
  voting: false
  vars:
    action: build
    base_distro: oraclelinux
    install_type: binary

kolla-publish-oraclelinux-binary:
  parent: kolla-build-oraclelinux-binary
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-oraclelinux-source:
  parent: kolla-base
  nodeset: kolla-centos
  vars:
    action: build
    base_distro: oraclelinux
    install_type: source

kolla-publish-oraclelinux-source:
  parent: kolla-build-oraclelinux-source
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

Move to Ubuntu Jammy (22.04)
  .zuul.d/base.yaml
  .zuul.d/ubuntu.yaml
  docker/base/sources.list.ubuntu
  docker/base/sources.list.ubuntu.aarch64
  kolla/common/config.py
  kolla/image/build.py
  kolla/template/repos.yaml
  kolla/tests/test_build.py
Due: kolla-base, kolla-ansible-centos8s-source-bifrost, kolla-ansible-centos8s-source-cephadm, kolla-ansible-centos8s-source-upgrade-cephadm, kolla-ansible-centos8s-source-zun, kolla-ansible-centos8s-source-scenario-nfv, kolla-ansible-centos8s-source-ironic, kolla-ansible-centos8s-source-swift, kolla-ansible-centos8s-source-mariadb, kolla-ansible-centos8s-source-masakari, kolla-ansible-centos8s-source-octavia, kolla-ansible-centos8s-source-ovn, kolla-ansible-centos8s-source-prometheus-efk, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-upgrade-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Mark monasca-grafana as unbuildable
  kolla/image/build.py
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Fix container image publish to Docker Hub
  tests/playbooks/publish.yml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Run proxysql with proxysql user
  docker/proxysql/Dockerfile.j2
  docker/proxysql/kolla_proxysql_config_sync
  docker/proxysql/kolla_proxysql_start
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Publish properly as Jammy
  .zuul.d/ubuntu.yaml
  doc/source/support_matrix.rst
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

mariadb-clustercheck: do not install xinetd
  docker/mariadb/mariadb-clustercheck/Dockerfile.j2
Due: kolla-base, kolla-ansible-centos8s-source-cephadm, kolla-ansible-centos8s-source-upgrade-cephadm, kolla-ansible-centos8s-source-mariadb, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-upgrade-cephadm, kolla-ansible-ubuntu-source-mariadb, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Replace abc.abstractproperty with property and abc.abstractmethod
  kolla/common/task.py
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Honour the linuxbridge experimental status
  .zuul.d/ubuntu.yaml
  README.rst
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Don't install the tooz etcd3 extra
  docker/openstack-base/Dockerfile.j2
Due: kolla-base, kolla-ansible-centos8s-source-bifrost, kolla-ansible-centos8s-source-cephadm, kolla-ansible-centos8s-source-upgrade-cephadm, kolla-ansible-centos8s-source-zun, kolla-ansible-centos8s-source-scenario-nfv, kolla-ansible-centos8s-source-ironic, kolla-ansible-centos8s-source-swift, kolla-ansible-centos8s-source-octavia, kolla-ansible-centos8s-source-ovn, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-upgrade-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Remove Keystone admin endpoint
  docker/keystone/keystone/keystone_bootstrap.sh
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Bump skydive version to 0.28
  docker/skydive/skydive-base/Dockerfile.j2
  releasenotes/notes/bug-1940862-8fd12d669ab15299.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Bump minimum docker-py version
  kolla/image/build.py
  kolla/tests/test_build.py
  requirements.txt
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Switch to use Zed binary packages from UCA
  docker/base/sources.list.ubuntu
  docker/base/sources.list.ubuntu.aarch64
Due: kolla-base, kolla-ansible-centos8s-source-bifrost, kolla-ansible-centos8s-source-cephadm, kolla-ansible-centos8s-source-upgrade-cephadm, kolla-ansible-centos8s-source-zun, kolla-ansible-centos8s-source-scenario-nfv, kolla-ansible-centos8s-source-ironic, kolla-ansible-centos8s-source-swift, kolla-ansible-centos8s-source-mariadb, kolla-ansible-centos8s-source-masakari, kolla-ansible-centos8s-source-octavia, kolla-ansible-centos8s-source-ovn, kolla-ansible-centos8s-source-prometheus-efk, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-upgrade-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

rabbitmq: Update to 3.10
  docker/base/apt_preferences.debian
  docker/base/apt_preferences.ubuntu
  docker/rabbitmq/Dockerfile.j2
  releasenotes/notes/rabbitmq-310-8c9c6eeb5d5a2a75.yaml
Due: kolla-base, kolla-ansible-centos8s-source-bifrost, kolla-ansible-centos8s-source-cephadm, kolla-ansible-centos8s-source-upgrade-cephadm, kolla-ansible-centos8s-source-zun, kolla-ansible-centos8s-source-scenario-nfv, kolla-ansible-centos8s-source-ironic, kolla-ansible-centos8s-source-swift, kolla-ansible-centos8s-source-mariadb, kolla-ansible-centos8s-source-masakari, kolla-ansible-centos8s-source-octavia, kolla-ansible-centos8s-source-ovn, kolla-ansible-centos8s-source-prometheus-efk, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-upgrade-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

curl: Add retries
  docker/base/curlrc
  releasenotes/notes/curl-retries-e1c5d6b5b25d7380.yaml
Due: kolla-base, kolla-ansible-centos8s-source-bifrost, kolla-ansible-centos8s-source-cephadm, kolla-ansible-centos8s-source-upgrade-cephadm, kolla-ansible-centos8s-source-zun, kolla-ansible-centos8s-source-scenario-nfv, kolla-ansible-centos8s-source-ironic, kolla-ansible-centos8s-source-swift, kolla-ansible-centos8s-source-mariadb, kolla-ansible-centos8s-source-masakari, kolla-ansible-centos8s-source-octavia, kolla-ansible-centos8s-source-ovn, kolla-ansible-centos8s-source-prometheus-efk, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-upgrade-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

mariadb: Fix RPM repository URLs
  docker/base/mariadb-aarch64.repo
  docker/base/mariadb.repo
  kolla/template/repos.yaml
Due: kolla-base, kolla-ansible-centos8s-source-bifrost, kolla-ansible-centos8s-source-cephadm, kolla-ansible-centos8s-source-upgrade-cephadm, kolla-ansible-centos8s-source-zun, kolla-ansible-centos8s-source-scenario-nfv, kolla-ansible-centos8s-source-ironic, kolla-ansible-centos8s-source-swift, kolla-ansible-centos8s-source-mariadb, kolla-ansible-centos8s-source-masakari, kolla-ansible-centos8s-source-octavia, kolla-ansible-centos8s-source-ovn, kolla-ansible-centos8s-source-prometheus-efk, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-upgrade-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Add Ubuntu Jammy MariaDB repository
  docker/base/apt_preferences.ubuntu
  kolla/template/repos.yaml
Due: kolla-base, kolla-ansible-centos8s-source-bifrost, kolla-ansible-centos8s-source-cephadm, kolla-ansible-centos8s-source-upgrade-cephadm, kolla-ansible-centos8s-source-zun, kolla-ansible-centos8s-source-scenario-nfv, kolla-ansible-centos8s-source-ironic, kolla-ansible-centos8s-source-swift, kolla-ansible-centos8s-source-mariadb, kolla-ansible-centos8s-source-masakari, kolla-ansible-centos8s-source-octavia, kolla-ansible-centos8s-source-ovn, kolla-ansible-centos8s-source-prometheus-efk, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-upgrade-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Add python-binary-memcached to openstack-base
  docker/openstack-base/Dockerfile.j2
Due: kolla-base, kolla-ansible-centos8s-source-bifrost, kolla-ansible-centos8s-source-cephadm, kolla-ansible-centos8s-source-upgrade-cephadm, kolla-ansible-centos8s-source-zun, kolla-ansible-centos8s-source-scenario-nfv, kolla-ansible-centos8s-source-ironic, kolla-ansible-centos8s-source-swift, kolla-ansible-centos8s-source-octavia, kolla-ansible-centos8s-source-ovn, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-upgrade-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

[docs] Fix OVS link
  README.rst
Due: none

prometheus: Add OVN exporter
  docker/prometheus/prometheus-ovn-exporter/Dockerfile.j2
  releasenotes/notes/prometheus-ovn-ovs-exporter-53f439c286f9451d.yaml
Due: kolla-base, kolla-ansible-centos8s-source-prometheus-efk, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Make keystone_bootstrap accept no ADMIN_URL too
  docker/keystone/keystone/keystone_bootstrap.sh
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Fix CVE-2022-38060
  doc/source/admin/kolla_api.rst
  docker/base/set_configs.py
  docker/base/sudoers
  releasenotes/notes/bug-1985784-59df54a10a004551.yaml
  tests/test_set_config.py
Due: kolla-base, kolla-ansible-centos8s-source-bifrost, kolla-ansible-centos8s-source-cephadm, kolla-ansible-centos8s-source-upgrade-cephadm, kolla-ansible-centos8s-source-zun, kolla-ansible-centos8s-source-scenario-nfv, kolla-ansible-centos8s-source-ironic, kolla-ansible-centos8s-source-swift, kolla-ansible-centos8s-source-mariadb, kolla-ansible-centos8s-source-masakari, kolla-ansible-centos8s-source-octavia, kolla-ansible-centos8s-source-ovn, kolla-ansible-centos8s-source-prometheus-efk, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-upgrade-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Drop support for python 3.6 and 3.7
  releasenotes/notes/drop-pyhton-3-6-and-3-7-6cc88979aad423e8.yaml
  setup.cfg
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Bump prometheus services to latest version
  docker/prometheus/prometheus-blackbox-exporter/Dockerfile.j2
  docker/prometheus/prometheus-cadvisor/Dockerfile.j2
  docker/prometheus/prometheus-elasticsearch-exporter/Dockerfile.j2
  docker/prometheus/prometheus-haproxy-exporter/Dockerfile.j2
  docker/prometheus/prometheus-libvirt-exporter/Dockerfile.j2
  docker/prometheus/prometheus-memcached-exporter/Dockerfile.j2
  docker/prometheus/prometheus-msteams/Dockerfile.j2
  docker/prometheus/prometheus-mtail/Dockerfile.j2
  docker/prometheus/prometheus-mysqld-exporter/Dockerfile.j2
  docker/prometheus/prometheus-node-exporter/Dockerfile.j2
  docker/prometheus/prometheus-v2-server/Dockerfile.j2
  releasenotes/notes/bump-prometheus-services-ba7d5bbd7ed5235f.yaml
Due: kolla-base, kolla-ansible-centos8s-source-prometheus-efk, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Drop centos8s jobs from experimental pipeline
  .zuul.d/centos.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

mariadb: Fix RPM repository URLs
  docker/base/mariadb-aarch64.repo
  docker/base/mariadb.repo
  kolla/image/build.py
  kolla/template/repos.yaml
  releasenotes/notes/docker-6-6d77b5ff7ec1daef.yaml
Due: kolla-base, kolla-ansible-centos8s-source-bifrost, kolla-ansible-centos8s-source-cephadm, kolla-ansible-centos8s-source-upgrade-cephadm, kolla-ansible-centos8s-source-zun, kolla-ansible-centos8s-source-scenario-nfv, kolla-ansible-centos8s-source-ironic, kolla-ansible-centos8s-source-swift, kolla-ansible-centos8s-source-mariadb, kolla-ansible-centos8s-source-masakari, kolla-ansible-centos8s-source-octavia, kolla-ansible-centos8s-source-ovn, kolla-ansible-centos8s-source-prometheus-efk, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-upgrade-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

[CI] Stop testing upgrades
  .zuul.d/ubuntu.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

mariadb: Fix repository URLs
  kolla/image/build.py
  kolla/template/repos.yaml
  releasenotes/notes/docker-6-6d77b5ff7ec1daef.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Debian: use OpenStack Zed repos
  docker/base/Dockerfile.j2
Due: kolla-base, kolla-ansible-centos8s-source-bifrost, kolla-ansible-centos8s-source-cephadm, kolla-ansible-centos8s-source-upgrade-cephadm, kolla-ansible-centos8s-source-zun, kolla-ansible-centos8s-source-scenario-nfv, kolla-ansible-centos8s-source-ironic, kolla-ansible-centos8s-source-swift, kolla-ansible-centos8s-source-mariadb, kolla-ansible-centos8s-source-masakari, kolla-ansible-centos8s-source-octavia, kolla-ansible-centos8s-source-ovn, kolla-ansible-centos8s-source-prometheus-efk, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-upgrade-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

prometheus-ovn-exporter: use sha256sum
  docker/prometheus/prometheus-ovn-exporter/Dockerfile.j2
Due: kolla-base, kolla-ansible-centos8s-source-prometheus-efk, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Add missing labels blocks
  docker/letsencrypt/Dockerfile.j2
  docker/mariadb/mariadb-clustercheck/Dockerfile.j2
Due: kolla-base, kolla-ansible-centos8s-source-cephadm, kolla-ansible-centos8s-source-upgrade-cephadm, kolla-ansible-centos8s-source-mariadb, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-upgrade-cephadm, kolla-ansible-ubuntu-source-mariadb, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

ubuntu: enable monasca for x86-64
  kolla/image/build.py
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

centos: we install 'hostname' in base image
  docker/keepalived/Dockerfile.j2
  docker/mariadb/mariadb-server/Dockerfile.j2
  docker/rabbitmq/Dockerfile.j2
Due: kolla-base, kolla-ansible-centos8s-source-cephadm, kolla-ansible-centos8s-source-upgrade-cephadm, kolla-ansible-centos8s-source-mariadb, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-upgrade-cephadm, kolla-ansible-ubuntu-source-mariadb, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Python 3.8+ has better shutil.copytree()
  kolla/image/build.py
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Path conditions:
  kolla-base: (unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$) or (unless all of: ^.*\.rst$, ^doc/.*)
  kolla-ansible-centos8s-source-bifrost: any of: ^docker\/(base|bifrost|openstack-base)\/.*
  kolla-ansible-centos8s-source-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-centos8s-source-upgrade-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-centos8s-source-zun: any of: ^docker\/(base|cinder|etcd|iscsid|kuryr|openstack-base|zun)\/.*
  kolla-ansible-centos8s-source-scenario-nfv: any of: ^docker\/(base|barbican|heat|mistral|openstack-base|redis|tacker)\/.*
  kolla-ansible-centos8s-source-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-centos8s-source-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-centos8s-source-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-centos8s-source-masakari: any of: ^docker/(base|masakari)/
  kolla-ansible-centos8s-source-octavia: any of: ^docker/(base|neutron|octavia|openstack-base|openvswitch|ovn)/
  kolla-ansible-centos8s-source-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-centos8s-source-prometheus-efk: any of: ^docker/(base|elasticsearch|fluentd|grafana|kibana|prometheus)/
  kolla-ansible-centos8s-source-kvm: any of: ^docker/nova/
  kolla-ansible-debian-source-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-ubuntu-source-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-ubuntu-source-upgrade-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-ubuntu-source-zun: any of: ^docker\/(base|cinder|etcd|iscsid|kuryr|openstack-base|zun)\/.*
  kolla-ansible-ubuntu-source-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-ubuntu-source-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-ubuntu-source-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-ubuntu-source-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-ubuntu-source-linuxbridge: any of: ^docker/(base|neutron|openstack-base)/
  kolla-ansible-ubuntu-source-octavia: any of: ^docker/(base|neutron|octavia|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-source-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-source-prometheus-efk: any of: ^docker/(base|elasticsearch|fluentd|grafana|kibana|prometheus)/
  kolla-ansible-ubuntu-source-kvm: any of: ^docker/nova/
  kolla-build-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
