Repository openstack/kolla: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-mariadb, kolla-ansible-centos8-source-masakari, kolla-ansible-centos8-source-ovn, kolla-ansible-centos8-source-prometheus-efk, kolla-ansible-centos8-source-kvm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ceph, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

kolla-base:
  parent: base
  timeout: 10800
  post-timeout: 10800
  pre-run: tests/playbooks/pre.yml
  run: tests/playbooks/run.yml
  post-run: tests/playbooks/post.yml
  attempts: 5
  vars:
    publisher: false
  extra-vars:
    kolla_logs_dir: '{{ zuul_output_dir }}/logs/kolla'
    kolla_build_logs_dir: '{{ kolla_logs_dir }}/build'

kolla-build-centos-binary:
  parent: kolla-base
  nodeset: kolla-centos
  voting: false
  vars:
    action: build
    base_distro: centos
    install_type: binary

kolla-publish-centos-binary:
  parent: kolla-build-centos-binary
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-centos-source:
  parent: kolla-base
  nodeset: kolla-centos
  vars:
    action: build
    base_distro: centos
    install_type: source

kolla-publish-centos-source:
  parent: kolla-build-centos-source
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-ubuntu-binary:
  parent: kolla-base
  nodeset: kolla-ubuntu
  voting: false
  vars:
    action: build
    base_distro: ubuntu
    install_type: binary

kolla-publish-ubuntu-binary:
  parent: kolla-build-ubuntu-binary
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-ubuntu-source:
  parent: kolla-base
  nodeset: kolla-ubuntu
  vars:
    action: build
    base_distro: ubuntu
    install_type: source

kolla-publish-ubuntu-source:
  parent: kolla-build-ubuntu-source
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-oraclelinux-binary:
  parent: kolla-base
  nodeset: kolla-centos
  voting: false
  vars:
    action: build
    base_distro: oraclelinux
    install_type: binary

kolla-publish-oraclelinux-binary:
  parent: kolla-build-oraclelinux-binary
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-oraclelinux-source:
  parent: kolla-base
  nodeset: kolla-centos
  vars:
    action: build
    base_distro: oraclelinux
    install_type: source

kolla-publish-oraclelinux-source:
  parent: kolla-build-oraclelinux-source
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

Drop CentOS Linux 8 image builds
  .zuul.d/centos.yaml
  doc/source/admin/image-building.rst
  doc/source/support_matrix.rst
  docker/base/Dockerfile.j2
  docker/collectd/Dockerfile.j2
  docker/openstack-base/Dockerfile.j2
  kolla/common/config.py
  releasenotes/notes/centos-8-eol-4500333b5e01f448.yaml
Due: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-mariadb, kolla-ansible-centos8-source-masakari, kolla-ansible-centos8-source-ovn, kolla-ansible-centos8-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

stringify docker-squash version
  kolla/common/utils.py
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

collectd: pcie-errors is x86-64 only now
  docker/collectd/Dockerfile.j2
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Add LetsEncrypt images for cert request/renewal
  docker/letsencrypt/Dockerfile.j2
  docker/letsencrypt/extend_start.sh
  kolla/common/config.py
  releasenotes/notes/bp-letsencrypt-https-b3245976c513f99b.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

pin out some package from Debian OpenStack Team repos
  docker/base/apt_preferences.debian
Due: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-mariadb, kolla-ansible-centos8-source-masakari, kolla-ansible-centos8-source-ovn, kolla-ansible-centos8-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

nova-compute: 'ndctl' is available on all archs
  docker/nova/nova-compute/Dockerfile.j2
Due: kolla-base, kolla-ansible-centos8-source-kvm, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

erlang: use packages from Erlang Solutions on AArch64
  docker/base/Dockerfile.j2
  docker/base/erlang-solutions.repo
  docker/kolla-toolbox/Dockerfile.j2
  docker/rabbitmq/Dockerfile.j2
  kolla/template/repos.yaml
Due: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-mariadb, kolla-ansible-centos8-source-masakari, kolla-ansible-centos8-source-ovn, kolla-ansible-centos8-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Revert "nova: drop pypowervm dependency"
  docker/nova/nova-base/Dockerfile.j2
Due: kolla-base, kolla-ansible-centos8-source-kvm, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Drop CentOS Linux 8 image builds
  .zuul.d/centos.yaml
  doc/source/admin/image-building.rst
  doc/source/support_matrix.rst
  releasenotes/notes/centos-8-eol-4500333b5e01f448.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Drop CentOS Linux 8 image builds
  .zuul.d/centos.yaml
  doc/source/support_matrix.rst
  releasenotes/notes/centos-8-eol-4500333b5e01f448.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

rabbitmq: update to 3.9
  docker/base/apt_preferences.debian
  docker/base/apt_preferences.ubuntu
  docker/kolla-toolbox/Dockerfile.j2
  docker/rabbitmq/Dockerfile.j2
  releasenotes/notes/rabbitmq-39-6791f54358018428.yaml
Due: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-mariadb, kolla-ansible-centos8-source-masakari, kolla-ansible-centos8-source-ovn, kolla-ansible-centos8-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Unpin td-agent and cap elasticsearch gem
  docker/base/apt_preferences.debian
  docker/base/apt_preferences.ubuntu
  docker/fluentd/Dockerfile.j2
  releasenotes/notes/cap-fluentd-elasticsearch-18c0ca8e90c1234c.yaml
Due: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-mariadb, kolla-ansible-centos8-source-masakari, kolla-ansible-centos8-source-ovn, kolla-ansible-centos8-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

ironic: Fix UEFI & iPXE bootloader filenames
  docker/ironic/ironic-pxe/extend_start.sh
  releasenotes/notes/bug-1959203-1bb695e052248d78.yaml
Due: kolla-base, kolla-ansible-centos8-source-ironic, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

base: Drop usage of Ceph Nautilus from RDO
  docker/base/Dockerfile.j2
  tests/templates/template_overrides.j2
Due: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-mariadb, kolla-ansible-centos8-source-masakari, kolla-ansible-centos8-source-ovn, kolla-ansible-centos8-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Remove missing collectd packages
  docker/collectd/Dockerfile.j2
  docker/openstack-base/Dockerfile.j2
Due: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-ovn, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Updating python testing classifier as per Yoga testing runtime
  setup.cfg
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Add Prometheus libvirt exporter image
  docker/prometheus/prometheus-libvirt-exporter/Dockerfile.j2
  releasenotes/notes/add-prometheus-libvirt-exporter-8d505dc8b74f8625.yaml
Due: kolla-base, kolla-ansible-centos8-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Ensure set_configs sets execute bit on directories
  docker/base/set_configs.py
  releasenotes/notes/set_config-directory-execute-permission-8ab919b7b17025d2.yaml
Due: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-mariadb, kolla-ansible-centos8-source-masakari, kolla-ansible-centos8-source-ovn, kolla-ansible-centos8-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Debian: use libvirt 8 and qemu 6.2
  docker/base/apt_preferences.debian
  releasenotes/notes/debian-switch-to-newer-libvirt-qemu-aa8460d4ee13a023.yaml
Due: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-mariadb, kolla-ansible-centos8-source-masakari, kolla-ansible-centos8-source-ovn, kolla-ansible-centos8-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

docs: add ansible-collection-kolla
  doc/source/contributor/release-management.rst
  doc/source/index.rst
Due: none

Add qemu-img also in nova-libvirt image
  docker/nova/nova-libvirt/Dockerfile.j2
Due: kolla-base, kolla-ansible-centos8-source-kvm, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

docs: make formatting of kolla-ansible consistent in release management
  doc/source/contributor/release-management.rst
Due: none

docs: standard PTG topics list
  doc/source/contributor/ptl-guide.rst
Due: none

[CI] Add K-A Octavia jobs to the experimental pipeline
  .zuul.d/centos.yaml
  .zuul.d/ubuntu.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Path conditions:
  kolla-base: (unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$) or (unless all of: ^.*\.rst$, ^doc/.*)
  kolla-ansible-centos8-source-bifrost: any of: ^docker\/(base|bifrost|openstack-base)\/.*
  kolla-ansible-centos8-source-ceph-ansible: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-centos8-source-upgrade-ceph-ansible: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-centos8-source-zun: any of: ^docker\/(base|cinder|etcd|iscsid|kuryr|openstack-base|zun)\/.*
  kolla-ansible-centos8-source-scenario-nfv: any of: ^docker\/(base|barbican|heat|mistral|openstack-base|redis|tacker)\/.*
  kolla-ansible-centos8-source-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-centos8-source-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-centos8-source-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-centos8-source-masakari: any of: ^docker/(base|masakari)/
  kolla-ansible-centos8-source-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-centos8-source-prometheus-efk: any of: ^docker/(base|elasticsearch|grafana|kibana|prometheus)/
  kolla-ansible-centos8-source-kvm: any of: ^docker/nova/
  kolla-ansible-ubuntu-source-zun: any of: ^docker\/(zun|kuryr)\/.*
  kolla-ansible-ubuntu-source-ceph: any of: ^docker\/(ceph|cinder)\/.*
  kolla-build-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
