Repository openstack/kolla: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-ceph-ansible, kolla-ansible-ubuntu-source-upgrade-ceph-ansible, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-ansible-ubuntu-source-kvm, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

kolla-base:
  parent: base
  timeout: 10800
  post-timeout: 10800
  pre-run: tests/playbooks/pre.yml
  run: tests/playbooks/run.yml
  post-run: tests/playbooks/post.yml
  attempts: 5
  vars:
    publisher: false
  extra-vars:
    kolla_logs_dir: '{{ zuul_output_dir }}/logs/kolla'
    kolla_build_logs_dir: '{{ kolla_logs_dir }}/build'
  ...

kolla-build-no-infra-wheels-base:
  parent: kolla-base
  vars:
    use_infra_wheels_mirror: false

kolla-ansible-ubuntu-source-ceph-ansible:
  vars:
    kolla_python_version: 3.8

kolla-ansible-ubuntu-source-upgrade-ceph-ansible:
  vars:
    kolla_python_version: 3.8

kolla-ansible-ubuntu-source-zun:
  vars:
    kolla_python_version: 3.8

kolla-ansible-ubuntu-source-ironic:
  vars:
    kolla_python_version: 3.8

kolla-ansible-ubuntu-source-swift:
  vars:
    kolla_python_version: 3.8

kolla-ansible-ubuntu-source-mariadb:
  vars:
    kolla_python_version: 3.8

kolla-ansible-ubuntu-source-masakari:
  vars:
    kolla_python_version: 3.8

kolla-ansible-ubuntu-source-linuxbridge:
  vars:
    kolla_python_version: 3.8

kolla-ansible-ubuntu-source-ovn:
  vars:
    kolla_python_version: 3.8

kolla-ansible-ubuntu-source-prometheus-efk:
  vars:
    kolla_python_version: 3.8

kolla-ansible-ubuntu-source-kvm:
  vars:
    kolla_python_version: 3.8

kolla-build-centos-binary:
  parent: kolla-base
  nodeset: kolla-centos
  voting: false
  vars:
    action: build
    base_distro: centos
    install_type: binary

kolla-publish-centos-binary:
  parent: kolla-build-centos-binary
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-centos-source:
  parent: kolla-base
  nodeset: kolla-centos
  vars:
    action: build
    base_distro: centos
    install_type: source

kolla-publish-centos-source:
  parent: kolla-build-centos-source
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-ubuntu-binary:
  parent: kolla-base
  nodeset: kolla-ubuntu
  voting: false
  vars:
    action: build
    base_distro: ubuntu
    install_type: binary

kolla-publish-ubuntu-binary:
  parent: kolla-build-ubuntu-binary
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-ubuntu-source:
  parent: kolla-base
  nodeset: kolla-ubuntu
  vars:
    action: build
    base_distro: ubuntu
    install_type: source

kolla-publish-ubuntu-source:
  parent: kolla-build-ubuntu-source
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-oraclelinux-binary:
  parent: kolla-base
  nodeset: kolla-centos
  voting: false
  vars:
    action: build
    base_distro: oraclelinux
    install_type: binary

kolla-publish-oraclelinux-binary:
  parent: kolla-build-oraclelinux-binary
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

bifrost: mark unbuidable for Ubuntu
  kolla/image/unbuildable.py
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CI: Configure additional disk when available
  tests/playbooks/pre.yml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Add RockyLinux 9 support
  .zuul.d/base.yaml
  .zuul.d/rocky.yaml
  docker/base/Dockerfile.j2
  docker/base/httpd_setup.sh
  docker/collectd/Dockerfile.j2
  docker/cron/Dockerfile.j2
  docker/ironic/ironic-pxe/extend_start.sh
  docker/keystone/keystone-base/Dockerfile.j2
  docker/mariadb/mariadb-clustercheck/Dockerfile.j2
  docker/neutron/neutron-base/Dockerfile.j2
  docker/neutron/neutron-base/extend_start_el9.sh
  docker/nova/nova-compute/Dockerfile.j2
  docker/nova/nova-libvirt/Dockerfile.j2
  docker/openstack-base/Dockerfile.j2
  kolla/common/config.py
  kolla/image/build.py
  kolla/template/repos.yaml
  releasenotes/notes/rockylinux9-1f004ab9b3b2e096.yaml
  tests/templates/template_overrides.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-ceph-ansible, kolla-ansible-ubuntu-source-upgrade-ceph-ansible, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-ansible-ubuntu-source-kvm, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CI: Additional disk followup
  tests/playbooks/pre.yml
  tests/playbooks/run.yml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

prometheus: update ovn-exporter version to 1.0.6
  docker/prometheus/prometheus-ovn-exporter/Dockerfile.j2
  releasenotes/notes/update-ovn-exporter-ab80a3e88e617bdd.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CI: Retry docker push on publish jobs
  tests/playbooks/publish.yml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CI: publish rocky images and mark c9s non voting
  .zuul.d/centos.yaml
  .zuul.d/rocky.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Fix ironic-pxe EFI path for rocky
  docker/ironic/ironic-pxe/extend_start.sh
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-ironic, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

toolbox: use ansible-collections-openstack >2
  docker/kolla-toolbox/Dockerfile.j2
  docker/kolla-toolbox/requirements.yml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Revert "bifrost: mark unbuidable for Ubuntu"
  kolla/image/unbuildable.py
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

toolbox: Increase galaxy timeout and retry download
  docker/kolla-toolbox/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Mark Monasca and deps as unbuildable on Rocky9
  kolla/image/build.py
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

https: remove dhparams.pem before running gencerts
  docker/base/httpd_setup.sh
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-ceph-ansible, kolla-ansible-ubuntu-source-upgrade-ceph-ansible, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Add comprehensive checks for container restarts
  docker/base/set_configs.py
  releasenotes/notes/fixes-container-restart-conditions-57d36b13b0aa964b.yaml
  tests/test_set_config.py
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-ceph-ansible, kolla-ansible-ubuntu-source-upgrade-ceph-ansible, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Update Stackalytics links
  README.rst
Due: none

Test for unsafe files in tarfile.extractall
  kolla/image/tasks.py
  kolla/image/unbuildable.py
  kolla/tests/test_build.py
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Test for unsafe files in tarfile.extractall
  kolla/image/tasks.py
  kolla/tests/test_build.py
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Test for unsafe files in tarfile.extractall
  kolla/image/build.py
  kolla/tests/test_build.py
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

base: make curl retry on all errors
  docker/base/curlrc
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-ceph-ansible, kolla-ansible-ubuntu-source-upgrade-ceph-ansible, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

gnocchi: bump to 4.5.0
  kolla/common/sources.py
  releasenotes/notes/gnocchi-4.5.0-c06c6f57e910e3e2.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

docker: use python3-venv to create virtual env
  docker/kolla-toolbox/Dockerfile.j2
  docker/openstack-base/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-ceph-ansible, kolla-ansible-ubuntu-source-upgrade-ceph-ansible, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-ovn, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Add Dockerfile for neutron-ovn-agent
  docker/neutron/neutron-ovn-agent/Dockerfile.j2
  releasenotes/notes/neutron-ovn-agent-kolla-image-38ab7ef7203e8963.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-ovn, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

neutron-mlnx-agent: pin pyzmq at 21.*
  docker/neutron/neutron-mlnx-agent/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-ovn, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

neutron: Add iproute-tc
  docker/neutron/neutron-base/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-ovn, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Cinder backup fails due to absent multipath tools
  docker/cinder/cinder-backup/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-ubuntu-source-ceph-ansible, kolla-ansible-ubuntu-source-upgrade-ceph-ansible, kolla-ansible-ubuntu-source-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CI: Ensure quay repo is public on publish
  .zuul.d/base.yaml
  tests/playbooks/publish.yml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

docs: Rename Community maintained to Untested
  doc/source/matrix_aarch64.csv
  doc/source/matrix_x86.csv
  doc/source/support_matrix.rst
Due: none

Path conditions:
  kolla-base: (unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$) or (unless all of: ^.*\.rst$, ^doc/.*)
  kolla-build-no-infra-wheels-base: unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$
  kolla-ansible-debian-source-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-ubuntu-source-ceph-ansible: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-ubuntu-source-upgrade-ceph-ansible: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-ubuntu-source-zun: any of: ^docker\/(base|cinder|etcd|iscsid|kuryr|openstack-base|zun)\/.*
  kolla-ansible-ubuntu-source-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-ubuntu-source-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-ubuntu-source-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-ubuntu-source-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-ubuntu-source-linuxbridge: any of: ^docker/(base|neutron|openstack-base)/
  kolla-ansible-ubuntu-source-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-source-prometheus-efk: any of: ^docker/(base|elasticsearch|grafana|kibana|prometheus)/
  kolla-ansible-ubuntu-source-kvm: any of: ^docker/nova/
  kolla-build-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
