Repository openstack/kolla: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-mariadb, kolla-ansible-centos8-source-masakari, kolla-ansible-centos8-source-ovn, kolla-ansible-centos8-source-prometheus-efk, kolla-ansible-centos8-source-kvm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ceph, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Path conditions:
  kolla-base: (unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$) or (unless all of: ^.*\.rst$, ^doc/.*)
  kolla-ansible-centos8-source-bifrost: any of: ^docker\/(base|bifrost|openstack-base)\/.*
  kolla-ansible-centos8-source-ceph-ansible: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-centos8-source-upgrade-ceph-ansible: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-centos8-source-zun: any of: ^docker\/(base|cinder|etcd|iscsid|kuryr|openstack-base|zun)\/.*
  kolla-ansible-centos8-source-scenario-nfv: any of: ^docker\/(base|barbican|heat|mistral|openstack-base|redis|tacker)\/.*
  kolla-ansible-centos8-source-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-centos8-source-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-centos8-source-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-centos8-source-masakari: any of: ^docker/(base|masakari)/
  kolla-ansible-centos8-source-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-centos8-source-prometheus-efk: any of: ^docker/(base|elasticsearch|grafana|kibana|prometheus)/
  kolla-ansible-centos8-source-kvm: any of: ^docker/nova/
  kolla-ansible-ubuntu-source-zun: any of: ^docker\/(zun|kuryr)\/.*
  kolla-ansible-ubuntu-source-ceph: any of: ^docker\/(ceph|cinder)\/.*
  kolla-build-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*

[placement] Stop copying unused script
  docker/placement/placement-base/Dockerfile.j2
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

[bifrost] Drop workarounds
  docker/bifrost/bifrost-base/Dockerfile.j2
Due: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Clean MariaDB/MySQL
  docker/barbican/barbican-base/Dockerfile.j2
  docker/kolla-toolbox/Dockerfile.j2
  docker/monasca/monasca-api/Dockerfile.j2
  docker/openstack-base/Dockerfile.j2
  docker/placement/placement-base/Dockerfile.j2
Due: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-ovn, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

logstash: pin to 7.9.* for Elasticsearch OSS compatibility
  docker/base/apt_preferences.debian
  docker/base/apt_preferences.ubuntu
  docker/logstash/Dockerfile.j2
  releasenotes/notes/logstash-7.9-30fd90e921037a8a.yaml
Due: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-mariadb, kolla-ansible-centos8-source-masakari, kolla-ansible-centos8-source-ovn, kolla-ansible-centos8-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Remove neutron api-paste.ini from old location
  docker/neutron/neutron-base/Dockerfile.j2
  releasenotes/notes/neutron-api-paste-2268bcb3e0156e62.yaml
Due: kolla-base, kolla-ansible-centos8-source-ovn, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Remove InfluxDB data source Grafana plugin
  docker/grafana/Dockerfile.j2
  releasenotes/notes/remove-grafana-influxdb-plugin-a494f3dc217d3124.yaml
Due: kolla-base, kolla-ansible-centos8-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

release: Use Xena sources by default
  kolla/common/config.py
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Use RDO's Xena Delorean packages
  kolla/common/config.py
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Add prometheus-msteams image
  docker/prometheus/prometheus-msteams/Dockerfile.j2
  kolla/image/build.py
  releasenotes/notes/prometheus-msteams-27e7f23e29f208b4.yaml
Due: kolla-base, kolla-ansible-centos8-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Fix GitHub tarball URL for monasca-thresh
  kolla/common/config.py
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Tidy up renos before Xena release
  releasenotes/notes/proxysql-001027572dcec118.yaml
  releasenotes/notes/remove-chrony-image-20a96b0ce63e2959.yaml
  releasenotes/notes/remove-rally-image-249782f1a1123b71.yaml
  releasenotes/notes/remove-rally-tempest-249782f1a1123b71.yaml
  releasenotes/notes/remove-tempest-ffa7526963eae898.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Add missing reno
  releasenotes/notes/fix-update-alternatives-centos-68294e3d3570ade4.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

gnocchi: update to 4.4.1
  kolla/common/config.py
  releasenotes/notes/gnocchi-4.4.1-1332afc3c6fca766.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Revert "Add missing reno"
  releasenotes/notes/fix-update-alternatives-centos-68294e3d3570ade4.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

docs: Move Kayobe RC1 after Kolla & Kolla Ansible RC1
  doc/source/contributor/release-management.rst
Due: none

neutron: Fix update-alternatives on CentOS
  docker/neutron/neutron-base/extend_start.sh
  docker/neutron/neutron-base/neutron_sudoers
Due: kolla-base, kolla-ansible-centos8-source-ovn, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

cinder-volume/ubuntu: add lsscsi and nvme
  docker/cinder/cinder-volume/Dockerfile.j2
  releasenotes/notes/bug-1942038-f1d96ae352f73bd1.yaml
Due: kolla-base, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-ubuntu-source-ceph, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Update .gitreview for stable/xena
  .gitreview
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Update TOX_CONSTRAINTS_FILE for stable/xena
  tox.ini
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Update master for stable/xena
  releasenotes/source/index.rst
  releasenotes/source/xena.rst
Due: none

Add Python3 yoga unit tests
  .zuul.d/project.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

openstack-base: drop anyjson
  docker/openstack-base/Dockerfile.j2
Due: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-ovn, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

update information about unbuildable images
  kolla/image/build.py
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

monasca: enable for Debian/aarch64
  doc/source/matrix_aarch64.csv
  kolla/image/build.py
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

centos: switch to RDO final release of Xena
  docker/base/Dockerfile.j2
  kolla/common/config.py
  tests/templates/template_overrides.j2
Due: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-mariadb, kolla-ansible-centos8-source-masakari, kolla-ansible-centos8-source-ovn, kolla-ansible-centos8-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

ovn: Add Debian x86 images
  doc/source/matrix_x86.csv
  docker/ovn/ovn-base/Dockerfile.j2
  kolla/image/build.py
  releasenotes/notes/ovn-debian-x86-d584f88b9e94b226.yaml
Due: kolla-base, kolla-ansible-centos8-source-ovn, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CI: make Debian source jobs voting
  .zuul.d/debian.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CI: Add missed Debian upgrade jobs
  .zuul.d/debian.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

cinder-volume: Install binary python libs only in binary
  docker/cinder/cinder-volume/Dockerfile.j2
Due: kolla-base, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-ubuntu-source-ceph, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

base: drop commented repositories
  docker/base/sources.list.ubuntu
  docker/base/sources.list.ubuntu.aarch64
Due: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-mariadb, kolla-ansible-centos8-source-masakari, kolla-ansible-centos8-source-ovn, kolla-ansible-centos8-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

neutron: Use update-alternatives --display instead of --query
  docker/neutron/neutron-base/extend_start.sh
  releasenotes/notes/bug-1936947-8beac926823cdf8f.yaml
Due: kolla-base, kolla-ansible-centos8-source-ovn, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source
