Repository openstack/kolla: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-rocky9-kvm, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-zun, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-mariadb, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-prometheus-opensearch, kolla-ansible-ubuntu-kvm, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

kolla-base:
  parent: base
  timeout: 10800
  post-timeout: 10800
  pre-run: tests/playbooks/pre.yml
  run: tests/playbooks/run.yml
  post-run: tests/playbooks/post.yml
  attempts: 5
  vars:
    publisher: false
  extra-vars:
    kolla_logs_dir: '{{ zuul_output_dir }}/logs/kolla'
    kolla_build_logs_dir: '{{ kolla_logs_dir }}/build'
  ...

kolla-build-no-infra-wheels-base:
  parent: kolla-base
  vars:
    use_infra_wheels_mirror: false

kolla-build-centos-binary:
  parent: kolla-base
  nodeset: kolla-centos
  voting: false
  vars:
    action: build
    base_distro: centos
    install_type: binary

kolla-publish-centos-binary:
  parent: kolla-build-centos-binary
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-centos-source:
  parent: kolla-base
  nodeset: kolla-centos
  vars:
    action: build
    base_distro: centos
    install_type: source

kolla-publish-centos-source:
  parent: kolla-build-centos-source
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-ubuntu-binary:
  parent: kolla-base
  nodeset: kolla-ubuntu
  voting: false
  vars:
    action: build
    base_distro: ubuntu
    install_type: binary

kolla-publish-ubuntu-binary:
  parent: kolla-build-ubuntu-binary
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-ubuntu-source:
  parent: kolla-base
  nodeset: kolla-ubuntu
  vars:
    action: build
    base_distro: ubuntu
    install_type: source

kolla-publish-ubuntu-source:
  parent: kolla-build-ubuntu-source
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-oraclelinux-binary:
  parent: kolla-base
  nodeset: kolla-centos
  voting: false
  vars:
    action: build
    base_distro: oraclelinux
    install_type: binary

kolla-publish-oraclelinux-binary:
  parent: kolla-build-oraclelinux-binary
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-oraclelinux-source:
  parent: kolla-base
  nodeset: kolla-centos
  vars:
    action: build
    base_distro: oraclelinux
    install_type: source

kolla-publish-oraclelinux-source:
  parent: kolla-build-oraclelinux-source
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

keystone: Fix requests-kerberos installation
  docker/keystone/keystone/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Fix symlinking of openstack-base source
  docker/openstack-base/Dockerfile.j2
  releasenotes/notes/fix-git-build-23c8fe6c4b0d92c4.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-zun, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

pyinotify is no longer needed
  docker/openstack-base/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-zun, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Refactor dev mode
  docker/base/Dockerfile.j2
  docker/base/install_projects.sh
  docker/base/start.sh
  releasenotes/notes/bug-1814515-99197e13a6280861.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-zun, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-mariadb, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-prometheus-opensearch, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Add ovn-bgp-agent / FRR / Horizon BGPVPN dashboard
  README.rst
  docker/base/Dockerfile.j2
  docker/base/frr.repo
  docker/frr/Dockerfile.j2
  docker/frr/extend_start.sh
  docker/frr/frr_sudoers
  docker/horizon/extend_start.sh
  docker/neutron/ovn-bgp-agent/Dockerfile.j2
  docker/neutron/ovn-bgp-agent/extend_start.sh
  docker/neutron/ovn-bgp-agent/ovn_bgp_agent_sudoers
  kolla/common/config.py
  kolla/common/sources.py
  kolla/common/users.py
  kolla/image/unbuildable.py
  kolla/template/repos.yaml
  releasenotes/notes/add-ovn-bgp-agent-frr-87d09857bbd66ba0.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-zun, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-mariadb, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-prometheus-opensearch, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Pin OpenSearch Dashboards to 2.15
  docker/opensearch/opensearch-dashboards/Dockerfile.j2
  docker/opensearch/opensearch-dashboards/apt_preferences_opensearch_dashboards
  releasenotes/notes/bug-2077319-a47a06175a589a1a.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-prometheus-opensearch, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

rabbitmq: Switch to Cloudsmith mirrors
  doc/source/contributor/versions.rst
  docker/base/rabbitmq_rabbitmq-erlang.repo
  docker/base/rabbitmq_rabbitmq-server.repo
  kolla/template/repos.yaml
  kolla/tests/test_methods.py
  releasenotes/notes/rabbitmq-erlang-migrate-from-packagecloud-59d7e9e0a10e1da0.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-zun, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-mariadb, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-prometheus-opensearch, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Removal of deletion of the proxysql database
  docker/proxysql/kolla_extend_start
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Cap ansible.posix below 1.6.0
  docker/kolla-toolbox/requirements.yml
  releasenotes/notes/bug-2080609-51f216ad1ba47d20.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

[release] Change RDO's DELOREAN_DEPS repo to Dalmatian
  kolla/common/config.py
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Gnocchi: Bump to 4.6.4
  kolla/common/sources.py
  releasenotes/notes/gnocchi-4_6_4-5d2b27e744f7d309.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Fix state checking via kolla_set_configs
  docker/base/set_configs.py
  releasenotes/notes/bug-2080861-a46761ea9e7bbf91.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-zun, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-mariadb, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-prometheus-opensearch, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Fix cinder-backup: add missing sysfsutils,lsscsi package
  docker/cinder/cinder-backup/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

[yoga-only] Cap setuptools <20.26.4
  tox.ini
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Switch to Dynamic Python Version Detection
  docker/base/Dockerfile.j2
  docker/horizon/Dockerfile.j2
  docker/horizon/extend_start.sh
  docker/kolla-toolbox/Dockerfile.j2
  docker/openstack-base/Dockerfile.j2
  docker/skyline/skyline-apiserver/extend_start.sh
  kolla/image/kolla_worker.py
  kolla/tests/test_build.py
  releasenotes/notes/remove-kolla-base-distro-d0376ae3aafffcc3.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-zun, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-mariadb, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-prometheus-opensearch, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

dev-mode: Run kolla_install_projects using sudo
  docker/base/start.sh
  docker/base/sudoers
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-zun, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-mariadb, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-prometheus-opensearch, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Revert "Pin OpenSearch Dashboards to 2.15"
  docker/opensearch/opensearch-dashboards/Dockerfile.j2
  docker/opensearch/opensearch-dashboards/apt_preferences_opensearch_dashboards
  releasenotes/notes/bug-2077319-a47a06175a589a1a.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-prometheus-opensearch, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Add Ovn BGP agent
  kolla/common/sources.py
  roles/kolla-build-config/defaults/main.yml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CI: Build aarch64 images on x86
  .zuul.d/debian.yaml
  tests/playbooks/pre.yml
  tests/playbooks/run.yml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Added systemd-standalone-sysusers package for Debuntu
  docker/base/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-zun, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-mariadb, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-prometheus-opensearch, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Switch to Ubuntu 24.04 LTS
  .zuul.d/base.yaml
  .zuul.d/ubuntu.yaml
  doc/source/support_matrix.rst
  docker/base/sources.list.ubuntu
  docker/base/sources.list.ubuntu.aarch64
  docker/nova/nova-libvirt/Dockerfile.j2
  kolla/common/config.py
  kolla/template/repos.yaml
  releasenotes/notes/ubuntu-24-04-585855b7d4753ce3.yaml
  requirements.txt
  tests/playbooks/pre.yml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-rocky9-kvm, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-zun, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-mariadb, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-prometheus-opensearch, kolla-ansible-ubuntu-kvm, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Revert "CI: Disable CentOS/Rocky/Ubuntu aarch64 jobs"
  .zuul.d/centos.yaml
  .zuul.d/rocky.yaml
  .zuul.d/ubuntu.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Path conditions:
  kolla-base: (unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$) or (unless all of: ^.*\.rst$, ^doc/.*)
  kolla-build-no-infra-wheels-base: unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$
  kolla-ansible-debian-source-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-rocky9-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-rocky9-zun: any of: ^docker\/(base|cinder|etcd|iscsid|kuryr|openstack-base|zun)\/.*
  kolla-ansible-rocky9-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-rocky9-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-rocky9-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-rocky9-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-rocky9-octavia: any of: ^docker/(base|neutron|octavia|openstack-base|openvswitch|ovn)/
  kolla-ansible-rocky9-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-rocky9-prometheus-opensearch: any of: ^docker/(base|opensearch|fluentd|grafana|prometheus)/
  kolla-ansible-rocky9-kvm: any of: ^docker/nova/
  kolla-ansible-ubuntu-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-ubuntu-upgrade-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-ubuntu-zun: any of: ^docker\/(base|cinder|etcd|iscsid|kuryr|openstack-base|zun)\/.*
  kolla-ansible-ubuntu-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-ubuntu-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-ubuntu-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-ubuntu-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-ubuntu-octavia: any of: ^docker/(base|neutron|octavia|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-prometheus-opensearch: any of: ^docker/(base|opensearch|fluentd|grafana|prometheus)/
  kolla-ansible-ubuntu-kvm: any of: ^docker/nova/
  kolla-build-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
