Repository openstack/kolla: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-base, tripleo-build-containers-centos-7, kolla-ansible-bifrost-centos-source, kolla-ansible-centos-source-ceph, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ceph, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

kolla-base:
  parent: base
  timeout: 10800
  post-timeout: 10800
  pre-run: tests/playbooks/pre.yml
  run: tests/playbooks/run.yml
  post-run: tests/playbooks/post.yml
  attempts: 5
  vars:
    publisher: false
  extra-vars:
    kolla_logs_dir: '{{ zuul_output_dir }}/logs/kolla'
    kolla_build_logs_dir: '{{ kolla_logs_dir }}/build'

tripleo-build-containers-centos-7:
  voting: false

kolla-build-centos-binary:
  parent: kolla-base
  nodeset: kolla-centos
  voting: false
  vars:
    action: build
    base_distro: centos
    install_type: binary

kolla-publish-centos-binary:
  parent: kolla-build-centos-binary
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-centos-source:
  parent: kolla-base
  nodeset: kolla-centos
  vars:
    action: build
    base_distro: centos
    install_type: source

kolla-publish-centos-source:
  parent: kolla-build-centos-source
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-ubuntu-binary:
  parent: kolla-base
  nodeset: kolla-ubuntu
  voting: false
  vars:
    action: build
    base_distro: ubuntu
    install_type: binary

kolla-publish-ubuntu-binary:
  parent: kolla-build-ubuntu-binary
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-ubuntu-source:
  parent: kolla-base
  nodeset: kolla-ubuntu
  vars:
    action: build
    base_distro: ubuntu
    install_type: source

kolla-publish-ubuntu-source:
  parent: kolla-build-ubuntu-source
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-oraclelinux-binary:
  parent: kolla-base
  nodeset: kolla-centos
  voting: false
  vars:
    action: build
    base_distro: oraclelinux
    install_type: binary

kolla-publish-oraclelinux-binary:
  parent: kolla-build-oraclelinux-binary
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-oraclelinux-source:
  parent: kolla-base
  nodeset: kolla-centos
  vars:
    action: build
    base_distro: oraclelinux
    install_type: source

kolla-publish-oraclelinux-source:
  parent: kolla-build-oraclelinux-source
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

Add a storm-base image
  docker/monasca/monasca-thresh/Dockerfile.j2
  docker/storm/storm-base/Dockerfile.j2
  docker/storm/storm-base/extend_start.sh
  docker/storm/storm/Dockerfile.j2
Due: kolla-base, tripleo-build-containers-centos-7, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

[CI] Stop checking TripleO
  .zuul.d/centos.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Improve pip install process for offline deployment.
  docker/base/Dockerfile.j2
  docker/elasticsearch/elasticsearch-curator/Dockerfile.j2
  docker/gnocchi/gnocchi-base/Dockerfile.j2
  docker/helm-repository/Dockerfile.j2
  docker/kolla-toolbox/Dockerfile.j2
  docker/macros.j2
  docker/openstack-base/Dockerfile.j2
Due: kolla-base, tripleo-build-containers-centos-7, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Fix Mistral source images to respect upper-constraints
  docker/mistral/mistral-base/Dockerfile.j2
  releasenotes/notes/mistral-respect-uc-77aea99b5c6506ba.yaml
Due: kolla-base, tripleo-build-containers-centos-7, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Revert virtualenv workaround
  docker/kolla-toolbox/Dockerfile.j2
Due: kolla-base, tripleo-build-containers-centos-7, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Remove two missed unicode flags
  tests/test_set_config.py
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Horizon: gentler `-o nounset` handling
  docker/horizon/extend_start.sh
Due: kolla-base, tripleo-build-containers-centos-7, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Remove zaqar image and related plugins
  README.rst
  doc/source/matrix_aarch64.csv
  doc/source/matrix_x86.csv
  docker/horizon/Dockerfile.j2
  docker/horizon/extend_start.sh
  docker/zaqar/zaqar-base/Dockerfile.j2
  docker/zaqar/zaqar-base/extend_start.sh
  docker/zaqar/zaqar-server/Dockerfile.j2
  docker/zaqar/zaqar-wsgi/Dockerfile.j2
  docker/zaqar/zaqar-wsgi/extend_start.sh
  kolla/common/config.py
  kolla/image/build.py
  releasenotes/notes/remove-zaqar-image-de36960a88f132c8.yaml
  roles/kolla-build-config/defaults/main.yml
  tools/version-check.py
Due: kolla-base, tripleo-build-containers-centos-7, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Build Masakari for Ubuntu binary
  doc/source/matrix_aarch64.csv
  doc/source/matrix_x86.csv
  docker/masakari/masakari-api/Dockerfile.j2
  docker/masakari/masakari-base/Dockerfile.j2
  docker/masakari/masakari-engine/Dockerfile.j2
  docker/masakari/masakari-monitors/Dockerfile.j2
  kolla/image/build.py
  releasenotes/notes/masakari-ubuntu-binary-e3bb7a82c73e48e7.yaml
Due: kolla-base, tripleo-build-containers-centos-7, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

docker: do not install pip again in images
  docker/elasticsearch/elasticsearch-curator/Dockerfile.j2
  docker/gnocchi/gnocchi-base/Dockerfile.j2
  docker/openstack-base/Dockerfile.j2
  docker/openvswitch/openvswitch-netcontrold/Dockerfile.j2
  docker/telegraf/Dockerfile.j2
Due: kolla-base, tripleo-build-containers-centos-7, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Bump up rally and rally-openstack
  kolla/common/config.py
Due: kolla-base, tripleo-build-containers-centos-7, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

base: drop Linaro OBS key for CentOS and Ubuntu
  docker/base/Dockerfile.j2
Due: kolla-base, tripleo-build-containers-centos-7, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CI: revert to public package mirrors after build
  tests/templates/template_overrides.j2
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

nova-compute: provide needed deps for debian/aarch64
  docker/base/apt_preferences.debian
  docker/base/sources.list.debian
Due: kolla-base, tripleo-build-containers-centos-7, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

nova-compute: 'pmdk-tools' is x86-64 only in Ubuntu 'bionic'
  docker/nova/nova-compute/Dockerfile.j2
Due: kolla-base, tripleo-build-containers-centos-7, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CI: Use Docker proxy for pulls + Ruby fixes + get_pip
  docker/macros.j2
  docker/monasca/monasca-grafana/Dockerfile.j2
  docker/sensu/sensu-client/Dockerfile.j2
  kolla/image/build.py
  tests/playbooks/pre.yml
Due: kolla-base, tripleo-build-containers-centos-7, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Add octavia-driver-agent
  docker/octavia/octavia-driver-agent/Dockerfile.j2
  kolla/common/config.py
  releasenotes/notes/octavia-driver-agent-83ee17b82c577e95.yaml
Due: kolla-base, tripleo-build-containers-centos-7, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

[docs] Add templates and examples of renos
  doc/source/contributor/release-notes.rst
  releasenotes/templates/feature.yml
  releasenotes/templates/fix.yml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Upgrade the Monasca Fluentd output plugin
  docker/fluentd/Dockerfile.j2
  releasenotes/notes/fix-monasca-fluentd-output-plugin-c27798ba186a8ef7.yaml
Due: kolla-base, tripleo-build-containers-centos-7, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

get rid of traces of CentOS 7 support
  docker/nova/nova-base/Dockerfile.j2
  docker/nova/nova-libvirt/Dockerfile.j2
Due: kolla-base, tripleo-build-containers-centos-7, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Remove sensu images
  doc/source/matrix_aarch64.csv
  doc/source/matrix_x86.csv
  docker/base/sources.list.ubuntu
  docker/sensu/sensu-api/Dockerfile.j2
  docker/sensu/sensu-base/Dockerfile.j2
  docker/sensu/sensu-base/extend_start.sh
  docker/sensu/sensu-client/Dockerfile.j2
  docker/sensu/sensu-server/Dockerfile.j2
  kolla/common/config.py
  kolla/image/build.py
  kolla/template/repos.yaml
  releasenotes/notes/remove-sensu-a20b01d025385aa1.yaml
  tools/validate-binary-build.sh
Due: kolla-base, tripleo-build-containers-centos-7, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Debian: use libvirt 7.0.0 from Linaro OBS repository
  docker/base/apt_preferences.debian
  kolla/template/repos.yaml
Due: kolla-base, tripleo-build-containers-centos-7, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Remove zaqar client from openstack-base and heat-engine
  docker/heat/heat-engine/Dockerfile.j2
  docker/openstack-base/Dockerfile.j2
Due: kolla-base, tripleo-build-containers-centos-7, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

doc: add wu.chunyang to list of core developers
  doc/source/contributor/contributing.rst
Due: none

nova-compute: provide needed deps for debian/aarch64
  docker/base/apt_preferences.debian
Due: kolla-base, tripleo-build-containers-centos-7, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

doc: add some information about unbuildable images
  doc/source/contributor/adding-a-new-image.rst
Due: none

Make kolla_set_configs open files in binary mode
  docker/base/set_configs.py
  releasenotes/notes/bug-1913952-a23431cef137f9c7.yaml
  tests/test_set_config.py
Due: kolla-base, tripleo-build-containers-centos-7, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

doc: describe 'allowed-to-fail' option
  doc/source/contributor/ci.rst
  doc/source/contributor/index.rst
Due: none

Drop lower-constraints
  .zuul.d/base.yaml
  lower-constraints.txt
  tox.ini
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

base: print release version in case of running unsupported one
  docker/base/Dockerfile.j2
Due: kolla-base, tripleo-build-containers-centos-7, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Path conditions:
  kolla-base: (unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$) or (unless all of: ^.*\.rst$, ^doc/.*)
  tripleo-build-containers-centos-7: any of: ^docker/.*$, ^kolla/.*$, ^requirements.txt$, ^setup.cfg$, ^setup.py$
  kolla-ansible-bifrost-centos-source: any of: ^docker\/bifrost\/.*
  kolla-ansible-centos-source-ceph: any of: ^docker\/(ceph|cinder)\/.*
  kolla-ansible-ubuntu-source-zun: any of: ^docker\/(zun|kuryr)\/.*
  kolla-ansible-ubuntu-source-ceph: any of: ^docker\/(ceph|cinder)\/.*
  kolla-build-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
