Repository openstack/kolla: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-debian-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-upgrade-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-rocky9-kvm, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-zun, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-mariadb, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-prometheus-opensearch, kolla-ansible-ubuntu-kvm, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Path conditions:
  kolla-base: (unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$) or (unless all of: ^.*\.rst$, ^doc/.*)
  kolla-base-podman: unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$
  kolla-build-no-infra-wheels-base: unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$
  kolla-ansible-debian-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-rocky9-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-rocky9-upgrade-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-rocky9-zun: any of: ^docker\/(base|cinder|etcd|iscsid|kuryr|openstack-base|zun)\/.*
  kolla-ansible-rocky9-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-rocky9-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-rocky9-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-rocky9-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-rocky9-octavia: any of: ^docker/(base|neutron|octavia|openstack-base|openvswitch|ovn)/
  kolla-ansible-rocky9-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-rocky9-prometheus-opensearch: any of: ^docker/(base|opensearch|fluentd|grafana|prometheus)/
  kolla-ansible-rocky9-kvm: any of: ^docker/nova/
  kolla-ansible-ubuntu-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-ubuntu-upgrade-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-ubuntu-zun: any of: ^docker\/(base|cinder|etcd|iscsid|kuryr|openstack-base|zun)\/.*
  kolla-ansible-ubuntu-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-ubuntu-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-ubuntu-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-ubuntu-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-ubuntu-octavia: any of: ^docker/(base|neutron|octavia|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-prometheus-opensearch: any of: ^docker/(base|opensearch|fluentd|grafana|prometheus)/
  kolla-ansible-ubuntu-kvm: any of: ^docker/nova/
  kolla-build-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*

ovn: Fix log permissions
  docker/ovn/ovn-base/extend_start.sh
  docker/ovn/ovn-controller/Dockerfile.j2
  docker/ovn/ovn-controller/extend_start.sh
  docker/ovn/ovn-nb-db-server/Dockerfile.j2
  docker/ovn/ovn-nb-db-server/extend_start.sh
  docker/ovn/ovn-northd/Dockerfile.j2
  docker/ovn/ovn-northd/extend_start.sh
  docker/ovn/ovn-sb-db-server/Dockerfile.j2
  docker/ovn/ovn-sb-db-server/extend_start.sh
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Fix glance-api: add missing lsscsi package
  docker/glance/glance-api/Dockerfile.j2
  releasenotes/notes/fix-glance-api-add-missing-lsscsi-package-e6ae949eb8bdbe7b.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-upgrade-cephadm, kolla-ansible-rocky9-swift, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-swift, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Move to CentOS Stream 10
  .zuul.d/base.yaml
  .zuul.d/centos.yaml
  docker/base/Dockerfile.j2
  docker/base/ci-centos.repo
  docker/base/influxdb.repo
  docker/base/kolla_el10.repo
  docker/base/proxysql.repo
  docker/base/td.repo
  docker/ironic/ironic-conductor/Dockerfile.j2
  docker/keystone/keystone-base/Dockerfile.j2
  docker/keystone/keystone-ssh/extend_start.sh
  docker/kolla-toolbox/Dockerfile.j2
  docker/manila/manila-share/Dockerfile.j2
  docker/mariadb/mariadb-base/Dockerfile.j2
  docker/mariadb/mariadb-server/Dockerfile.j2
  docker/neutron/neutron-mlnx-agent/Dockerfile.j2
  docker/nova/nova-compute-ironic/Dockerfile.j2
  docker/nova/nova-libvirt/Dockerfile.j2
  docker/nova/nova-ssh/extend_start.sh
  docker/openstack-base/Dockerfile.j2
  kolla/common/config.py
  kolla/image/unbuildable.py
  kolla/template/repos.yaml
  kolla/tests/test_methods.py
  tests/templates/template_overrides.j2
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-debian-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-upgrade-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-rocky9-kvm, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-zun, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-mariadb, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-prometheus-opensearch, kolla-ansible-ubuntu-kvm, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

[base/rhel] Disable docker-ce repository in base file
  docker/base/docker-ce.repo
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-debian-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-upgrade-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-zun, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-mariadb, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-prometheus-opensearch, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Build RabbitMQ 4.1 in stable releases
  docker/kolla-toolbox/Dockerfile.j2
  docker/kolla-toolbox/apt_preferences_rabbitmq.debian
  docker/kolla-toolbox/apt_preferences_rabbitmq.ubuntu
  docker/rabbitmq/rabbitmq-4-1/Dockerfile.j2
  docker/rabbitmq/rabbitmq-4-1/apt_preferences_rabbitmq.debian
  docker/rabbitmq/rabbitmq-4-1/apt_preferences_rabbitmq.ubuntu
  docker/rabbitmq/rabbitmq-4-1/extend_start.sh
  docker/rabbitmq/rabbitmq-4-1/healthcheck_rabbitmq
  docker/rabbitmq/rabbitmq-4-1/rabbitmq_packages_rpm.centos
  docker/rabbitmq/rabbitmq-4-1/rabbitmq_packages_rpm.rocky
  docker/rabbitmq/rabbitmq/Dockerfile.j2
  docker/rabbitmq/rabbitmq/apt_preferences_rabbitmq.debian
  docker/rabbitmq/rabbitmq/apt_preferences_rabbitmq.ubuntu
  docker/rabbitmq/rabbitmq/extend_start.sh
  docker/rabbitmq/rabbitmq/healthcheck_rabbitmq
  docker/rabbitmq/rabbitmq/rabbitmq_packages_rpm.centos
  docker/rabbitmq/rabbitmq/rabbitmq_packages_rpm.rocky
  kolla/template/repos-noble.yaml
  kolla/template/repos.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-upgrade-cephadm, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Add rsync package to the nova-ssh container
  docker/nova/nova-ssh/Dockerfile.j2
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-kvm, kolla-ansible-ubuntu-kvm, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Fix kolla-set-configs --check to detect state mismatch
  docker/base/set_configs.py
  releasenotes/notes/bug-2114173-70d0b815a42ae239.yaml
  tests/test_set_config.py
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-debian-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-upgrade-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-zun, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-mariadb, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-prometheus-opensearch, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CI: Bump ansible-lint to <26
  test-requirements.txt
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Remove temporary fix for skyline-apiserver.
  docker/skyline/skyline-apiserver/Dockerfile.j2
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

change erlang arm64 repo to rhel based
  docker/base/copr-rabbitmq-erlang.repo
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-debian-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-upgrade-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-zun, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-mariadb, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-prometheus-opensearch, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

[2025.1 only] switch rpm distros to Cloud SIG Epoxy repos
  docker/base/Dockerfile.j2
  docker/base/ci-centos.repo
  docker/base/ci-rocky.repo
  kolla/common/config.py
  tests/templates/template_overrides.j2
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-debian-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-upgrade-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-zun, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-mariadb, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-prometheus-opensearch, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

change erlang arm64 repo to rhel9 based
  docker/base/copr-rabbitmq-erlang.repo
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-debian-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-upgrade-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-zun, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-mariadb, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-prometheus-opensearch, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source
