Repository openstack/kolla: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-debian-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-upgrade-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-rocky9-kvm, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-mariadb, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-prometheus-opensearch, kolla-ansible-ubuntu-kvm, kolla-ansible-ubuntu-cells, kolla-ansible-ubuntu-bifrost, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64, kolla-ansible-debian-bookworm-bifrost, kolla-ansible-rocky-10-bifrost, kolla-ansible-ubuntu-noble-bifrost, kolla-ansible-debian-bookworm-cephadm, kolla-ansible-debian-bookworm-cephadm-upgrade, kolla-ansible-ubuntu-noble-cephadm, kolla-ansible-ubuntu-noble-cephadm-upgrade, kolla-ansible-debian-bookworm-ironic, kolla-ansible-ubuntu-noble-ironic, kolla-ansible-debian-bookworm-masakari, kolla-ansible-rocky-10-masakari, kolla-ansible-ubuntu-noble-masakari, kolla-ansible-debian-bookworm-octavia, kolla-ansible-ubuntu-noble-octavia, kolla-ansible-debian-bookworm-ovn, kolla-ansible-rocky-10-ovn, kolla-ansible-ubuntu-noble-ovn

kolla-base:
  parent: base
  timeout: 10800
  post-timeout: 10800
  pre-run: tests/playbooks/pre.yml
  run: tests/playbooks/run.yml
  post-run: tests/playbooks/post.yml
  attempts: 5
  roles:
  - zuul: openstack/ansible-collection-kolla
  vars:
    base_arch: x86_64
    publisher: false
    container_engine: docker
  extra-vars:
  ...

kolla-base-podman:
  parent: kolla-base
  vars:
    container_engine: podman
    configure_ephemeral_mountpoint: /var/lib/containers

kolla-build-no-infra-wheels-base:
  parent: kolla-base
  vars:
    use_infra_wheels_mirror: false

kolla-build-centos-binary:
  parent: kolla-base
  nodeset: kolla-centos
  voting: false
  vars:
    action: build
    base_distro: centos
    install_type: binary

kolla-publish-centos-binary:
  parent: kolla-build-centos-binary
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-centos-source:
  parent: kolla-base
  nodeset: kolla-centos
  vars:
    action: build
    base_distro: centos
    install_type: source

kolla-publish-centos-source:
  parent: kolla-build-centos-source
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-ubuntu-binary:
  parent: kolla-base
  nodeset: kolla-ubuntu
  voting: false
  vars:
    action: build
    base_distro: ubuntu
    install_type: binary

kolla-publish-ubuntu-binary:
  parent: kolla-build-ubuntu-binary
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-ubuntu-source:
  parent: kolla-base
  nodeset: kolla-ubuntu
  vars:
    action: build
    base_distro: ubuntu
    install_type: source

kolla-publish-ubuntu-source:
  parent: kolla-build-ubuntu-source
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-oraclelinux-binary:
  parent: kolla-base
  nodeset: kolla-centos
  voting: false
  vars:
    action: build
    base_distro: oraclelinux
    install_type: binary

kolla-publish-oraclelinux-binary:
  parent: kolla-build-oraclelinux-binary
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-oraclelinux-source:
  parent: kolla-base
  nodeset: kolla-centos
  vars:
    action: build
    base_distro: oraclelinux
    install_type: source

kolla-publish-oraclelinux-source:
  parent: kolla-build-oraclelinux-source
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

Drop apache installation outside of httpd container
  docker/base/Dockerfile.j2
  docker/horizon/Dockerfile.j2
  docker/httpd/Dockerfile.j2
  docker/httpd/httpd_setup.sh
  docker/ironic/ironic-prometheus-exporter/Dockerfile.j2
  docker/keystone/keystone-base/Dockerfile.j2
  docker/keystone/keystone/Dockerfile.j2
  docker/letsencrypt/letsencrypt-webserver/Dockerfile.j2
  docker/letsencrypt/letsencrypt-webserver/extend_start.sh
  docker/openstack-base/Dockerfile.j2
  releasenotes/notes/drop-apache-installation-outside-of-http-container-46ee0394e484c1f5.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-debian-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-upgrade-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-mariadb, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-prometheus-opensearch, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64, kolla-ansible-debian-bookworm-cephadm, kolla-ansible-debian-bookworm-cephadm-upgrade, kolla-ansible-ubuntu-noble-cephadm, kolla-ansible-ubuntu-noble-cephadm-upgrade, kolla-ansible-debian-bookworm-ironic, kolla-ansible-ubuntu-noble-ironic, kolla-ansible-debian-bookworm-masakari, kolla-ansible-rocky-10-masakari, kolla-ansible-ubuntu-noble-masakari, kolla-ansible-debian-bookworm-octavia, kolla-ansible-ubuntu-noble-octavia, kolla-ansible-debian-bookworm-ovn, kolla-ansible-rocky-10-ovn, kolla-ansible-ubuntu-noble-ovn

Update .gitreview for stable/2026.1
  .gitreview
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Update TOX_CONSTRAINTS_FILE for stable/2026.1
  tox.ini
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

ironic-pxe: Remove httpd setup call
  docker/ironic/ironic-pxe/extend_start.sh
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-debian-ironic, kolla-ansible-rocky9-ironic, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64, kolla-ansible-debian-bookworm-ironic, kolla-ansible-ubuntu-noble-ironic

Remove influxdb from repos.yaml
  doc/source/contributor/versions.rst
  docker/base/Dockerfile.j2
  kolla/template/repos.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-debian-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-upgrade-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-mariadb, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-prometheus-opensearch, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64, kolla-ansible-debian-bookworm-cephadm, kolla-ansible-debian-bookworm-cephadm-upgrade, kolla-ansible-ubuntu-noble-cephadm, kolla-ansible-ubuntu-noble-cephadm-upgrade, kolla-ansible-debian-bookworm-ironic, kolla-ansible-ubuntu-noble-ironic, kolla-ansible-debian-bookworm-masakari, kolla-ansible-rocky-10-masakari, kolla-ansible-ubuntu-noble-masakari, kolla-ansible-debian-bookworm-octavia, kolla-ansible-ubuntu-noble-octavia, kolla-ansible-debian-bookworm-ovn, kolla-ansible-rocky-10-ovn, kolla-ansible-ubuntu-noble-ovn

horizon: rebuild static assets after theme changes
  docker/horizon/extend_start.sh
  releasenotes/notes/horizon-theme-rebuilds-65e5f50c1d0cc8dd.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64

CI: Stop running upgrade jobs
  .zuul.d/debian.yaml
  .zuul.d/rocky.yaml
  .zuul.d/ubuntu.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Ignore D001 Line too long errors in release notes
  tox.ini
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Update master for stable/2026.1
  releasenotes/source/2026.1.rst
  releasenotes/source/index.rst
Due: none

Add 2026.1 prelude
  releasenotes/notes/prelude-2026-1-b056252cfee3e3b6.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Drop leftover of monasca support
  roles/kolla-build-config/defaults/main.yml
  tools/version-check.py
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CI: add aarch64 rocky10 publish job
  zuul.d/rocky.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Remove support for networking-infoblox
  docker/neutron/neutron-infoblox-ipam-agent/Dockerfile.j2
  releasenotes/notes/remove-networking-infoblox-d2819f908d7d2b54.yaml
  roles/kolla-build-config/defaults/main.yml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64, kolla-ansible-debian-bookworm-octavia, kolla-ansible-ubuntu-noble-octavia, kolla-ansible-debian-bookworm-ovn, kolla-ansible-rocky-10-ovn, kolla-ansible-ubuntu-noble-ovn

rabbitmq: Improve healthcheck script output
  docker/rabbitmq/rabbitmq/healthcheck_rabbitmq
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-upgrade-cephadm, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64, kolla-ansible-debian-bookworm-cephadm, kolla-ansible-debian-bookworm-cephadm-upgrade, kolla-ansible-ubuntu-noble-cephadm, kolla-ansible-ubuntu-noble-cephadm-upgrade

Align default tag with Kolla-Ansible
  kolla/common/config.py
  releasenotes/notes/align-default-tag-with-kolla-ansible-7b2224d881848864.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Kayobe release: Remove out of date advice
  doc/source/contributor/release-management.rst
Due: none

doc: Improve code review guidelines
  doc/source/contributor/code-reviews.rst
Due: none

stable-only: fix zuul config
  .zuul.d/ubuntu.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

stable-only: fix zuul config
  .zuul.d/base.yaml
  .zuul.d/debian.yaml
  .zuul.d/project.yaml
  .zuul.d/rocky.yaml
  .zuul.d/ubuntu.yaml
  requirements.txt
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

httpd: Install mod_auth_mellon from EPEL
  docker/httpd/Dockerfile.j2
  docker/keystone/keystone-base/Dockerfile.j2
  kolla/template/repos.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64

Implement container image build for kerbside.
  doc/source/support_matrix.rst
  docker/kerbside/kerbside-api/Dockerfile.j2
  docker/kerbside/kerbside-api/extend_start.sh
  docker/kerbside/kerbside-base/Dockerfile.j2
  docker/kerbside/kerbside-proxy/Dockerfile.j2
  docker/kerbside/kerbside-proxy/extend_start.sh
  kolla/common/config.py
  kolla/common/sources.py
  kolla/common/users.py
  releasenotes/notes/add-kerbside-images-04d28d7e76e5bc1f.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64

Revert "Switch to Gazpacho/2026.1 sources".
  kolla/common/config.py
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

keepalived: Install mariadb client package
  docker/keepalived/Dockerfile.j2
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64

kolla-toolbox: Pin openstacksdk to 4.14.0
  docker/kolla-toolbox/Dockerfile.j2
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64

Revert "kolla-toolbox: Pin openstacksdk to 4.14.0"
  docker/kolla-toolbox/Dockerfile.j2
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64

kolla-build: Use SandboxedEnvironment to prevent SSTI
  kolla/image/kolla_worker.py
  kolla/tests/test_build.py
  kolla/tests/test_validate_all_file.py
  tools/validate-all-file.py
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CI: Switch to use Debian Trixie upgrade job
  zuul.d/scenarios/aio.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Path conditions:
  kolla-base: (unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$) or (unless all of: ^.*\.rst$, ^doc/.*) or (unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$)
  kolla-base-podman: (unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$) or (unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$)
  kolla-build-no-infra-wheels-base: (unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$) or (unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$)
  kolla-ansible-debian-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-rocky9-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-rocky9-upgrade-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-rocky9-zun: any of: ^docker\/(base|cinder|etcd|iscsid|kuryr|openstack-base|zun)\/.*
  kolla-ansible-rocky9-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-rocky9-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-rocky9-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-rocky9-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-rocky9-octavia: any of: ^docker/(base|neutron|octavia|openstack-base|openvswitch|ovn)/
  kolla-ansible-rocky9-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-rocky9-prometheus-opensearch: any of: ^docker/(base|opensearch|fluentd|grafana|prometheus)/
  kolla-ansible-rocky9-kvm: any of: ^docker/nova/
  kolla-ansible-ubuntu-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-ubuntu-upgrade-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-ubuntu-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-ubuntu-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-ubuntu-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-ubuntu-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-ubuntu-octavia: any of: ^docker/(base|neutron|octavia|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-prometheus-opensearch: any of: ^docker/(base|opensearch|fluentd|grafana|prometheus)/
  kolla-ansible-ubuntu-kvm: any of: ^docker/nova/
  kolla-ansible-ubuntu-cells: any of: ^docker/proxysql/
  kolla-ansible-ubuntu-bifrost: any of: ^docker/bifrost/
  kolla-ansible-ubuntu-zun: any of: ^docker/|zun/
  kolla-build-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-10s: any of: ^docker/
  kolla-ansible-debian-trixie: any of: ^docker/
  kolla-ansible-debian-bookworm-upgrade: any of: ^docker/
  kolla-ansible-rocky-10: any of: ^docker/
  kolla-ansible-rocky-10-upgrade: any of: ^docker/
  kolla-ansible-ubuntu-noble: any of: ^docker/
  kolla-ansible-ubuntu-noble-upgrade: any of: ^docker/
  kolla-ansible-centos-10s-aarch64: any of: ^docker/
  kolla-ansible-debian-bookworm-aarch64: any of: ^docker/
  kolla-ansible-debian-bookworm-bifrost: any of: ^docker/bifrost/
  kolla-ansible-rocky-10-bifrost: any of: ^docker/bifrost/
  kolla-ansible-ubuntu-noble-bifrost: any of: ^docker/bifrost/
  kolla-ansible-debian-bookworm-cephadm: any of: ^docker\/(base|cinder|glance|mariadb-server|openstack-base|rabbitmq)\/.*
  kolla-ansible-debian-bookworm-cephadm-upgrade: any of: ^docker\/(base|cinder|glance|mariadb-server|openstack-base|rabbitmq)\/.*
  kolla-ansible-ubuntu-noble-cephadm: any of: ^docker\/(base|cinder|glance|mariadb-server|openstack-base|rabbitmq)\/.*
  kolla-ansible-ubuntu-noble-cephadm-upgrade: any of: ^docker\/(base|cinder|glance|mariadb-server|openstack-base|rabbitmq)\/.*
  kolla-ansible-debian-bookworm-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-ubuntu-noble-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-debian-bookworm-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-rocky-10-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-ubuntu-noble-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-debian-bookworm-octavia: any of: ^docker/(base|neutron|octavia|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-noble-octavia: any of: ^docker/(base|neutron|octavia|openstack-base|openvswitch|ovn)/
  kolla-ansible-debian-bookworm-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-rocky-10-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-noble-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
