Repository openstack/kolla: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-base, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-upgrade-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-ansible-ubuntu-source-kvm, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Path conditions:
  kolla-base: (unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$) or (unless all of: ^.*\.rst$, ^doc/.*)
  kolla-ansible-debian-source-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-ubuntu-source-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-ubuntu-source-upgrade-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-ubuntu-source-zun: any of: ^docker\/(base|cinder|etcd|iscsid|kuryr|openstack-base|zun)\/.*
  kolla-ansible-ubuntu-source-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-ubuntu-source-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-ubuntu-source-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-ubuntu-source-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-ubuntu-source-linuxbridge: any of: ^docker/(base|neutron|openstack-base)/
  kolla-ansible-ubuntu-source-octavia: any of: ^docker/(base|neutron|octavia|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-source-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-source-prometheus-efk: any of: ^docker/(base|elasticsearch|fluentd|grafana|kibana|prometheus)/
  kolla-ansible-ubuntu-source-kvm: any of: ^docker/nova/
  kolla-build-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*

[CI] Move queue setting to project level
  .zuul.d/base.yaml
  .zuul.d/centos.yaml
  .zuul.d/debian.yaml
  .zuul.d/ubuntu.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

[CI] Move queue setting to project level
  .zuul.d/base.yaml
  .zuul.d/centos.yaml
  .zuul.d/ubuntu.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

[CI] Disable Debian jobs
  .zuul.d/debian.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Move to CentOS Stream 9
  .zuul.d/base.yaml
  .zuul.d/centos.yaml
  docker/base/Dockerfile.j2
  docker/base/mariadb-aarch64.repo
  docker/base/mariadb.repo
  docker/base/rabbitmq_rabbitmq-erlang.repo
  docker/bifrost/bifrost-base/Dockerfile.j2
  docker/collectd/Dockerfile.j2
  docker/cron/Dockerfile.j2
  docker/cron/extend_start.sh
  docker/cron/logrotate
  docker/horizon/Dockerfile.j2
  docker/iscsid/Dockerfile.j2
  docker/keystone/keystone-base/Dockerfile.j2
  docker/kolla-toolbox/Dockerfile.j2
  docker/mariadb/mariadb-server/Dockerfile.j2
  docker/neutron/neutron-base/extend_start.sh
  docker/nova/nova-compute/Dockerfile.j2
  docker/nova/nova-libvirt/Dockerfile.j2
  docker/openstack-base/Dockerfile.j2
  docker/prometheus/prometheus-libvirt-exporter/Dockerfile.j2
  docker/rabbitmq/Dockerfile.j2
  docker/vitrage/vitrage-base/Dockerfile.j2
  docker/watcher/watcher-base/Dockerfile.j2
  kolla/common/config.py
  kolla/image/build.py
  kolla/template/repos.yaml
  kolla/tests/test_build.py
  kolla/tests/test_methods.py
  releasenotes/notes/centos-stream-9-ec4591d83c22b509.yaml
  tests/playbooks/pre.yml
  tests/templates/template_overrides.j2
Due: kolla-base, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-upgrade-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-ansible-ubuntu-source-kvm, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

grafana: ignore SHA1 gpg key on CentOS Stream 9 (and family)
  docker/base/Dockerfile.j2
  docker/grafana/Dockerfile.j2
  kolla/image/build.py
Due: kolla-base, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-upgrade-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

nova-libvirt: provide TPM emulation
  docker/nova/nova-libvirt/Dockerfile.j2
  releasenotes/notes/nova-libvirt-add-tpm-emulation-ed5e823eaaf6aa8f.yaml
Due: kolla-base, kolla-ansible-ubuntu-source-kvm, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Don't ignore the remaining apt-get update errors
  docker/base/Dockerfile.j2
  docker/bifrost/bifrost-base/Dockerfile.j2
Due: kolla-base, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-upgrade-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

repos: in CentOS Stream 9 haproxy is in appstream repo
  docker/haproxy/haproxy/Dockerfile.j2
  kolla/template/repos.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

centos: use Erlang 24 on AArch64
  docker/base/Dockerfile.j2
  docker/kolla-toolbox/Dockerfile.j2
  docker/rabbitmq/Dockerfile.j2
  kolla/template/repos.yaml
Due: kolla-base, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-upgrade-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

use Erlang 24 on Ubuntu/AArch64
  docker/base/apt_preferences.ubuntu
Due: kolla-base, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-upgrade-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

curl: Add retries
  docker/base/curlrc
  releasenotes/notes/curl-retries-e1c5d6b5b25d7380.yaml
Due: kolla-base, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-upgrade-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

debian: use Erlang 24 on AArch64
  docker/base/apt_preferences.debian
  kolla/template/repos.yaml
Due: kolla-base, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-upgrade-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Add RockyLinux 9 support
  .zuul.d/base.yaml
  .zuul.d/rocky.yaml
  docker/base/Dockerfile.j2
  docker/base/httpd_setup.sh
  docker/ironic/ironic-pxe/extend_start.sh
  docker/neutron/neutron-base/extend_start.sh
  kolla/common/config.py
  kolla/image/build.py
  kolla/template/repos.yaml
  releasenotes/notes/rockylinux9-1f004ab9b3b2e096.yaml
  tests/templates/template_overrides.j2
Due: kolla-base, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-upgrade-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

influxdb: enable on CentOS/AArch64
  kolla/image/build.py
  kolla/template/repos.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Add rocky9 periodic jobs
  .zuul.d/rocky.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Fix ironic-pxe EFI path for rocky
  docker/ironic/ironic-pxe/extend_start.sh
Due: kolla-base, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-ironic, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

proxysql: Use almalinux for centos/rocky9
  docker/base/Dockerfile.j2
  docker/base/proxysql.repo
  kolla/image/build.py
Due: kolla-base, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-upgrade-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CI/centos/rocky: use repos from opendev mirror
  docker/base/ci-centos.repo
  docker/base/ci-rocky.repo
  tests/templates/template_overrides.j2
Due: kolla-base, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-upgrade-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Revert "[CI] Disable Debian jobs"
  .zuul.d/debian.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

debian: swtpm is in backports
  docker/base/apt_preferences.debian
Due: kolla-base, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-upgrade-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Support qemu block rbd in nova-compute
  docker/nova/nova-compute/Dockerfile.j2
Due: kolla-base, kolla-ansible-ubuntu-source-kvm, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

kolla-toolbox: bump ansible-core to 2.13
  docker/kolla-toolbox/Dockerfile.j2
  docker/kolla-toolbox/ansible.cfg
  releasenotes/notes/toolbox-ansible-2-13-ecea6484aaff1182.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Move info about unbuildable images to separate file
  kolla/image/build.py
  kolla/image/unbuildable.py
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Move status and log related things to separate file
  kolla/image/build.py
  kolla/image/utils.py
  kolla/tests/test_build.py
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Move build related tasks to separate file
  kolla/image/build.py
  kolla/image/tasks.py
  kolla/tests/test_build.py
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Move KollaWorker stuff to separate file
  kolla/image/build.py
  kolla/image/kolla_worker.py
  kolla/tests/test_build.py
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

drop shebang from Python files
  kolla/image/build.py
  kolla/template/filters.py
  kolla/template/methods.py
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

do not play with PROJECT_ROOT in build.py
  kolla/image/build.py
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Deprecate Monasca and dependencies
  releasenotes/notes/deprecate-monasca-75479150789122dc.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Drop executable perms from non-executables
  kolla/common/config.py
  kolla/image/build.py
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Fix Swift deployment issue
  docker/kolla-toolbox/ansible_sudoers
  releasenotes/notes/swift-sudo-issue-84d37919c980a373.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source
