Repository openstack/kolla: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-mariadb, kolla-ansible-centos8-source-masakari, kolla-ansible-centos8-source-ovn, kolla-ansible-centos8-source-prometheus-efk, kolla-ansible-centos8-source-kvm, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-upgrade-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-ansible-ubuntu-source-kvm, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

kolla-base:
  parent: base
  timeout: 10800
  post-timeout: 10800
  pre-run: tests/playbooks/pre.yml
  run: tests/playbooks/run.yml
  post-run: tests/playbooks/post.yml
  attempts: 5
  vars:
    publisher: false
  extra-vars:
    kolla_logs_dir: '{{ zuul_output_dir }}/logs/kolla'
    kolla_build_logs_dir: '{{ kolla_logs_dir }}/build'

kolla-build-centos-binary:
  parent: kolla-base
  nodeset: kolla-centos
  voting: false
  vars:
    action: build
    base_distro: centos
    install_type: binary

kolla-publish-centos-binary:
  parent: kolla-build-centos-binary
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-centos-source:
  parent: kolla-base
  nodeset: kolla-centos
  vars:
    action: build
    base_distro: centos
    install_type: source

kolla-publish-centos-source:
  parent: kolla-build-centos-source
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-ubuntu-binary:
  parent: kolla-base
  nodeset: kolla-ubuntu
  voting: false
  vars:
    action: build
    base_distro: ubuntu
    install_type: binary

kolla-publish-ubuntu-binary:
  parent: kolla-build-ubuntu-binary
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-ubuntu-source:
  parent: kolla-base
  nodeset: kolla-ubuntu
  vars:
    action: build
    base_distro: ubuntu
    install_type: source

kolla-publish-ubuntu-source:
  parent: kolla-build-ubuntu-source
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-oraclelinux-binary:
  parent: kolla-base
  nodeset: kolla-centos
  voting: false
  vars:
    action: build
    base_distro: oraclelinux
    install_type: binary

kolla-publish-oraclelinux-binary:
  parent: kolla-build-oraclelinux-binary
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-oraclelinux-source:
  parent: kolla-base
  nodeset: kolla-centos
  vars:
    action: build
    base_distro: oraclelinux
    install_type: source

kolla-publish-oraclelinux-source:
  parent: kolla-build-oraclelinux-source
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

Add multipath to cinder-volume
  docker/cinder/cinder-volume/Dockerfile.j2
Due: kolla-base, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-upgrade-cephadm, kolla-ansible-ubuntu-source-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Use rsync to update kayobe-config
  doc/source/contributor/release-management.rst
Due: none

[publishing] use a new naming scheme
  .zuul.d/centos.yaml
  .zuul.d/debian.yaml
  .zuul.d/ubuntu.yaml
  kolla/common/config.py
  kolla/image/build.py
  tests/playbooks/run.yml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

prometheus-libvirt-exporter: fix build with newer Go
  docker/prometheus/prometheus-libvirt-exporter/Dockerfile.j2
Due: kolla-base, kolla-ansible-centos8-source-prometheus-efk, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Update meeting time
  doc/source/contributor/contributing.rst
  doc/source/contributor/meeting.rst
Due: none

cloudkitty: disable building for ubuntu/binary
  kolla/image/build.py
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

venus: mark as unbuildable as it was not released
  kolla/image/build.py
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Revert "venus: mark as unbuildable as it was not released"
  kolla/image/build.py
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Revert "venus: add log management system"
  docker/venus/venus-api/Dockerfile.j2
  docker/venus/venus-base/Dockerfile.j2
  docker/venus/venus-base/extend_start.sh
  docker/venus/venus-manager/Dockerfile.j2
  kolla/common/config.py
  kolla/image/build.py
  releasenotes/notes/add-venus-e2a9824f5ef5cf30.yaml
  roles/kolla-build-config/defaults/main.yml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

macros/pip: revert to old setuptools way
  docker/macros.j2
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

masakari: add Cyrus SASL packages to monitors image
  docker/masakari/masakari-monitors/Dockerfile.j2
Due: kolla-base, kolla-ansible-centos8-source-masakari, kolla-ansible-ubuntu-source-masakari, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

[bifrost] Force Bifrost to use the correct git branch
  docker/bifrost/bifrost-base/Dockerfile.j2
  kolla/image/build.py
Due: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

[CI] Move queue setting to project level
  .zuul.d/base.yaml
  .zuul.d/centos.yaml
  .zuul.d/debian.yaml
  .zuul.d/ubuntu.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Fix redis-sentinel containers always reporting changed
  docker/redis/redis-sentinel/Dockerfile.j2
  docker/redis/redis-sentinel/extend_start.sh
Due: kolla-base, kolla-ansible-centos8-source-scenario-nfv, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Fix local sources of git repositories
  kolla/image/build.py
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

[bifrost] Force Bifrost to use the correct u-c
  docker/bifrost/bifrost-base/Dockerfile.j2
Due: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

[CI] Fix tags in publishing
  tests/playbooks/run.yml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Bump up Alertmanager version
  docker/prometheus/prometheus-alertmanager/Dockerfile.j2
  releasenotes/notes/bump-alertmanager-to-0.24-e73778e9d954cf85.yaml
Due: kolla-base, kolla-ansible-centos8-source-prometheus-efk, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Fix Ubuntu image builds
  docker/base/Dockerfile.j2
  kolla/template/repos.yaml
  releasenotes/notes/rabbitmq-erlang-cloudsmith-c837bf4a450dd802.yaml
Due: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-mariadb, kolla-ansible-centos8-source-masakari, kolla-ansible-centos8-source-ovn, kolla-ansible-centos8-source-prometheus-efk, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-upgrade-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Use the new image naming scheme by default
  docker/base/Dockerfile.j2
  kolla/common/config.py
  kolla/image/build.py
  kolla/template/repos.yaml
  releasenotes/notes/new-naming-scheme-45a5669053c9328d.yaml
  releasenotes/notes/rabbitmq-erlang-cloudsmith-c837bf4a450dd802.yaml
  tests/playbooks/run.yml
Due: kolla-base, kolla-ansible-centos8-source-bifrost, kolla-ansible-centos8-source-ceph-ansible, kolla-ansible-centos8-source-upgrade-ceph-ansible, kolla-ansible-centos8-source-zun, kolla-ansible-centos8-source-scenario-nfv, kolla-ansible-centos8-source-ironic, kolla-ansible-centos8-source-swift, kolla-ansible-centos8-source-mariadb, kolla-ansible-centos8-source-masakari, kolla-ansible-centos8-source-ovn, kolla-ansible-centos8-source-prometheus-efk, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-cephadm, kolla-ansible-ubuntu-source-upgrade-cephadm, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-octavia, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Replace Certbot with Lego for Let's Encrypt container
  docker/haproxy/haproxy-ssh/Dockerfile.j2
  docker/haproxy/haproxy-ssh/extend_start.sh
  docker/haproxy/haproxy/Dockerfile.j2
  docker/haproxy/haproxy/ensure_latest_config.sh
  docker/letsencrypt/Dockerfile.j2
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Path conditions:
  kolla-base: (unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^lower-constraints.txt$, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$) or (unless all of: ^.*\.rst$, ^doc/.*)
  kolla-ansible-centos8-source-bifrost: any of: ^docker\/(base|bifrost|openstack-base)\/.*
  kolla-ansible-centos8-source-ceph-ansible: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-centos8-source-upgrade-ceph-ansible: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-centos8-source-zun: any of: ^docker\/(base|cinder|etcd|iscsid|kuryr|openstack-base|zun)\/.*
  kolla-ansible-centos8-source-scenario-nfv: any of: ^docker\/(base|barbican|heat|mistral|openstack-base|redis|tacker)\/.*
  kolla-ansible-centos8-source-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-centos8-source-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-centos8-source-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-centos8-source-masakari: any of: ^docker/(base|masakari)/
  kolla-ansible-centos8-source-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-centos8-source-prometheus-efk: any of: ^docker/(base|elasticsearch|grafana|kibana|prometheus)/
  kolla-ansible-centos8-source-kvm: any of: ^docker/nova/
  kolla-ansible-debian-source-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-ubuntu-source-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-ubuntu-source-upgrade-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-ubuntu-source-zun: any of: ^docker\/(base|cinder|etcd|iscsid|kuryr|openstack-base|zun)\/.*
  kolla-ansible-ubuntu-source-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-ubuntu-source-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-ubuntu-source-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-ubuntu-source-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-ubuntu-source-linuxbridge: any of: ^docker/(base|neutron|openstack-base)/
  kolla-ansible-ubuntu-source-octavia: any of: ^docker/(base|neutron|octavia|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-source-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-source-prometheus-efk: any of: ^docker/(base|elasticsearch|fluentd|grafana|kibana|prometheus)/
  kolla-ansible-ubuntu-source-kvm: any of: ^docker/nova/
  kolla-build-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
