Repository openstack/kolla: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-debian-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-upgrade-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-rocky9-kvm, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-mariadb, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-prometheus-opensearch, kolla-ansible-ubuntu-kvm, kolla-ansible-ubuntu-cells, kolla-ansible-ubuntu-bifrost, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64, kolla-ansible-debian-bookworm-bifrost, kolla-ansible-rocky-10-bifrost, kolla-ansible-ubuntu-noble-bifrost, kolla-ansible-debian-bookworm-cephadm, kolla-ansible-debian-bookworm-cephadm-upgrade, kolla-ansible-ubuntu-noble-cephadm, kolla-ansible-ubuntu-noble-cephadm-upgrade, kolla-ansible-debian-bookworm-ironic, kolla-ansible-ubuntu-noble-ironic, kolla-ansible-debian-bookworm-masakari, kolla-ansible-rocky-10-masakari, kolla-ansible-ubuntu-noble-masakari, kolla-ansible-debian-bookworm-octavia, kolla-ansible-ubuntu-noble-octavia, kolla-ansible-debian-bookworm-ovn, kolla-ansible-rocky-10-ovn, kolla-ansible-ubuntu-noble-ovn

kolla-base:
  parent: base
  timeout: 10800
  post-timeout: 10800
  pre-run: tests/playbooks/pre.yml
  run: tests/playbooks/run.yml
  post-run: tests/playbooks/post.yml
  attempts: 5
  roles:
  - zuul: openstack/ansible-collection-kolla
  vars:
    base_arch: x86_64
    publisher: false
    container_engine: docker
  extra-vars:
  ...

kolla-base-podman:
  parent: kolla-base
  vars:
    container_engine: podman
    configure_ephemeral_mountpoint: /var/lib/containers

kolla-build-no-infra-wheels-base:
  parent: kolla-base
  vars:
    use_infra_wheels_mirror: false

kolla-build-centos-binary:
  parent: kolla-base
  nodeset: kolla-centos
  voting: false
  vars:
    action: build
    base_distro: centos
    install_type: binary

kolla-publish-centos-binary:
  parent: kolla-build-centos-binary
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-centos-source:
  parent: kolla-base
  nodeset: kolla-centos
  vars:
    action: build
    base_distro: centos
    install_type: source

kolla-publish-centos-source:
  parent: kolla-build-centos-source
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-ubuntu-binary:
  parent: kolla-base
  nodeset: kolla-ubuntu
  voting: false
  vars:
    action: build
    base_distro: ubuntu
    install_type: binary

kolla-publish-ubuntu-binary:
  parent: kolla-build-ubuntu-binary
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-ubuntu-source:
  parent: kolla-base
  nodeset: kolla-ubuntu
  vars:
    action: build
    base_distro: ubuntu
    install_type: source

kolla-publish-ubuntu-source:
  parent: kolla-build-ubuntu-source
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-oraclelinux-binary:
  parent: kolla-base
  nodeset: kolla-centos
  voting: false
  vars:
    action: build
    base_distro: oraclelinux
    install_type: binary

kolla-publish-oraclelinux-binary:
  parent: kolla-build-oraclelinux-binary
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-oraclelinux-source:
  parent: kolla-base
  nodeset: kolla-centos
  vars:
    action: build
    base_distro: oraclelinux
    install_type: source

kolla-publish-oraclelinux-source:
  parent: kolla-build-oraclelinux-source
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

Update Ceph Squid RPM repo to centos-10-stream
  kolla/template/repos.yaml
  kolla/tests/test_methods.py
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Add Dockerfile for neutron-ovn-vpn-agent
  docker/neutron/neutron-ovn-vpn-agent/Dockerfile.j2
  releasenotes/notes/releasenotes/notes/neutron-ovn-vpn-agent-kolla-image-979df04014ed9440.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64, kolla-ansible-debian-bookworm-octavia, kolla-ansible-ubuntu-noble-octavia, kolla-ansible-debian-bookworm-ovn, kolla-ansible-rocky-10-ovn, kolla-ansible-ubuntu-noble-ovn

Prometheus: add valkey exporter image
  docker/prometheus/prometheus-valkey-exporter/Dockerfile.j2
  kolla/common/sources.py
  releasenotes/notes/add-valkey-exporter-e21762a106307538.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-prometheus-opensearch, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64

Switch to Gazpacho/2026.1 sources
  docker/kolla-toolbox/Dockerfile.j2
  kolla/common/config.py
  kolla/common/sources.py
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64

Fix: Update outdated documentation
  doc/source/admin/image-building.rst
  doc/source/admin/kolla_api.rst
  doc/source/admin/template-override/ovs-dpdk.rst
  doc/source/ceph_versions.csv
  doc/source/contributor/contributing.rst
  doc/source/contributor/ptl-guide.rst
  doc/source/contributor/running-tests.rst
  doc/source/support_matrix.rst
Due: none

Install iptables-nft in Rocky 9 containers
  docker/neutron/neutron-base/Dockerfile.j2
  releasenotes/notes/fixes-missing-iptables-nft-fd71eeee04c9345e.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64, kolla-ansible-debian-bookworm-octavia, kolla-ansible-ubuntu-noble-octavia, kolla-ansible-debian-bookworm-ovn, kolla-ansible-rocky-10-ovn, kolla-ansible-ubuntu-noble-ovn

Add OCI standard labels to container images
  kolla/image/kolla_worker.py
  kolla/image/tasks.py
  releasenotes/notes/add-oci-standard-labels-f68cc6eb3a4db7c7.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CI: publish aarch64 noble images
  zuul.d/ubuntu.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Re-enable SPICE support on Ubuntu Noble.
  docker/nova/nova-libvirt/Dockerfile.j2
  releasenotes/notes/ubuntu-noble-spice-814929ed1efbcad1.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-kvm, kolla-ansible-ubuntu-kvm, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64

CI: Drop changing visibility using uri
  tests/playbooks/publish.yml
  zuul.d/debian.yaml
  zuul.d/rocky.yaml
  zuul.d/secrets.yaml
  zuul.d/ubuntu.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CI: Drop changing visibility using uri
  .zuul.d/base.yaml
  .zuul.d/debian.yaml
  .zuul.d/rocky.yaml
  .zuul.d/ubuntu.yaml
  tests/playbooks/publish.yml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

[stable-2025.1-only] valkey: enable CS9 and RL9 builds
  kolla/image/unbuildable.py
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Remove dsa from haproxy-ssh host key types
  docker/haproxy/haproxy-ssh/extend_start.sh
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64

Add Prometheus network exporter
  docker/prometheus/prometheus-openstack-network-exporter/Dockerfile.j2
  kolla/common/sources.py
  releasenotes/notes/add-openstack-network-exporter-fd37c9bbe2fe387d.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-prometheus-opensearch, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64

Return missing systemd-udev into cinder and glance containers
  docker/cinder/cinder-base/Dockerfile.j2
  docker/glance/glance-api/Dockerfile.j2
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-upgrade-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-swift, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64, kolla-ansible-debian-bookworm-cephadm, kolla-ansible-debian-bookworm-cephadm-upgrade, kolla-ansible-ubuntu-noble-cephadm, kolla-ansible-ubuntu-noble-cephadm-upgrade

Updated ansible-lint in test-requirements.txt
  .ansible-lint
  test-requirements.txt
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Remove tox-py310 ansible-core version in test-reqs
  test-requirements.txt
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CI: sync Debian scenario jobs with kolla-ansible
  zuul.d/scenarios/aio.yaml
  zuul.d/scenarios/bifrost.yaml
  zuul.d/scenarios/cells.yaml
  zuul.d/scenarios/cephadm.yaml
  zuul.d/scenarios/ironic.yaml
  zuul.d/scenarios/mariadb.yaml
  zuul.d/scenarios/masakari.yaml
  zuul.d/scenarios/octavia.yaml
  zuul.d/scenarios/ovn.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Update mission statement in docs index
  doc/source/index.rst
Due: none

Drop ironic-inspector from Zuul file trigger
  zuul.d/scenarios/ironic.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Add a telemetry scenario
  zuul.d/project.yaml
  zuul.d/scenarios/telemetry.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Remove reference to deprecated app.wsgi in Aodh image
  docker/aodh/aodh-base/Dockerfile.j2
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64

Switch to binary release of OpenStack Network exporter
  docker/prometheus/prometheus-openstack-network-exporter/Dockerfile.j2
  kolla/common/sources.py
  zuul.d/scenarios/ovn.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-prometheus-opensearch, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64

Drop zun and kuryr
  README.rst
  doc/source/matrix_aarch64.csv
  doc/source/matrix_x86.csv
  docker/horizon/extend_start.sh
  docker/kuryr/kuryr-base/Dockerfile.j2
  docker/kuryr/kuryr-base/extend_start.sh
  docker/kuryr/kuryr-libnetwork/Dockerfile.j2
  docker/zun/zun-api/Dockerfile.j2
  docker/zun/zun-api/extend_start.sh
  docker/zun/zun-base/Dockerfile.j2
  docker/zun/zun-base/app.wsgi
  docker/zun/zun-base/extend_start.sh
  docker/zun/zun-base/zun_sudoers
  docker/zun/zun-cni-daemon/Dockerfile.j2
  docker/zun/zun-cni-daemon/zun_sudoers
  docker/zun/zun-compute/Dockerfile.j2
  docker/zun/zun-compute/extend_start.sh
  docker/zun/zun-compute/zun_sudoers
  docker/zun/zun-wsproxy/Dockerfile.j2
  kolla/common/config.py
  kolla/common/sources.py
  kolla/common/users.py
  releasenotes/notes/drop-kuryr-and-zun-e48eb3d9d6a61758.yaml
  roles/kolla-build-config/defaults/main.yml
  tools/version-check.py
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-zun, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64

Update Prometheus to version 3.5.2
  kolla/common/sources.py
  releasenotes/notes/update-prometheus-server-3.5.1-e23a9826b25573a8.yaml
  releasenotes/notes/update-prometheus-server-3.5.2-e23a9826b25573a8.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Add OSProfiler OTLP exporter dependencies
  docker/openstack-base/Dockerfile.j2
  releasenotes/notes/osprofiler-otlp-dependencies-e881203dc1d74b9b.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-debian-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-upgrade-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64, kolla-ansible-debian-bookworm-cephadm, kolla-ansible-debian-bookworm-cephadm-upgrade, kolla-ansible-ubuntu-noble-cephadm, kolla-ansible-ubuntu-noble-cephadm-upgrade, kolla-ansible-debian-bookworm-ironic, kolla-ansible-ubuntu-noble-ironic, kolla-ansible-debian-bookworm-masakari, kolla-ansible-rocky-10-masakari, kolla-ansible-ubuntu-noble-masakari, kolla-ansible-debian-bookworm-octavia, kolla-ansible-ubuntu-noble-octavia, kolla-ansible-debian-bookworm-ovn, kolla-ansible-rocky-10-ovn, kolla-ansible-ubuntu-noble-ovn

Remove upper-constraints from Kolla linters.
  lint-requirements.txt
  test-requirements.txt
  tox.ini
  zuul.d/base.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Drop mod_wsgi
  docker/ironic/ironic-prometheus-exporter/Dockerfile.j2
  docker/openstack-base/Dockerfile.j2
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-debian-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-upgrade-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64, kolla-ansible-debian-bookworm-cephadm, kolla-ansible-debian-bookworm-cephadm-upgrade, kolla-ansible-ubuntu-noble-cephadm, kolla-ansible-ubuntu-noble-cephadm-upgrade, kolla-ansible-debian-bookworm-ironic, kolla-ansible-ubuntu-noble-ironic, kolla-ansible-debian-bookworm-masakari, kolla-ansible-rocky-10-masakari, kolla-ansible-ubuntu-noble-masakari, kolla-ansible-debian-bookworm-octavia, kolla-ansible-ubuntu-noble-octavia, kolla-ansible-debian-bookworm-ovn, kolla-ansible-rocky-10-ovn, kolla-ansible-ubuntu-noble-ovn

Remove httpd_setup calls from api containers
  docker/aodh/aodh-api/extend_start.sh
  docker/barbican/barbican-api/extend_start.sh
  docker/cinder/cinder-api/extend_start.sh
  docker/cloudkitty/cloudkitty-api/extend_start.sh
  docker/cyborg/cyborg-api/extend_start.sh
  docker/gnocchi/gnocchi-api/extend_start.sh
  docker/heat/heat-api-cfn/Dockerfile.j2
  docker/heat/heat-api-cfn/extend_start.sh
  docker/heat/heat-api/extend_start.sh
  docker/horizon/extend_start.sh
  docker/ironic/ironic-api/extend_start.sh
  docker/ironic/ironic-prometheus-exporter/Dockerfile.j2
  docker/ironic/ironic-prometheus-exporter/extend_start.sh
  docker/keystone/keystone/extend_start.sh
  docker/manila/manila-api/extend_start.sh
  docker/masakari/masakari-api/extend_start.sh
  docker/mistral/mistral-api/extend_start.sh
  docker/nova/nova-api/extend_start.sh
  docker/octavia/octavia-api/extend_start.sh
  docker/placement/placement-api/extend_start.sh
  docker/trove/trove-api/extend_start.sh
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-debian-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-upgrade-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-kvm, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-kvm, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64, kolla-ansible-debian-bookworm-cephadm, kolla-ansible-debian-bookworm-cephadm-upgrade, kolla-ansible-ubuntu-noble-cephadm, kolla-ansible-ubuntu-noble-cephadm-upgrade, kolla-ansible-debian-bookworm-ironic, kolla-ansible-ubuntu-noble-ironic, kolla-ansible-debian-bookworm-masakari, kolla-ansible-rocky-10-masakari, kolla-ansible-ubuntu-noble-masakari, kolla-ansible-debian-bookworm-octavia, kolla-ansible-ubuntu-noble-octavia

keystone: Remove wsgi file
  docker/keystone/keystone-base/Dockerfile.j2
  docker/keystone/keystone-base/wsgi
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64

Bump OVN to 26.03 in Rocky Linux 10 images
  doc/source/ovn_versions.csv
  docker/base/Dockerfile.j2
  releasenotes/notes/rocky-ovn-25.09-345468aec8cc8073.yaml
  releasenotes/notes/rocky-ovn-26.03-006064cd2ea0a432.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-debian-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-upgrade-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-mariadb, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-prometheus-opensearch, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64, kolla-ansible-debian-bookworm-cephadm, kolla-ansible-debian-bookworm-cephadm-upgrade, kolla-ansible-ubuntu-noble-cephadm, kolla-ansible-ubuntu-noble-cephadm-upgrade, kolla-ansible-debian-bookworm-ironic, kolla-ansible-ubuntu-noble-ironic, kolla-ansible-debian-bookworm-masakari, kolla-ansible-rocky-10-masakari, kolla-ansible-ubuntu-noble-masakari, kolla-ansible-debian-bookworm-octavia, kolla-ansible-ubuntu-noble-octavia, kolla-ansible-debian-bookworm-ovn, kolla-ansible-rocky-10-ovn, kolla-ansible-ubuntu-noble-ovn

Update Prometheus to version 3.5.3
  kolla/common/sources.py
  releasenotes/notes/update-prometheus-server-3.5.2-e23a9826b25573a8.yaml
  releasenotes/notes/update-prometheus-server-3.5.3-89627b5d4e0ad4fb.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Remove Babel from openstack-base
  docker/openstack-base/Dockerfile.j2
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-debian-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-upgrade-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64, kolla-ansible-debian-bookworm-cephadm, kolla-ansible-debian-bookworm-cephadm-upgrade, kolla-ansible-ubuntu-noble-cephadm, kolla-ansible-ubuntu-noble-cephadm-upgrade, kolla-ansible-debian-bookworm-ironic, kolla-ansible-ubuntu-noble-ironic, kolla-ansible-debian-bookworm-masakari, kolla-ansible-rocky-10-masakari, kolla-ansible-ubuntu-noble-masakari, kolla-ansible-debian-bookworm-octavia, kolla-ansible-ubuntu-noble-octavia, kolla-ansible-debian-bookworm-ovn, kolla-ansible-rocky-10-ovn, kolla-ansible-ubuntu-noble-ovn

Update Prometheus to version 3.5.3
  kolla/common/sources.py
  releasenotes/notes/update-prometheus-server-3.5.1-e23a9826b25573a8.yaml
  releasenotes/notes/update-prometheus-server-3.5.3-89627b5d4e0ad4fb.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

set_configs: Add support for creating directories and setting perms
  doc/source/admin/kolla_api.rst
  docker/base/set_configs.py
  releasenotes/notes/set-configs-create-directories-a1b2c3d4e5f6a7b8.yaml
  tests/test_set_config.py
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-debian-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-upgrade-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-mariadb, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-prometheus-opensearch, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64, kolla-ansible-debian-bookworm-cephadm, kolla-ansible-debian-bookworm-cephadm-upgrade, kolla-ansible-ubuntu-noble-cephadm, kolla-ansible-ubuntu-noble-cephadm-upgrade, kolla-ansible-debian-bookworm-ironic, kolla-ansible-ubuntu-noble-ironic, kolla-ansible-debian-bookworm-masakari, kolla-ansible-rocky-10-masakari, kolla-ansible-ubuntu-noble-masakari, kolla-ansible-debian-bookworm-octavia, kolla-ansible-ubuntu-noble-octavia, kolla-ansible-debian-bookworm-ovn, kolla-ansible-rocky-10-ovn, kolla-ansible-ubuntu-noble-ovn

Path conditions:
  kolla-base: (unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$) or (unless all of: ^.*\.rst$, ^doc/.*) or (unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$)
  kolla-base-podman: (unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$) or (unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$)
  kolla-build-no-infra-wheels-base: (unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$) or (unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$)
  kolla-ansible-debian-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-rocky9-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-rocky9-upgrade-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-rocky9-zun: any of: ^docker\/(base|cinder|etcd|iscsid|kuryr|openstack-base|zun)\/.*
  kolla-ansible-rocky9-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-rocky9-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-rocky9-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-rocky9-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-rocky9-octavia: any of: ^docker/(base|neutron|octavia|openstack-base|openvswitch|ovn)/
  kolla-ansible-rocky9-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-rocky9-prometheus-opensearch: any of: ^docker/(base|opensearch|fluentd|grafana|prometheus)/
  kolla-ansible-rocky9-kvm: any of: ^docker/nova/
  kolla-ansible-ubuntu-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-ubuntu-upgrade-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-ubuntu-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-ubuntu-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-ubuntu-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-ubuntu-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-ubuntu-octavia: any of: ^docker/(base|neutron|octavia|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-prometheus-opensearch: any of: ^docker/(base|opensearch|fluentd|grafana|prometheus)/
  kolla-ansible-ubuntu-kvm: any of: ^docker/nova/
  kolla-ansible-ubuntu-cells: any of: ^docker/proxysql/
  kolla-ansible-ubuntu-bifrost: any of: ^docker/bifrost/
  kolla-ansible-ubuntu-zun: any of: ^docker/|zun/
  kolla-build-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-10s: any of: ^docker/
  kolla-ansible-debian-trixie: any of: ^docker/
  kolla-ansible-debian-bookworm-upgrade: any of: ^docker/
  kolla-ansible-rocky-10: any of: ^docker/
  kolla-ansible-rocky-10-upgrade: any of: ^docker/
  kolla-ansible-ubuntu-noble: any of: ^docker/
  kolla-ansible-ubuntu-noble-upgrade: any of: ^docker/
  kolla-ansible-centos-10s-aarch64: any of: ^docker/
  kolla-ansible-debian-bookworm-aarch64: any of: ^docker/
  kolla-ansible-debian-bookworm-bifrost: any of: ^docker/bifrost/
  kolla-ansible-rocky-10-bifrost: any of: ^docker/bifrost/
  kolla-ansible-ubuntu-noble-bifrost: any of: ^docker/bifrost/
  kolla-ansible-debian-bookworm-cephadm: any of: ^docker\/(base|cinder|glance|mariadb-server|openstack-base|rabbitmq)\/.*
  kolla-ansible-debian-bookworm-cephadm-upgrade: any of: ^docker\/(base|cinder|glance|mariadb-server|openstack-base|rabbitmq)\/.*
  kolla-ansible-ubuntu-noble-cephadm: any of: ^docker\/(base|cinder|glance|mariadb-server|openstack-base|rabbitmq)\/.*
  kolla-ansible-ubuntu-noble-cephadm-upgrade: any of: ^docker\/(base|cinder|glance|mariadb-server|openstack-base|rabbitmq)\/.*
  kolla-ansible-debian-bookworm-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-ubuntu-noble-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-debian-bookworm-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-rocky-10-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-ubuntu-noble-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-debian-bookworm-octavia: any of: ^docker/(base|neutron|octavia|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-noble-octavia: any of: ^docker/(base|neutron|octavia|openstack-base|openvswitch|ovn)/
  kolla-ansible-debian-bookworm-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-rocky-10-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-noble-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
