Repository openstack/kolla: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-ceph-ansible, kolla-ansible-ubuntu-source-upgrade-ceph-ansible, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-ansible-ubuntu-source-kvm, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Path conditions:
  kolla-base: (unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$) or (unless all of: ^.*\.rst$, ^doc/.*)
  kolla-build-no-infra-wheels-base: unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$
  kolla-ansible-debian-source-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-ubuntu-source-ceph-ansible: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-ubuntu-source-upgrade-ceph-ansible: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-ubuntu-source-zun: any of: ^docker\/(base|cinder|etcd|iscsid|kuryr|openstack-base|zun)\/.*
  kolla-ansible-ubuntu-source-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-ubuntu-source-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-ubuntu-source-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-ubuntu-source-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-ubuntu-source-linuxbridge: any of: ^docker/(base|neutron|openstack-base)/
  kolla-ansible-ubuntu-source-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-source-prometheus-efk: any of: ^docker/(base|elasticsearch|grafana|kibana|prometheus)/
  kolla-ansible-ubuntu-source-kvm: any of: ^docker/nova/
  kolla-build-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*

Add HAProxy hot reload post renewal hook (#7)
  docker/letsencrypt/letsencrypt-certbot/Dockerfile.j2
  docker/letsencrypt/letsencrypt-certbot/haproxy-reload.sh
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Always build explicitly matched parents
  kolla/image/build.py
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Add support for specifying parent tag
  kolla/common/config.py
  kolla/image/build.py
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

ovsdpdk: add libdpdk-dev
  docker/ovsdpdk/ovsdpdk/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

rabbitmq: Fix repo for ubuntu aarch64
  kolla/template/repos.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Use erlang-25 from copr on aarch64
  docker/base/hrw-copr-erlang-for-rabbitmq.repo
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-ceph-ansible, kolla-ansible-ubuntu-source-upgrade-ceph-ansible, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

[release] Use UCA Bobcat
  docker/base/sources.list.ubuntu
  docker/base/sources.list.ubuntu.aarch64
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-ceph-ansible, kolla-ansible-ubuntu-source-upgrade-ceph-ansible, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

docs: we moved UNBUILDABLE_IMAGES to separate file
  doc/source/contributor/adding-a-new-image.rst
Due: none

rabbitmq: bump version to 3.12
  docker/base/apt_preferences.debian
  docker/base/apt_preferences.ubuntu
  docker/base/hrw-copr-erlang-for-rabbitmq.repo
  docker/base/rabbitmq_rabbitmq-erlang.repo
  docker/base/rabbitmq_rabbitmq-server.repo
  docker/kolla-toolbox/Dockerfile.j2
  docker/rabbitmq/Dockerfile.j2
  kolla/template/repos.yaml
  releasenotes/notes/rabbitmq-3.12-erlang-26-e5917a1f460b45f8.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-ceph-ansible, kolla-ansible-ubuntu-source-upgrade-ceph-ansible, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Pin setuptools=67.2.*
  docker/openstack-base/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-ceph-ansible, kolla-ansible-ubuntu-source-upgrade-ceph-ansible, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-ovn, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

opensearch: move to yum/apt repos
  docker/base/Dockerfile.j2
  docker/base/opensearch.repo
  docker/opensearch/opensearch-dashboards/Dockerfile.j2
  docker/opensearch/opensearch/Dockerfile.j2
  kolla/template/repos.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-ceph-ansible, kolla-ansible-ubuntu-source-upgrade-ceph-ansible, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

opensearch-dashboards: Fix permissions
  docker/opensearch/opensearch-dashboards/Dockerfile.j2
  docker/opensearch/opensearch-dashboards/extend_start.sh
  kolla/common/config.py
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CI: Add rocky9 experimental jobs
  .zuul.d/rocky.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Pin elasticsearch-curator==5.8.4
  docker/elasticsearch/elasticsearch-curator/Dockerfile.j2
  releasenotes/notes/fix-elasesticsearch-curator-f2f154dc707d15bd.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Move to Debian 12 'bookworm'
  .zuul.d/debian.yaml
  docker/base/Dockerfile.j2
  docker/base/apt_preferences.debian
  docker/base/sources.list.debian
  kolla/common/config.py
  kolla/image/kolla_worker.py
  kolla/image/unbuildable.py
  kolla/template/repos.yaml
  kolla/tests/test_build.py
  kolla/tests/test_methods.py
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-ceph-ansible, kolla-ansible-ubuntu-source-upgrade-ceph-ansible, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

ubuntu: mark collectd and telegraf as buildable
  kolla/image/unbuildable.py
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Fix missing grafana opensearch datasource
  docker/grafana/Dockerfile.j2
  releasenotes/notes/fix-grafana-opensearch-datasource-96dc8061d9721af3.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Add venus-dashboard into horizon image.
  docker/horizon/extend_start.sh
  kolla/common/sources.py
  releasenotes/notes/add-venus-dashboard-1d4a5093ad233c6e.yaml
  roles/kolla-build-config/defaults/main.yml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Add support for running Nova upgrade checks
  docker/nova/nova-api/Dockerfile.j2
  docker/nova/nova-api/extend_start.sh
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-ubuntu-source-kvm, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

debian: add mariadb bookworm repo
  kolla/template/repos.yaml
  releasenotes/notes/bookworm-mariadb-repo-e0fe1000d30e6c29.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CI: move debian jobs to bookworm
  .zuul.d/base.yaml
  .zuul.d/debian.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Add server-status handler to Rocky/Centos Apache conf
  docker/base/httpd_setup.sh
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-ceph-ansible, kolla-ansible-ubuntu-source-upgrade-ceph-ansible, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

toolbox: Add sleep script handling signals
  docker/kolla-toolbox/Dockerfile.j2
  docker/kolla-toolbox/kolla_toolbox.sh
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

create parent dir of jobs_dir for freezer-scheduer
  docker/freezer/freezer-scheduler/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Transition to DockerClient
  kolla/engine_adapter/engine.py
  kolla/image/kolla_worker.py
  kolla/image/tasks.py
  kolla/tests/test_build.py
  releasenotes/notes/docker-3-0-0-e5f43f9b78ad644d.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Add ironic-prometheus-exporter
  docker/ironic/ironic-conductor/Dockerfile.j2
  docker/ironic/ironic-prometheus-exporter/Dockerfile.j2
  docker/ironic/ironic-prometheus-exporter/extend_start.sh
  kolla/common/sources.py
  releasenotes/notes/add-ironic-prometheus-exporter-c793478ee5938bee.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-ironic, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Add comprehensive checks for container restarts
  docker/base/set_configs.py
  releasenotes/notes/fixes-container-restart-conditions-57d36b13b0aa964b.yaml
  tests/test_set_config.py
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-ceph-ansible, kolla-ansible-ubuntu-source-upgrade-ceph-ansible, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Pin iptables to 1.8.4 in Centos Stream 8
  docker/neutron/neutron-base/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-ovn, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Document KOLLA_UPGRADE_CHECK environment variable
  doc/source/admin/kolla_api.rst
Due: none

openstack-base: add block for overriding global upper constraints
  docker/openstack-base/Dockerfile.j2
  releasenotes/notes/overriding-global-upper-constraint-ca48a759c8f8d7b9.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-ceph-ansible, kolla-ansible-ubuntu-source-upgrade-ceph-ansible, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-ovn, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source
