Repository openstack/kolla: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-ceph-ansible, kolla-ansible-ubuntu-source-upgrade-ceph-ansible, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-ansible-ubuntu-source-kvm, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

kolla-base:
  parent: base
  timeout: 10800
  post-timeout: 10800
  pre-run: tests/playbooks/pre.yml
  run: tests/playbooks/run.yml
  post-run: tests/playbooks/post.yml
  attempts: 5
  vars:
    publisher: false
  extra-vars:
    kolla_logs_dir: '{{ zuul_output_dir }}/logs/kolla'
    kolla_build_logs_dir: '{{ kolla_logs_dir }}/build'
  ...

kolla-build-no-infra-wheels-base:
  parent: kolla-base
  vars:
    use_infra_wheels_mirror: false

kolla-ansible-ubuntu-source-ceph-ansible:
  vars:
    kolla_python_version: 3.8

kolla-ansible-ubuntu-source-upgrade-ceph-ansible:
  vars:
    kolla_python_version: 3.8

kolla-ansible-ubuntu-source-zun:
  vars:
    kolla_python_version: 3.8

kolla-ansible-ubuntu-source-ironic:
  vars:
    kolla_python_version: 3.8

kolla-ansible-ubuntu-source-swift:
  vars:
    kolla_python_version: 3.8

kolla-ansible-ubuntu-source-mariadb:
  vars:
    kolla_python_version: 3.8

kolla-ansible-ubuntu-source-masakari:
  vars:
    kolla_python_version: 3.8

kolla-ansible-ubuntu-source-linuxbridge:
  vars:
    kolla_python_version: 3.8

kolla-ansible-ubuntu-source-ovn:
  vars:
    kolla_python_version: 3.8

kolla-ansible-ubuntu-source-prometheus-efk:
  vars:
    kolla_python_version: 3.8

kolla-ansible-ubuntu-source-kvm:
  vars:
    kolla_python_version: 3.8

kolla-build-centos-binary:
  parent: kolla-base
  nodeset: kolla-centos
  voting: false
  vars:
    action: build
    base_distro: centos
    install_type: binary

kolla-publish-centos-binary:
  parent: kolla-build-centos-binary
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-centos-source:
  parent: kolla-base
  nodeset: kolla-centos
  vars:
    action: build
    base_distro: centos
    install_type: source

kolla-publish-centos-source:
  parent: kolla-build-centos-source
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-ubuntu-binary:
  parent: kolla-base
  nodeset: kolla-ubuntu
  voting: false
  vars:
    action: build
    base_distro: ubuntu
    install_type: binary

kolla-publish-ubuntu-binary:
  parent: kolla-build-ubuntu-binary
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-ubuntu-source:
  parent: kolla-base
  nodeset: kolla-ubuntu
  vars:
    action: build
    base_distro: ubuntu
    install_type: source

kolla-publish-ubuntu-source:
  parent: kolla-build-ubuntu-source
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

kolla-build-oraclelinux-binary:
  parent: kolla-base
  nodeset: kolla-centos
  voting: false
  vars:
    action: build
    base_distro: oraclelinux
    install_type: binary

kolla-publish-oraclelinux-binary:
  parent: kolla-build-oraclelinux-binary
  post-run: tests/playbooks/publish.yml
  vars:
    publisher: true
  secrets:
  - kolla_dockerhub_creds_pike

Fix tox.ini for tox4
  tox.ini
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Update .gitreview for stable/zed
  .gitreview
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Update TOX_CONSTRAINTS_FILE for stable/zed
  tox.ini
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Update master for stable/zed
  releasenotes/source/index.rst
  releasenotes/source/zed.rst
Due: none

Switch to 2023.1 Python3 unit tests and generic template name
  .zuul.d/project.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CI: Add cover jobs
  .coveragerc
  .zuul.d/project.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Change default base from centos to rocky
  kolla/common/config.py
  releasenotes/notes/default-rocky-4b0d906a455539d8.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

horizon: Ensure mysqldb client is installed
  docker/horizon/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CI: do not check for error in binary images
  tools/validate-all-dockerfiles.sh
  tools/validate-binary-build.sh
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Change libvirt-exporter repo to Tinkoff
  docker/prometheus/prometheus-libvirt-exporter/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CI: Fix tox 4 once again
  tox.ini
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Revert "[release] Use Zed sources by default"
  kolla/common/config.py
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Revert "[release] Change RDO's DELOREAN_DEPS repo to Zed"
  kolla/common/config.py
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Add locals_base option
  doc/source/admin/image-building.rst
  kolla/common/config.py
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CentOS: move gpg keys to repo files
  docker/base/Dockerfile.j2
  docker/base/mariadb.repo
  docker/base/rabbitmq_rabbitmq-erlang.repo
  docker/base/rabbitmq_rabbitmq-server.repo
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-ceph-ansible, kolla-ansible-ubuntu-source-upgrade-ceph-ansible, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Do not use mistral user for mistral-api
  docker/mistral/mistral-api/Dockerfile.j2
  releasenotes/notes/bug-2000915-962531e87944c6f3.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Drop skydive
  doc/source/contributor/release-management.rst
  doc/source/matrix_aarch64.csv
  doc/source/matrix_x86.csv
  docker/skydive/skydive-agent/Dockerfile.j2
  docker/skydive/skydive-analyzer/Dockerfile.j2
  docker/skydive/skydive-base/Dockerfile.j2
  docker/skydive/skydive-base/extend_start.sh
  kolla/common/config.py
  kolla/common/users.py
  kolla/image/unbuildable.py
  releasenotes/notes/drop-skydive-5b0dba2b7b12ee95.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Adding tarfile member sanitization to extractall()
  kolla/image/tasks.py
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CI: CentOS/Rocky: revert Delorean repo url at the end
  tests/templates/template_overrides.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Remove install_type command line argument in Antelope cycle
  kolla/common/config.py
  releasenotes/notes/remove-install-type-argument-c2de6ca0468797ed.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CI: drop kolla_python_version from Ubuntu jobs
  .zuul.d/ubuntu.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CentOS/Rocky: use CentOS Cloud SIG repo instead of Delorean
  docker/base/Dockerfile.j2
  docker/base/ci-centos.repo
  docker/base/ci-rocky.repo
  kolla/common/config.py
  tests/templates/template_overrides.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-ceph-ansible, kolla-ansible-ubuntu-source-upgrade-ceph-ansible, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

relay non-zero exit codes when creating openvswitch bridges
  docker/openvswitch/openvswitch-db-server/ovs_ensure_configured.sh
  releasenotes/notes/bug-1999778.yaml
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-ubuntu-source-ovn, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

grafana: remove SHA1 workaround
  docker/base/Dockerfile.j2
  docker/grafana/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-ceph-ansible, kolla-ansible-ubuntu-source-upgrade-ceph-ansible, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CI: Rename jobs - drop source part
  .zuul.d/centos.yaml
  .zuul.d/debian.yaml
  .zuul.d/rocky.yaml
  .zuul.d/ubuntu.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CI: Add rocky9 experimental jobs
  .zuul.d/rocky.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

sahara: install netcat-openbsd on Debian/Ubuntu
  docker/sahara/sahara-engine/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CI: add ubuntu opensearch experimental job
  .zuul.d/ubuntu.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Add util-linux to centos base packages
  docker/base/Dockerfile.j2
Due: kolla-base, kolla-build-no-infra-wheels-base, kolla-ansible-debian-source-ironic, kolla-ansible-ubuntu-source-ceph-ansible, kolla-ansible-ubuntu-source-upgrade-ceph-ansible, kolla-ansible-ubuntu-source-zun, kolla-ansible-ubuntu-source-ironic, kolla-ansible-ubuntu-source-swift, kolla-ansible-ubuntu-source-mariadb, kolla-ansible-ubuntu-source-masakari, kolla-ansible-ubuntu-source-linuxbridge, kolla-ansible-ubuntu-source-ovn, kolla-ansible-ubuntu-source-prometheus-efk, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Path conditions:
  kolla-base: (unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$) or (unless all of: ^.*\.rst$, ^doc/.*)
  kolla-build-no-infra-wheels-base: unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$
  kolla-ansible-debian-source-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-ubuntu-source-ceph-ansible: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-ubuntu-source-upgrade-ceph-ansible: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-ubuntu-source-zun: any of: ^docker\/(base|cinder|etcd|iscsid|kuryr|openstack-base|zun)\/.*
  kolla-ansible-ubuntu-source-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-ubuntu-source-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-ubuntu-source-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-ubuntu-source-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-ubuntu-source-linuxbridge: any of: ^docker/(base|neutron|openstack-base)/
  kolla-ansible-ubuntu-source-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-source-prometheus-efk: any of: ^docker/(base|elasticsearch|grafana|kibana|prometheus)/
  kolla-ansible-ubuntu-source-kvm: any of: ^docker/nova/
  kolla-build-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
