Repository openstack/kolla: changes, and which Zuul jobs are due for each by the changed paths.
All: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-debian-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-upgrade-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-rocky9-kvm, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-mariadb, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-prometheus-opensearch, kolla-ansible-ubuntu-kvm, kolla-ansible-ubuntu-cells, kolla-ansible-ubuntu-bifrost, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64, kolla-ansible-debian-bookworm-bifrost, kolla-ansible-rocky-10-bifrost, kolla-ansible-ubuntu-noble-bifrost, kolla-ansible-debian-bookworm-cephadm, kolla-ansible-debian-bookworm-cephadm-upgrade, kolla-ansible-ubuntu-noble-cephadm, kolla-ansible-ubuntu-noble-cephadm-upgrade, kolla-ansible-debian-bookworm-ironic, kolla-ansible-ubuntu-noble-ironic, kolla-ansible-debian-bookworm-masakari, kolla-ansible-rocky-10-masakari, kolla-ansible-ubuntu-noble-masakari, kolla-ansible-debian-bookworm-octavia, kolla-ansible-ubuntu-noble-octavia, kolla-ansible-debian-bookworm-ovn, kolla-ansible-rocky-10-ovn, kolla-ansible-ubuntu-noble-ovn

Path conditions:
  kolla-base: (unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$) or (unless all of: ^.*\.rst$, ^doc/.*) or (unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$)
  kolla-base-podman: (unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$) or (unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$)
  kolla-build-no-infra-wheels-base: (unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^\.zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$) or (unless all of: ^.*\.rst$, ^doc/.*, ^etc/.*, ^releasenotes/.*$, ^specs/.*$, ^test-requirements.txt$, ^zuul\.d/, ^\..+, ^contrib/, ^LICENSE$, ^tox\.ini$)
  kolla-ansible-debian-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-rocky9-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-rocky9-upgrade-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-rocky9-zun: any of: ^docker\/(base|cinder|etcd|iscsid|kuryr|openstack-base|zun)\/.*
  kolla-ansible-rocky9-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-rocky9-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-rocky9-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-rocky9-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-rocky9-octavia: any of: ^docker/(base|neutron|octavia|openstack-base|openvswitch|ovn)/
  kolla-ansible-rocky9-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-rocky9-prometheus-opensearch: any of: ^docker/(base|opensearch|fluentd|grafana|prometheus)/
  kolla-ansible-rocky9-kvm: any of: ^docker/nova/
  kolla-ansible-ubuntu-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-ubuntu-upgrade-cephadm: any of: ^docker\/(base|cinder|glance|mariadb|openstack-base|rabbitmq)\/.*
  kolla-ansible-ubuntu-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-ubuntu-swift: any of: ^docker/(base|openstack-base|glance|swift)/
  kolla-ansible-ubuntu-mariadb: any of: ^docker/(base|mariadb)/
  kolla-ansible-ubuntu-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-ubuntu-octavia: any of: ^docker/(base|neutron|octavia|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-prometheus-opensearch: any of: ^docker/(base|opensearch|fluentd|grafana|prometheus)/
  kolla-ansible-ubuntu-kvm: any of: ^docker/nova/
  kolla-ansible-ubuntu-cells: any of: ^docker/proxysql/
  kolla-ansible-ubuntu-bifrost: any of: ^docker/bifrost/
  kolla-ansible-ubuntu-zun: any of: ^docker/|zun/
  kolla-build-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-ansible-centos-10s: any of: ^docker/
  kolla-ansible-debian-trixie: any of: ^docker/
  kolla-ansible-debian-bookworm-upgrade: any of: ^docker/
  kolla-ansible-rocky-10: any of: ^docker/
  kolla-ansible-rocky-10-upgrade: any of: ^docker/
  kolla-ansible-ubuntu-noble: any of: ^docker/
  kolla-ansible-ubuntu-noble-upgrade: any of: ^docker/
  kolla-ansible-centos-10s-aarch64: any of: ^docker/
  kolla-ansible-debian-bookworm-aarch64: any of: ^docker/
  kolla-ansible-debian-bookworm-bifrost: any of: ^docker/bifrost/
  kolla-ansible-rocky-10-bifrost: any of: ^docker/bifrost/
  kolla-ansible-ubuntu-noble-bifrost: any of: ^docker/bifrost/
  kolla-ansible-debian-bookworm-cephadm: any of: ^docker\/(base|cinder|glance|mariadb-server|openstack-base|rabbitmq)\/.*
  kolla-ansible-debian-bookworm-cephadm-upgrade: any of: ^docker\/(base|cinder|glance|mariadb-server|openstack-base|rabbitmq)\/.*
  kolla-ansible-ubuntu-noble-cephadm: any of: ^docker\/(base|cinder|glance|mariadb-server|openstack-base|rabbitmq)\/.*
  kolla-ansible-ubuntu-noble-cephadm-upgrade: any of: ^docker\/(base|cinder|glance|mariadb-server|openstack-base|rabbitmq)\/.*
  kolla-ansible-debian-bookworm-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-ubuntu-noble-ironic: any of: ^docker\/(base|dnsmasq|ironic|ironic-inspector|iscsid|openstack-base)\/.*
  kolla-ansible-debian-bookworm-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-rocky-10-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-ubuntu-noble-masakari: any of: ^docker/(base|masakari|openstack-base)/
  kolla-ansible-debian-bookworm-octavia: any of: ^docker/(base|neutron|octavia|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-noble-octavia: any of: ^docker/(base|neutron|octavia|openstack-base|openvswitch|ovn)/
  kolla-ansible-debian-bookworm-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-rocky-10-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/
  kolla-ansible-ubuntu-noble-ovn: any of: ^docker/(base|neutron|openstack-base|openvswitch|ovn)/

Remove special handling for python3.12
  docker/bifrost/bifrost-base/Dockerfile.j2
  docker/kolla-toolbox/Dockerfile.j2
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-ubuntu-bifrost, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64, kolla-ansible-debian-bookworm-bifrost, kolla-ansible-rocky-10-bifrost, kolla-ansible-ubuntu-noble-bifrost

influxdb: Drop support
  README.rst
  doc/source/contributor/versions.rst
  doc/source/matrix_aarch64.csv
  doc/source/matrix_x86.csv
  docker/influxdb/Dockerfile.j2
  docker/influxdb/extend_start.sh
  docker/influxdb/influxdb_sudoers
  docker/kolla-toolbox/Dockerfile.j2
  kolla/common/config.py
  kolla/common/users.py
  releasenotes/notes/drop-influxdb-cb3161a1e04fa38e.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64

Fix ironic-pxe syslinux-tftpboot on aarch64 Rocky Linux
  docker/ironic/ironic-pxe/Dockerfile.j2
  releasenotes/notes/ironic-pxe-syslinux-tftpboot-3dc6415ed140dc50.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-debian-ironic, kolla-ansible-rocky9-ironic, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64, kolla-ansible-debian-bookworm-ironic, kolla-ansible-ubuntu-noble-ironic

Update README with new mission statement
  README.rst
  releasenotes/notes/image-purpose-1884e00f993e09d0.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Drop Telegraf
  README.rst
  doc/source/contributor/versions.rst
  doc/source/matrix_aarch64.csv
  doc/source/matrix_x86.csv
  docker/telegraf/Dockerfile.j2
  docker/telegraf/extend_start.sh
  docker/telegraf/telegraf_sudoers
  kolla/common/config.py
  kolla/common/users.py
  kolla/image/unbuildable.py
  releasenotes/notes/drop-telegraf-28dd961f18ed7825.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64

Fix Misinformation on ProxySQL version
  doc/source/contributor/versions.rst
Due: none

tox: Drop basepython
  tox.ini
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

[release] Use UCA Gazpacho
  docker/base/ubuntu.sources
  docker/base/ubuntu.sources.arm64
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-debian-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-upgrade-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-mariadb, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-prometheus-opensearch, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64, kolla-ansible-debian-bookworm-cephadm, kolla-ansible-debian-bookworm-cephadm-upgrade, kolla-ansible-ubuntu-noble-cephadm, kolla-ansible-ubuntu-noble-cephadm-upgrade, kolla-ansible-debian-bookworm-ironic, kolla-ansible-ubuntu-noble-ironic, kolla-ansible-debian-bookworm-masakari, kolla-ansible-rocky-10-masakari, kolla-ansible-ubuntu-noble-masakari, kolla-ansible-debian-bookworm-octavia, kolla-ansible-ubuntu-noble-octavia, kolla-ansible-debian-bookworm-ovn, kolla-ansible-rocky-10-ovn, kolla-ansible-ubuntu-noble-ovn

horizon: pin setuptools <82
  docker/horizon/Dockerfile.j2
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64

Stop installation of zake
  docker/openstack-base/Dockerfile.j2
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-debian-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-upgrade-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64, kolla-ansible-debian-bookworm-cephadm, kolla-ansible-debian-bookworm-cephadm-upgrade, kolla-ansible-ubuntu-noble-cephadm, kolla-ansible-ubuntu-noble-cephadm-upgrade, kolla-ansible-debian-bookworm-ironic, kolla-ansible-ubuntu-noble-ironic, kolla-ansible-debian-bookworm-masakari, kolla-ansible-rocky-10-masakari, kolla-ansible-ubuntu-noble-masakari, kolla-ansible-debian-bookworm-octavia, kolla-ansible-ubuntu-noble-octavia, kolla-ansible-debian-bookworm-ovn, kolla-ansible-rocky-10-ovn, kolla-ansible-ubuntu-noble-ovn

Drop sqlalchemy-migrate
  docker/openstack-base/Dockerfile.j2
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-debian-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-upgrade-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64, kolla-ansible-debian-bookworm-cephadm, kolla-ansible-debian-bookworm-cephadm-upgrade, kolla-ansible-ubuntu-noble-cephadm, kolla-ansible-ubuntu-noble-cephadm-upgrade, kolla-ansible-debian-bookworm-ironic, kolla-ansible-ubuntu-noble-ironic, kolla-ansible-debian-bookworm-masakari, kolla-ansible-rocky-10-masakari, kolla-ansible-ubuntu-noble-masakari, kolla-ansible-debian-bookworm-octavia, kolla-ansible-ubuntu-noble-octavia, kolla-ansible-debian-bookworm-ovn, kolla-ansible-rocky-10-ovn, kolla-ansible-ubuntu-noble-ovn

Add Open vSwitch/OVN versions to support matrix
  doc/source/ceph_versions.csv
  doc/source/openvswitch_versions.csv
  doc/source/ovn_versions.csv
  doc/source/support_matrix.rst
Due: none

Update Prometheus to version 3.5.1
  kolla/common/sources.py
  releasenotes/notes/update-prometheus-server-3.5.1-e23a9826b25573a8.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

[2025.1 only] Build ProxySQL 3.0.x in 2025.1
  docker/base/Dockerfile.j2
  docker/base/proxysql.repo
  docker/proxysql/proxysql-3/Dockerfile.j2
  docker/proxysql/proxysql-3/kolla_extend_start
  docker/proxysql/proxysql-3/kolla_proxysql_config_sync
  docker/proxysql/proxysql-3/proxysql-3.repo
  docker/proxysql/proxysql/Dockerfile.j2
  docker/proxysql/proxysql/kolla_extend_start
  docker/proxysql/proxysql/kolla_proxysql_config_sync
  kolla/template/repos-el10.yaml
  kolla/template/repos.yaml
  releasenotes/notes/add-proxysql-3-on-epoxy-f37a06b21274db26.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-debian-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-upgrade-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-mariadb, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-prometheus-opensearch, kolla-ansible-ubuntu-cells, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64, kolla-ansible-debian-bookworm-cephadm, kolla-ansible-debian-bookworm-cephadm-upgrade, kolla-ansible-ubuntu-noble-cephadm, kolla-ansible-ubuntu-noble-cephadm-upgrade, kolla-ansible-debian-bookworm-ironic, kolla-ansible-ubuntu-noble-ironic, kolla-ansible-debian-bookworm-masakari, kolla-ansible-rocky-10-masakari, kolla-ansible-ubuntu-noble-masakari, kolla-ansible-debian-bookworm-octavia, kolla-ansible-ubuntu-noble-octavia, kolla-ansible-debian-bookworm-ovn, kolla-ansible-rocky-10-ovn, kolla-ansible-ubuntu-noble-ovn

[2025.1] Constrain setuptools
  .zuul.d/project.yaml
  requirements.txt
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

[2025.1] heat: pin setuptools below 82
  docker/heat/heat-base/Dockerfile.j2
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64

[2025.1] CI: enable k-a rocky10
  .zuul.d/rocky.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Fix MariaDB version number
  doc/source/contributor/versions.rst
Due: none

Update ProxySQL 3.0.x RPM repo to use almalinux 10
  kolla/template/repos.yaml
  releasenotes/notes/switch-proxysql3-base-to-almalinux10-d64c97ba1a894a34.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Update Prometheus Alertmanager and exporters to the latest
  kolla/common/sources.py
  releasenotes/notes/update-prometheus-services-98085e2ccf13d1fb.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

masakari: Add crmadmin and cibadmin to monitors sudoers
  docker/masakari/masakari-monitors/masakari_monitors_sudoers
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-masakari, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64, kolla-ansible-debian-bookworm-masakari, kolla-ansible-rocky-10-masakari, kolla-ansible-ubuntu-noble-masakari

horizon: add django-redis dependency
  docker/horizon/Dockerfile.j2
  releasenotes/notes/bug-2093414-12e2d0f21e34bc59.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64

kolla-toolbox: Add ansible-runner
  docker/kolla-toolbox/Dockerfile.j2
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64

rabbitmq: Update to 4.2
  doc/source/contributor/versions.rst
  docker/kolla-toolbox/Dockerfile.j2
  docker/rabbitmq/Dockerfile.j2
  docker/rabbitmq/apt_preferences_rabbitmq.debian
  docker/rabbitmq/apt_preferences_rabbitmq.ubuntu
  releasenotes/notes/rabbitmq-42-84cf0d09c9f33ef4.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-upgrade-cephadm, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64, kolla-ansible-debian-bookworm-cephadm, kolla-ansible-debian-bookworm-cephadm-upgrade, kolla-ansible-ubuntu-noble-cephadm, kolla-ansible-ubuntu-noble-cephadm-upgrade

Update component list and versions
  doc/source/contributor/versions.rst
Due: none

Remove dsa from haproxy-ssh host key types
  docker/haproxy/haproxy-ssh/extend_start.sh
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64

Add NVME CLI to Glance API container
  docker/glance/glance-api/Dockerfile.j2
  releasenotes/notes/bug-2035975-94c5670049a7e1a6.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-upgrade-cephadm, kolla-ansible-rocky9-swift, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64, kolla-ansible-debian-bookworm-cephadm, kolla-ansible-debian-bookworm-cephadm-upgrade, kolla-ansible-ubuntu-noble-cephadm, kolla-ansible-ubuntu-noble-cephadm-upgrade

Bump OVN to 25.09 in Rocky Linux 10 images
  doc/source/ovn_versions.csv
  docker/base/Dockerfile.j2
  releasenotes/notes/rocky-ovn-25.09-345468aec8cc8073.yaml
Due: kolla-base, kolla-base-podman, kolla-build-no-infra-wheels-base, kolla-ansible-debian-ironic, kolla-ansible-rocky9-cephadm, kolla-ansible-rocky9-upgrade-cephadm, kolla-ansible-rocky9-zun, kolla-ansible-rocky9-ironic, kolla-ansible-rocky9-swift, kolla-ansible-rocky9-mariadb, kolla-ansible-rocky9-masakari, kolla-ansible-rocky9-octavia, kolla-ansible-rocky9-ovn, kolla-ansible-rocky9-prometheus-opensearch, kolla-ansible-ubuntu-cephadm, kolla-ansible-ubuntu-upgrade-cephadm, kolla-ansible-ubuntu-ironic, kolla-ansible-ubuntu-swift, kolla-ansible-ubuntu-mariadb, kolla-ansible-ubuntu-masakari, kolla-ansible-ubuntu-octavia, kolla-ansible-ubuntu-ovn, kolla-ansible-ubuntu-prometheus-opensearch, kolla-ansible-ubuntu-zun, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source, kolla-ansible-centos-10s, kolla-ansible-debian-trixie, kolla-ansible-debian-bookworm-upgrade, kolla-ansible-rocky-10, kolla-ansible-rocky-10-upgrade, kolla-ansible-ubuntu-noble, kolla-ansible-ubuntu-noble-upgrade, kolla-ansible-centos-10s-aarch64, kolla-ansible-debian-bookworm-aarch64, kolla-ansible-debian-bookworm-cephadm, kolla-ansible-debian-bookworm-cephadm-upgrade, kolla-ansible-ubuntu-noble-cephadm, kolla-ansible-ubuntu-noble-cephadm-upgrade, kolla-ansible-debian-bookworm-ironic, kolla-ansible-ubuntu-noble-ironic, kolla-ansible-debian-bookworm-masakari, kolla-ansible-rocky-10-masakari, kolla-ansible-ubuntu-noble-masakari, kolla-ansible-debian-bookworm-octavia, kolla-ansible-ubuntu-noble-octavia, kolla-ansible-debian-bookworm-ovn, kolla-ansible-rocky-10-ovn, kolla-ansible-ubuntu-noble-ovn
