Repository openstack/kolla: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-build-containers-centos-7, kolla-ansible-bifrost-centos-source, kolla-ansible-ubuntu-source-zun, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Path conditions:
  tripleo-build-containers-centos-7: any of: ^.zuul.d/centos.yaml$, ^docker/.*$, ^kolla/.*$, ^requirements.txt$, ^setup.cfg$, ^setup.py$
  kolla-ansible-bifrost-centos-source: any of: ^docker\/bifrost\/.*
  kolla-ansible-ubuntu-source-zun: any of: ^docker\/(zun|kuryr)\/.*
  kolla-base: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-centos-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-ubuntu-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-binary: unless all of: ^.*\.rst$, ^doc/.*
  kolla-build-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*
  kolla-publish-oraclelinux-source: unless all of: ^.*\.rst$, ^doc/.*

swift-rsyncd: don't recursively chown /srv/node at startup
  docker/swift/swift-base/swift_sudoers
  docker/swift/swift-rsyncd/extend_start.sh
Due: tripleo-build-containers-centos-7, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CI: Remove collectd roles
  roles/collect-collectd/files/rrdtool_graph.py
  roles/collect-collectd/tasks/main.yml
  roles/collect-collectd/templates/graph.html.j2
  roles/collectd/defaults/main.yml
  roles/collectd/handlers/main.yml
  roles/collectd/tasks/main.yml
  roles/collectd/templates/collectd.conf.j2
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Disable Searchlight for CentOS 7/source
  docker/horizon/Dockerfile.j2
  kolla/image/build.py
Due: tripleo-build-containers-centos-7, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Remove deprecated images
  doc/source/matrix_aarch64.csv
  doc/source/matrix_x86.csv
  docker/almanach/almanach-api/Dockerfile.j2
  docker/almanach/almanach-base/Dockerfile.j2
  docker/almanach/almanach-base/extend_start.sh
  docker/almanach/almanach-collector/Dockerfile.j2
  docker/dind/Dockerfile.j2
  docker/dind/start.sh
  docker/dragonflow/dragonflow-base/Dockerfile.j2
  docker/dragonflow/dragonflow-base/extend_start.sh
  docker/dragonflow/dragonflow-controller/Dockerfile.j2
  docker/dragonflow/dragonflow-metadata/Dockerfile.j2
  docker/dragonflow/dragonflow-publisher-service/Dockerfile.j2
  docker/helm-repository/Dockerfile.j2
  docker/kube/kube-apiserver/Dockerfile.j2
  docker/kube/kube-base/Dockerfile.j2
  docker/kube/kube-controller-manager/Dockerfile.j2
  docker/kube/kube-discovery/Dockerfile.j2
  docker/kube/kube-proxy/Dockerfile.j2
  docker/kube/kube-scheduler/Dockerfile.j2
  docker/kubernetes-entrypoint/Dockerfile.j2
  docker/kubetoolbox/Dockerfile.j2
  docker/macros.j2
  docker/magnum/magnum-conductor/Dockerfile.j2
  kolla/common/config.py
  kolla/image/build.py
  releasenotes/notes/remove-deprecated-images-ussuri-28547f7179202a9d.yaml
Due: tripleo-build-containers-centos-7, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Switch to Ussuri jobs
  .zuul.d/project.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Revert "Move to RDO Train packages"
  docker/base/Dockerfile.j2
  docker/collectd/Dockerfile.j2
  kolla/common/config.py
  tests/templates/template_overrides.j2
Due: tripleo-build-containers-centos-7, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

base: generate en_US.UTF-8 locale data for Debian/Ubuntu systems
  docker/base/Dockerfile.j2
Due: tripleo-build-containers-centos-7, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Revert "Use Train release for all OpenStack projects"
  kolla/common/config.py
Due: tripleo-build-containers-centos-7, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Drop openstack-tox-py27 job
  .zuul.d/project.yaml
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Use ovn-ctl script to start OVN ovsdb-servers
  docker/ovn/ovn-base/Dockerfile.j2
  docker/ovn/ovn-base/extend_start.sh
  docker/ovn/ovn-nb-db-server/Dockerfile.j2
  docker/ovn/ovn-nb-db-server/extend_start.sh
  docker/ovn/ovn-nb-db-server/start_nb_db_server.sh
  docker/ovn/ovn-sb-db-server/Dockerfile.j2
  docker/ovn/ovn-sb-db-server/extend_start.sh
  docker/ovn/ovn-sb-db-server/start_sb_db_server.sh
Due: tripleo-build-containers-centos-7, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Revert "Switch OPENSTACK_RELEASE to train"
  kolla/common/config.py
Due: tripleo-build-containers-centos-7, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Designate: pool-manager has been removed
  docker/designate/designate-central/extend_start.sh
Due: tripleo-build-containers-centos-7, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Neutron: apply db migration for BGP dynamic routing agent
  docker/neutron/neutron-server/extend_start.sh
Due: tripleo-build-containers-centos-7, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Update skydive version to 0.26.0
  docker/skydive/skydive-base/Dockerfile.j2
Due: tripleo-build-containers-centos-7, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Install Monasca plugin for Grafana by default (#39)
  docker/monasca/monasca-grafana/Dockerfile.j2
Due: tripleo-build-containers-centos-7, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

test-requirements: bump pyflakes to get f-strings support
  test-requirements.txt
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

CI: Move to CentOS 8 nodepool images
  .zuul.d/base.yaml
  .zuul.d/centos.yaml
  tests/files/process_build_logs.py
  tools/setup_RedHat.sh
Due: tripleo-build-containers-centos-7, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Start README.rst with a better title
  README.rst
Due: none

horizon: do not build neutron-vpnaas-dashboard for CentOS 7
  docker/horizon/Dockerfile.j2
Due: tripleo-build-containers-centos-7, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Horizon: install vitrage dashboard on Debian
  docker/horizon/Dockerfile.j2
Due: tripleo-build-containers-centos-7, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Switch to python3 in bindep.txt
  bindep.txt
Due: kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Add Elasticsearch Curator Docker image
  docker/elasticsearch/elasticsearch-curator/Dockerfile.j2
  docker/elasticsearch/elasticsearch-curator/extend_start.sh
  docker/elasticsearch/elasticsearch/Dockerfile.j2
  docker/elasticsearch/elasticsearch/extend_start.sh
  releasenotes/notes/add-elasticsearch-curator-88089d04f7ccd549.yaml
Due: tripleo-build-containers-centos-7, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Ensure lsb-release exists on debian/ubuntu
  docker/base/Dockerfile.j2
  kolla/common/config.py
Due: tripleo-build-containers-centos-7, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Added senlin-conductor and senlin-health-manager
  docker/senlin/senlin-conductor/Dockerfile.j2
  docker/senlin/senlin-health-manager/Dockerfile.j2
Due: tripleo-build-containers-centos-7, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Enable repos only when needed
  docker/base/Dockerfile.j2
  docker/base/crmsh.repo
  docker/base/elasticsearch.repo
  docker/base/grafana.repo
  docker/base/opendaylight.repo
  docker/base/rabbitmq_rabbitmq-server.repo
  docker/base/sources.list.debian
  docker/base/sources.list.ubuntu
  docker/base/sources.list.ubuntu.aarch64
  docker/base/sources.list.ubuntu.ppc64le
  docker/base/td.repo
  docker/ceph/ceph-base/Dockerfile.j2
  docker/cinder/cinder-base/Dockerfile.j2
  docker/elasticsearch/elasticsearch/Dockerfile.j2
  docker/fluentd/Dockerfile.j2
  docker/glance/glance-base/Dockerfile.j2
  docker/gnocchi/gnocchi-base/Dockerfile.j2
  docker/grafana/Dockerfile.j2
  docker/hacluster/hacluster-pcs/Dockerfile.j2
  docker/influxdb/Dockerfile.j2
  docker/ironic/ironic-conductor/Dockerfile.j2
  docker/kibana/Dockerfile.j2
  docker/kolla-toolbox/Dockerfile.j2
  docker/macros.j2
  docker/manila/manila-share/Dockerfile.j2
  docker/mariadb/Dockerfile.j2
  docker/nova/nova-compute/Dockerfile.j2
  docker/nova/nova-libvirt/Dockerfile.j2
  docker/opendaylight/Dockerfile.j2
  docker/qdrouterd/Dockerfile.j2
  docker/rabbitmq/Dockerfile.j2
  docker/sensu/sensu-base/Dockerfile.j2
  docker/sensu/sensu-client/Dockerfile.j2
  docker/telegraf/Dockerfile.j2
  docker/zun/zun-compute/Dockerfile.j2
  kolla/image/build.py
  kolla/template/methods.py
  kolla/template/repos.yaml
  kolla/tests/test_methods.py
  releasenotes/notes/enable-repos-when-needed-3beac8e1e24ea8eb.yaml
Due: tripleo-build-containers-centos-7, kolla-ansible-ubuntu-source-zun, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Remove skydive rpm installation
  docker/skydive/skydive-agent/Dockerfile.j2
  docker/skydive/skydive-analyzer/Dockerfile.j2
  docker/skydive/skydive-base/Dockerfile.j2
Due: tripleo-build-containers-centos-7, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Bump OpenStack versions for Train
  kolla/common/config.py
Due: tripleo-build-containers-centos-7, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Bump OpenStack versions for Stein
  kolla/common/config.py
Due: tripleo-build-containers-centos-7, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Bump OpenStack versions for Rocky
  kolla/common/config.py
Due: tripleo-build-containers-centos-7, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

drop *_existing_user_fix macros
  docker/haproxy/Dockerfile.j2
  docker/macros.j2
  docker/mongodb/Dockerfile.j2
  docker/neutron/neutron-base/Dockerfile.j2
  docker/opendaylight/Dockerfile.j2
Due: tripleo-build-containers-centos-7, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Added Neutron Mellanox agent image
  doc/source/matrix_aarch64.csv
  doc/source/matrix_x86.csv
  docker/neutron/neutron-mlnx-agent/Dockerfile.j2
  kolla/image/build.py
  releasenotes/notes/add-neutron-mlnx-agent-b77a4ad9ba3beaae.yaml
Due: tripleo-build-containers-centos-7, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Install etcd3gw to fix Ubuntu binary tooz coordination
  docker/openstack-base/Dockerfile.j2
  releasenotes/notes/add-etcd3gw-to-ubuntu-binary-1aaf4b5e1ee670ee.yaml
Due: tripleo-build-containers-centos-7, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

build: remove link to failed log before creating
  kolla/image/build.py
Due: tripleo-build-containers-centos-7, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

debian: install more things from backports
  docker/base/Dockerfile.j2
  docker/base/apt_preferences.debian
Due: tripleo-build-containers-centos-7, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source

Vitrage: build images for Debian
  docker/vitrage/vitrage-api/Dockerfile.j2
  docker/vitrage/vitrage-base/Dockerfile.j2
  docker/vitrage/vitrage-graph/Dockerfile.j2
  docker/vitrage/vitrage-ml/Dockerfile.j2
  docker/vitrage/vitrage-notifier/Dockerfile.j2
  kolla/image/build.py
Due: tripleo-build-containers-centos-7, kolla-base, kolla-build-centos-binary, kolla-publish-centos-binary, kolla-build-centos-source, kolla-publish-centos-source, kolla-build-ubuntu-binary, kolla-publish-ubuntu-binary, kolla-build-ubuntu-source, kolla-publish-ubuntu-source, kolla-build-oraclelinux-binary, kolla-publish-oraclelinux-binary, kolla-build-oraclelinux-source, kolla-publish-oraclelinux-source
